<!--<div class="cta-left-side"></div>-->
<!--<label>Download the Chart</label>-->
<!--<div class="cta-right-side">-->
    <!--<div class="share">Share</div>-->
    <!--<div class="share-icon"></div>-->
    <!--<div class="share-link"></div>-->
<!--</div>-->



<div class="download-cta-button">
    <a href="{{main-link}}" class="sympt" target="_blank">
        <img class="show-dsk" src="img/global/desktop/downl-cta.png" alt="">
        <img class="show-mbl" src="img/global/mobile/downl-cta-small.png" alt="">
        <span class="down-txt">{{{text}}}</span>
    </a>
    <a href="{{share-link}}" class="shareSympt" target="_blank" data-toggle="modal" data-target="#share" download data-type="">
        Share
        <span class="shareSympt-icon"></span>
    </a>
</div>