<div class="footer">
  <div class="footer-content">

    <!--  Beginning of the footer links    -->
    <div class="lists">
      <div class="center-page padding-footer">
        <ul class="footer-col first-col">
          <li class="subitem"><a href="index.html" class="active" onclick="ga('send', 'event', 'navigation', 'click_footer', 'home bottom nav');">Home</a></li>
          <li class="subitem"><a href="nasacort-difference.html" class="active" onclick="ga('send', 'event', 'navigation', 'click_footer', 'nasacort difference bottom nav');">Nasacort<sup>&reg;</sup> Difference</a></li>
          <li><a href="nasacort-difference.html#comparing-treatments" onclick="ga('send', 'event', 'navigation', 'click_footer', 'comparing allergy treatments bottom nav');">Comparing Allergy Treatments</a></li>
          <li><a href="nasacort-difference.html#comparing-ins" onclick="ga('send', 'event', 'navigation', 'click_footer', 'comparing otc inss bottom nav');">Comparing OTC INSs</a></li>
          <li><a href="nasacort-difference.html#comparing-opts" onclick="ga('send', 'event', 'navigation', 'click_footer', 'comparing otc options bottom nav');">Comparing OTC Options</a></li>
        </ul>
        <ul class="footer-col second-col">
          <li class="subitem"><a href="dosing-efficacy.html" class="active" onclick="ga('send', 'event', 'navigation', 'click_footer', 'dosing & efficacy bottom nav');">Dosing &amp; Efficacy</a></li>
          <li><a href="dosing-efficacy.html#dosing-information" onclick="ga('send', 'event', 'navigation', 'click_footer', 'nasacort dosing bottom nav');">Nasacort<sup>&reg;</sup> Dosing: Adults &amp; Children</a></li>
          <li><a href="dosing-efficacy.html#chart-1" onclick="ga('send', 'event', 'navigation', 'click_footer', 'proven efficacy bottom nav');">Proven Efficacy at Dose 1</a></li>
          <li><a href="dosing-efficacy.html#chart-2" onclick="ga('send', 'event', 'navigation', 'click_footer', 'continuous relief bottom nav');">Continuous Relief Over 12 Months</a></li>
          <li><a href="dosing-efficacy.html#chart-3" onclick="ga('send', 'event', 'navigation', 'click_footer', 'effective in children bottom nav');">Effective Symptom Relief in Children</a></li>
        </ul>
        <ul class="footer-col third-col">
          <li class="subitem"><a href="whats-a-clucker.html" class="active" onclick="ga('send', 'event', 'navigation', 'click_footer', 'what\'s a clucker bottom nav');">What&#39;s a Clucker?</a></li>
          <li><a href="whats-a-clucker.html#the-clucker" onclick="ga('send', 'event', 'navigation', 'click_footer', 'the clucker bottom nav');">The Clucker</a></li>
          <li><a href="whats-a-clucker.html#the-dripper" onclick="ga('send', 'event', 'navigation', 'click_footer', 'the dripper bottom nav');">The Dripper</a></li>
          <li><a href="whats-a-clucker.html#the-mouthbreather" onclick="ga('send', 'event', 'navigation', 'click_footer', 'the mouthbreather bottom nav');">The Mouthbreather</a></li>
          <li><a href="whats-a-clucker.html#the-sniffler" onclick="ga('send', 'event', 'navigation', 'click_footer', 'the sniffler bottom nav');">The Sniffler</a></li>
        </ul>
        <ul class="footer-col fourth-col">
          <li class="subitem"><a href="science-allergic-rhinitis.html" class="active" onclick="ga('send', 'event', 'navigation', 'click_footer', 'science of ar bottom nav');">Science of Allergic Rhinitis</a></li>
          <li><a href="science-allergic-rhinitis.html#affects-patients-quality-of-life" onclick="ga('send', 'event', 'navigation', 'click_footer', 'ar affects qol bottom nav');">Allergic Rhinitis Affects Patients&apos; Quality of Life</a></li>
          <li><a href="science-allergic-rhinitis.html#about-allergic-rhinitis" onclick="ga('send', 'event', 'navigation', 'click_footer', 'about ar bottom nav');">About Allergic Rhinitis</a></li>
          <li><a href="science-allergic-rhinitis.html#how-nasal-develop" onclick="ga('send', 'event', 'navigation', 'click_footer', 'how nasal allergies develop bottom nav');">How a Nasal Allergy Can Develop</a></li>
          <li><a href="science-allergic-rhinitis.html#steroids-antihistamines" onclick="ga('send', 'event', 'navigation', 'click_footer', 'intranasal steroids or ah? bottom nav');">Intranasal Steroids or Antihistamines?</a></li>
          <li><a href="science-allergic-rhinitis.html#allergies-cold-flu" onclick="ga('send', 'event', 'navigation', 'click_footer', 'allergies vs cold & flu bottom nav');">Allergies, Cold, or Flu?</a></li>
        </ul>
      </div>
    </div>
    <!--  End of the footer links    -->

    <!--  Beginning of the alternative content    -->
    <div class="alternative-content">
      <ul class="center-page inner-alternative-content">
        <li><a href="resources.html" onclick="ga('send', 'event', 'navigation', 'click_footer', 'resources global footer');">Resources</a><span class="pipe"></span></li>
        <li><a href="faqs.html" onclick="ga('send', 'event', 'navigation', 'click_footer', 'faqs global footer');">FAQs</a><span class="pipe"></span></li>
        <li><a href="drug-facts-label.html" onclick="ga('send', 'event', 'popover/modal', 'click_footer', 'drug facts label global footer');">Drug Facts Label</a><span class="pipe"></span></li>
        <li><a href="http://nasacort.com/" target="_blank" onclick="ga('send', 'event', 'site exit', 'click_footer', 'patient site global footer');">Patient Site</a></li>
        </ul>
    </div>
    <!--  End of the alternative content    -->

    <!--  Beginning of the Bottom Content    -->
    <div class="bottom-content">
      <div class="inner-bottom-content center-page">
        <ul>
          <li><a href="" data-toggle="modal" data-target="#interstitial" data-type="terms-use" onclick="ga('send', 'event', 'popover/modal', 'click_footer', 'terms of use global footer');">Terms of Use</a><span class="pipe"></span></li>
          <li><a href="" data-toggle="modal" data-target="#interstitial" data-type="privacy-policy" onclick="ga('send', 'event', 'popover/modal', 'click_footer', 'privacy policy global footer');">Privacy Policy</a><span class="pipe"></span></li>
          <li><a href="http://www.chattem.com" target="_blank" onclick="ga('send', 'event', 'site exit', 'click_footer', 'chattem.com global footer');">Chattem.com</a></li>
        </ul>

        <div class="right-side" title="Chattem—A Sanofi Company">
          <p>All content  &copy; 2016 Chattem, Inc. All rights reserved.</p>
          <div class="logo-footer"><a href="http://www.chattem.com" target="_blank"></a></div>
        </div> 
      </div>
    </div>
    <!--  End of the Bottom Content    -->
  </div>
</div>