<div class="footnote">
	<p class="switch open">Footnotes &amp; References</p>
	<div class="innImg">
		<span class="arrow-open animation open"></span>
	</div>
	<div class="close">
		<span class="x-btn"></span>
	</div>
	<div class="rfrs">
		{{{text}}}
	</div>
</div>