<div class="footer">
    <div class="footer-content">
        <div class="lists">
          <ul class="footer-col first-col">
              <li><a href="#" class="active">Home</a></li>
              <li class="subitem"><a href="#" class="active">Nasacort<sup>&reg;</sup> Difference</a></li>
              <li><a href="#">Comparing Allergy Treatments</a></li>
              <li><a href="#">Comparing OTC INSs</a></li>
              <li><a href="#">Comparing OTC Options</a></li>
          </ul>
          <ul class="footer-col second-col">
              <li><a href="#" class="active">Dosing &amp; Efficacy</a></li>
              <li><a href="#">Nasacort<sup>&reg;</sup> Dosing: Adults &amp; Children </a></li>
              <li><a href="#">Proven Efficacy at Dose 1</a></li>
              <li><a href="#">Powerful Nasal Allergy Relief</a></li>
              <li><a href="#">Effective Relief in Children</a></li>
          </ul>
          <ul class="footer-col third-col">
              <li><a href="#" class="active">What&apos;s a Clucker?</a></li>
              <li><a href="#">The Clucker</a></li>
              <li><a href="#">The Dripper</a></li>
              <li><a href="#">The Mouthbreather</a></li>
              <li><a href="#">The Sniffler</a></li>
          </ul>
          <ul class="footer-col fourth-col">
              <li><a href="#" class="active">Science of Allergic Rhinitis</a></li>
              <li><a href="#">Allergic Rhinitis Affects Patients&apos; Quality of Life</a></li>
              <li><a href="#">About Allergic Rhinitis</a></li>
              <li><a href="#">Intranasal Steroids or Antihistamines?</a></li>
              <li><a href="#">Allergies, Cold, or Flu?</a></li>
          </ul>
      </div>
      
      <div class="alternative-content">
          <ul>
              <li><a href="#">Resources</a><span class="pipe"></span></li>
              <li><a href="faq.hmtl">FAQs</a><span class="pipe"></span></li>
              <li><a href="drug-fact-label.html">Drug Facts Label</a><span class="pipe"></span></li>
              <li><a href="#">Patient Site</a></li>
          </ul>
      </div>
      
      <div class="bottom-content">
          <ul>
              <li><a href="#" target="_blank" data-toggle="modal" data-target="#interstitial" data-type="terms-use">Terms of Use</a><span class="pipe"></span></li>
              <li><a href="#" target="_blank" data-toggle="modal" data-target="#interstitial" data-type="privacy-policy">Privacy Policy</a><span class="pipe"></span></li>
              <li><a href="#">Chattem.com</a></li>
          </ul>
          <div class="right-side">
              <p>All content  &copy; 2015 Chattem, Inc. All rights reserved.</p>
              <div class="logo-footer"></div>
          </div>
      </div>
      
    </div>
</div>