<div class="footer">
    <div class="footer-content">
        <div class="lists">
          <ul class="footer-col first-col">
              <li><a href="index.html" class="active">Home</a></li>
              <li><a href="nasacort-difference.html" class="active">Nasacort<sup>&reg;</sup> Difference</a></li>
              <li><a href="nasacort-difference.html#divID">Comparing Allergy Treatments</a></li>
              <li><a href="nasacort-difference.html#divID">Comparing OTC INSs</a></li>
              <li><a href="nasacort-difference.html#divID">Comparing OTC Options</a></li>
          </ul>
          <ul class="footer-col second-col">
              <li><a href="dosing-efficacy.html" class="active">Dosing &amp; Efficacy</a></li>
              <li><a href="dosing-efficacy.html#divID">Nasacort<sup>&reg;</sup> Dosing: Adults &amp; Children </a></li>
              <li><a href="dosing-efficacy.html#divID">Proven Efficacy at Dose 1</a></li>
              <li><a href="dosing-efficacy.html#divID">Powerful Nasal Allergy Relief</a></li>
              <li><a href="dosing-efficacy.html#divID">Effective Relief in Children</a></li>
          </ul>
          <ul class="footer-col third-col">
              <li><a href="whats-a-clucker.html" class="active">What&apos;s a Clucker?</a></li>
              <li><a href="whats-a-clucker.html#the-clucker">The Clucker</a></li>
              <li><a href="whats-a-clucker.html#the-dripper">The Dripper</a></li>
              <li><a href="whats-a-clucker.html#the-mouthbreather">The Mouthbreather</a></li>
              <li><a href="whats-a-clucker.html#the-sniffler">The Sniffler</a></li>
          </ul>
          <ul class="footer-col fourth-col">
              <li><a href="science-allergic-rhinitis.html" class="active">Science of Allergic Rhinitis</a></li>
              <li><a href="science-allergic-rhinitis.html#affects-patients-quality-of-life">Allergic Rhinitis Affects Patients&apos; Quality of Life</a></li>
              <li><a href="science-allergic-rhinitis.html#about-allergic-rhinitis">About Allergic Rhinitis</a></li>
              <li><a href="science-allergic-rhinitis.html#intranasal-steroids-antihistamines">Intranasal Steroids or Antihistamines?</a></li>
              <li><a href="science-allergic-rhinitis.html#allergies-cold-flu">Allergies, Cold, or Flu?</a></li>
          </ul>
      </div>
      
      <div class="alternative-content">
          <ul>
              <li><a href="resources.html">Resources</a><span class="pipe"></span></li>
              <li><a href="faqs.html">FAQs</a><span class="pipe"></span></li>
              <li><a href="drug-facts-label.html">Drug Facts Label</a><span class="pipe"></span></li>
              <li><a href="http://nasacort.com/" target="_blank">Patient Site</a></li>
          </ul>
      </div>
      
      <div class="bottom-content">
          <ul>
              <li><a href="" data-toggle="modal" data-target="#interstitial" data-type="terms-use">Terms of Use</a><span class="pipe"></span></li>
              <li><a href="" data-toggle="modal" data-target="#interstitial" data-type="privacy-policy">Privacy Policy</a><span class="pipe"></span></li>
              <li><a href="http://www.chattem.com" target="_blank">Chattem.com</a></li>
          </ul>
          <div class="right-side">
              <p>All content  &reg; 2015 Chattem, Inc. All rights reserved.</p>
              <div class="logo-footer"><a href="http://www.chattem.com" target="_blank"></a></div>
          </div>
      </div>
      
    </div>
</div>