<div class="footnote">
	<p class="switch open">Footnotes &amp; References</p>
	<div class="innImg">
		<span class="arrow-open animation open"></span>
	</div>
	<div class="close">
		<span class="x-btn"></span>
	</div>
	<div class="rfrs">
		{{#contains section "home"}}
            {{>references-index}}
        {{/contains}}
        
        {{#contains section "nasacort-difference"}}
            {{>references-the-nasacort-difference}}
        {{/contains}}
        
        {{#contains section "dosing-and-efficacy"}}
            {{>references-dosing-and-efficacy}}
        {{/contains}}
        
        {{#contains section "whats-a-clucker"}}
            {{>references-whats-a-clucker}}
        {{/contains}}
        
        {{#contains section "science-of-allergic-rhinitis"}}
            {{>references-science-of-allergic-rhinitis}}
        {{/contains}}
        
        {{#contains section "sitemap"}}
            {{>references-sitemap}}
        {{/contains}}
	</div>
</div>