<div class="footnote" data-section="{{section}}" data-parent="{{parent}}">
	<div class="animation">
	    <div class="close-btn">
            <span class="x-btn"></span>
        </div>  
    	<div class="rfrs">
    		{{#contains section "home-1"}}
                {{>references-home-1}}
            {{/contains}}
    
            {{#contains section "home-2"}}
                {{>references-home-2}}
            {{/contains}}
    
            {{#contains section "nasacort-difference-1"}}
                {{>references-the-nasacort-difference}}
            {{/contains}}
            {{#contains section "nasacort-difference-2"}}
                {{>references-the-nasacort-difference-1}}
            {{/contains}}
            
            {{#contains section "dosing-and-efficacy"}}
                {{>references-dosing-and-efficacy}}
            {{/contains}}
            
            {{#contains section "whats-a-clucker"}}
                {{>references-whats-a-clucker}}
            {{/contains}}
            
            {{#contains section "references-science-of-allergic-rhinitis-1"}}
                {{>references-science-of-allergic-rhinitis-1}}
            {{/contains}}
            
            {{#contains section "references-science-of-allergic-rhinitis-2"}}
                {{>references-science-of-allergic-rhinitis-2}}
            {{/contains}}
            
            {{#contains section "sitemap"}}
                {{>references-sitemap}}
            {{/contains}}
    
            {{#contains section "faq1"}}
                {{>references-faqs-1}}
            {{/contains}}
    
            {{#contains section "faq2"}}
                {{>references-faqs-2}}
            {{/contains}}
            
            {{#contains section "references-dosing-efficacy-1"}}
                {{>references-dosing-efficacy-1}}
            {{/contains}}
            
            {{#contains section "references-dosing-efficacy-2"}}
                {{>references-dosing-efficacy-2}}
            {{/contains}}
            
            {{#contains section "references-dosing-efficacy-3"}}
                {{>references-dosing-efficacy-3}}
            {{/contains}}
            
            {{#contains section "references-dosing-efficacy-4"}}
                {{>references-dosing-efficacy-4}}
            {{/contains}}
    	</div>
	</div>
</div>