<div class="footnote" data-section="{{section}}" data-parent="{{parent}}">
	<div class="close-btn">
		<span class="x-btn"></span>
	</div>
	<div class="rfrs">
		{{#contains section "home-1"}}
            {{>references-home-1}}
        {{/contains}}

        {{#contains section "home-2"}}
            {{>references-home-2}}
        {{/contains}}

        {{#contains section "nasacort-difference"}}
            {{>references-the-nasacort-difference}}
        {{/contains}}
        
        {{#contains section "dosing-and-efficacy"}}
            {{>references-dosing-and-efficacy}}
        {{/contains}}
        
        {{#contains section "whats-a-clucker"}}
            {{>references-whats-a-clucker}}
        {{/contains}}
        
        {{#contains section "references-science-of-allergic-rhinitis-1"}}
            {{>references-science-of-allergic-rhinitis-1}}
        {{/contains}}
        
        {{#contains section "references-science-of-allergic-rhinitis-2"}}
            {{>references-science-of-allergic-rhinitis-2}}
        {{/contains}}
        
        {{#contains section "sitemap"}}
            {{>references-sitemap}}
        {{/contains}}

        {{#contains section "faq1"}}
            {{>references-faqs-1}}
        {{/contains}}

        {{#contains section "faq2"}}
            {{>references-faqs-2}}
        {{/contains}}
	</div>
</div>