<div class="footer">
    <div class="footer-content">
      <ul class="footer-col first-col">
          <li><a class="footer-active1" href="#">Item</a></li>
          <li><a class="footer-active2" href="#">Item</a></li>
          <li><a class="footer-active3" href="#">Item</a></li>
          <li><a class="footer-active4" href="#">Item</a></li>
      </ul>
      <ul class="footer-col second-col">
        <li><a  class="footer-active5"  href="information-for-patients.html">Information for Patients</a>
        <ul>
            <li><a class="footer-active6" href="#">Lorem ipsum dolor</a></li>
            <li><a class="footer-active7" href="#">Lorem ipsum dolor</a></li>
            <li><a class="footer-active8" href="#">Lorem ipsum dolor</a></li>
            <li><a class="footer-active9" href="#">Lorem ipsum dolor</a></li>
        </ul>
        </li>

      </ul>
      <ul class="footer-col third-col">
        <li><a href="http://www.vaccineplace.com/privacypolicy/privacypolicy.html" target="_blank">PRIVACY POLICY</a></li>
        <li><a href="http://www.vaccineplace.com/privacypolicy/terms.html" target="_blank">LEGAL NOTICE</a></li>
        <li><a class="footer-active10" href="sitemap.html">SITE MAP</a></li>
      </ul>

        <p class="footer-copy">
          <img src="img/sanofi-footer.png" alt="Sanofi"/>          <br/>

          <nobr> This site is intended for US health care professionals.</nobr>
          <br/>
          <nobr> &reg; 2015 Sanofi Pasteur Inc. </nobr>
          <br/>
          <nobr> Last Modified: XX-XXX-2015</nobr>
        </p>



    </div>
</div>