<!-- Interstitial Modal -->
<div class="modal fade" id="glass-head" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-content">
    <div class="modal-dialog">
      <span class="close-modal" id="close"></span>
      <div class="modal-header">
            <h1>Inside the Head of a Clucker</h1>
        </div>
        <div class="glass-content">
            <!------------- Maria ------------->
            <div id="maria">
                <div class="anatomy default"></div>
                <div class="anatomy itchy"></div>
                <div class="anatomy congestion"></div>
                <div class="anatomy nasal"></div>
                <div class="hotspots-container"></div>
                <div class="audio-container">
                    <p>The Clucker is characterized by irritation in her nose—some of which is caused by early-phase reactions; other symptoms are the result of the late-phase allergic cascade.</p>
                    <p>As you can hear, Maria is creating a "clucking" sound in an attempt to relieve the itch.</p>
                    <div class="audio-feature">
                        <a href="#" class="listen">Listen in</a>
                        <span class="pipe"></span>
                        <a href="#" class="volume"></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
</div>
<!-- Interstitial Modal -->