<!-- Interstitial Modal -->
<div class="modal fade" id="glass-head" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div id="media-container" playing="false"></div>
  <div class="modal-content">
    <div class="modal-dialog">
      <span class="close-modal" id="close"></span>
      <div class="modal-header">
            <h1>Inside the Head of a </h1>
        </div>
        <div class="glass-content">
            <!------------- Maria ------------->
            <div id="maria">
                <div class="anatomy default"></div>
                <div class="anatomy itchy"></div>
                <div class="anatomy congestion"></div>
                <div class="anatomy nasal"></div>
                <div class="hotspots-container"></div>
                <div class="audio-container">
                    <p>The Clucker is characterized by irritation in her nose—some of which is caused by early-phase reactions; other symptoms are the result of the late-phase allergic cascade.</p>
                    <p>As you can hear, Maria is creating a "clucking" sound in an attempt to relieve the itch.</p>
                    <div class="audio-feature">
                        <a class="listen" href="javascript:;" path="audio/Clucker.mp3">Listen in<span class="pipe"></span><span class="volume"></span></a> 
                    </div>
                </div>
            </div>
             <!------------- Mark ------------->
            <div id="mark">
                <div class="anatomy default"></div>
                <div class="anatomy nasal"></div>
                <div class="anatomy histamine"></div>
                <div class="hotspots-container"></div>
                <div class="audio-container">
                    <p>The early-phase reactions in the nasal membrane, typical of a histamine response, have resulted in the Dripper's mild symptoms.</p>
                    <p>As you can hear, Mark's sniffs indicate his nasal inflammation has not yet led to serious congestion.</p>
                    <div class="audio-feature">
                        <a href="#" class="listen" path="audio/Dripper.mp3">Listen in<span class="pipe"></span><span class="volume"></span></a>
                    </div>
                </div>
            </div>
            <!------------- Kara ------------->
            <div id="kara">
                <div class="anatomy default"></div>
                <div class="anatomy congestion"></div>
                <div class="anatomy inflamation"></div>
                <div class="hotspots-container"></div>
                <div class="audio-container">
                    <p>While the Mouthbreather may have many symptoms of allergic rhinitis, her most bothersome symptom is congestion in the nasal passageways.</p>
                    <p>As you can hear, Kara's nasal passages are so congested she needs to breathe out of her mouth, which can lead to dry, fissured lips and trouble sleeping.</p>
                    <div class="audio-feature">
                        <a href="#" class="listen" path="audio/Mouthbreather.mp3">Listen in<span class="pipe"></span><span class="volume"></span></a>
                    </div>
                </div>
            </div>
            <!------------- Liam ------------->
            <div id="liam">
                <div class="anatomy default"></div>
                <div class="anatomy itchy"></div>
                <div class="anatomy congestion"></div>
                <div class="anatomy nasal"></div>
                <div class="hotspots-container"></div>
                <div class="audio-container">
                    <p>Symptoms for this Sniffler are characterized by irritation in the nose – some of which is caused by early-phase reactions; other symptoms, such as nasal inflammation and excess mucus production, are the result of the late-phase allergic cascade.</p>
                    <p>As you can hear, Liam is struggling to manage his congestion by sniffling.</p>
                    <div class="audio-feature">
                        <a href="#" class="listen" path="audio/Sniffler.mp3">Listen in<span class="pipe"></span><span class="volume"></span></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
</div>
<!-- Interstitial Modal -->