<!-- Interstitial Modal -->
<div class="modal fade" id="glass-head" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-content">
    <div class="modal-dialog">
      <span class="close-modal" id="close"></span>
      <div class="modal-header">
            <h1>Inside the Head of a Clucker</h1>
        </div>
        <div class="glass-content">
            <div id="maria">
                <div class="default"></div>
                <div class="itchy"></div>
                <div class="congestion"></div>
                <div class="nasal"></div>
            </div>
            
        </div>
    </div>
  </div>
</div>
<!-- Interstitial Modal -->