<div id="header" class="header header-{{section}}">

  <div class="header-top">
      <div class="top-bar-container">
      <div class="top-bar">
      <div class="hcp">For U.S. Healthcare Professionals Only</div>
      <a class="sanofi-logo" target="_blank" href="http://www.sanofi.us/" onclick="ga('send', 'event', 'site exit', 'click_header', 'sanofi icon top nav');"></a>
      </div>
      </div>
    
    <div class="blue-bar">

        <div class="header-box">
        <!--<div class="shine"></div>-->
        <div class="inner-utility">
          <ul class="utility-nav">
              <li><a href="resources.html" onclick="ga('send', 'event', 'navigation', 'click_header', 'resources top nav');">RESOURCES</a></li>
              <li><a href="faqs.html" onclick="ga('send', 'event', 'navigation', 'click_header', 'faqs top nav');">FAQS</a></li>
              <li><a href="drug-facts-label.html" onclick="ga('send', 'event', 'download', 'click_header', 'drug facts label top nav');">Drug Facts Label</a></li>
              <li><a href="http://nasacort.com/" target="_blank" onclick="ga('send', 'event', 'site exit', 'click_header', 'patient site top nav');">Patient Site</a></li>
          </ul>
        </div>
        
        <a class="nassacort-logo" target="_self" href="index.html" onclick="ga('send', 'event', 'navigation', 'click_header', 'home icon top nav');"><span class="little-house"></span></a>

        <div class="menu-helper">
        <ul class="main-nav">
            <li class="item1"><a href="nasacort-difference.html" class="item" onclick="ga('send', 'event', 'navigation', 'click_header', 'nasacort difference bottom nav');"><span class="active item-left-bg"></span><span class="label">Nasacort<sup>&reg;</sup> Difference</span><span class="active item-right-bg"></span></a><span class="pipe"></span></li>
            <li class="item2"><a href="dosing-efficacy.html" class="item" onclick="ga('send', 'event', 'navigation', 'click_header', 'dosing & efficacy bottom nav');"><span class="active item-left-bg"></span><span class="label">Dosing <span class="nobr">&amp; Efficacy</span></span><span class="active item-right-bg"></span></a><span class="pipe"></span></li>
            <li class="item3"><a href="whats-a-clucker.html" class="item" onclick="ga('send', 'event', 'navigation', 'click_header', 'what\'s a clucker bottom nav');"><span class="active item-left-bg"></span><span class="label">What’s a Clucker?</span><span class="active item-right-bg"></span></a><span class="pipe"></span></li>
            <li class="item4"><a href="science-allergic-rhinitis.html" class="item" onclick="ga('send', 'event', 'navigation', 'click_header', 'science of ar bottom nav');"><span class="active item-left-bg"></span><span class="label">Science <span class="nobr">of Allergic</span> Rhinitis</span><span class="active item-right-bg"></span></a></li>
        </ul>
        </div>

        </div>

   </div>
  </div>

</div>




