<div class="header header-{{section}}">
  <div class="header-top">
    <a href="index.html" class="nassacort-logo"></a>
    <div class="top-bar">
      <ul>
        <li><a href="#" target="_self">RESOURCES</a></li>
        <li><a href="#" target="_blank">FAQS</a></li>
        <li><a href="#" target="_blank">Drug Facts Label</a></li>
        <li><a href="#" target="_blank">Patient Site</a></li>
      </ul>
      <a class="sanofi-logo" target="_blank" href="http://www.sanofipasteur.com/en/"></a>
    </div>

    <ul class="main-nav dropdown">
      <li><a href="#">Nasacort&reg; Difference</a></li>
      <li><a href="#">Dosing &amp; Efficacy</a></li>
      <li><a href="#">What’s a Clucker?</a></li>
      <li><a href="#">Science of Allergic Rhinitis </a></li>
    </ul>
  </div>
  <div class="shine"></div>

</div>




