<div id="header" class="header header-{{section}}">

  <div class="header-top">
    <div class="top-bar">     
      <div class="hcp">For U.S. Healthcare Professionals Only</div>
      <a class="sanofi-logo" target="_blank" href="http://www.sanofi.us/"></a>
    </div>
    
    <div class="blue-bar">

        <div class="header-box">
        <div class="shine"></div>
        <ul class="utility-nav">
            <li><a href="resources.html">RESOURCES</a></li>
            <li><a href="faqs.html">FAQS</a></li>
            <li><a href="drug-facts-label.html">Drug Facts Label</a></li>
            <li><a href="http://nasacort.com/" target="_blank">Patient Site</a></li>
        </ul>
        
        <a class="nassacort-logo" target="_self" href="index.html"><span class="little-house"></span></a>

        <ul class="main-nav">
            <li class="item1"><a href="nasacort-difference.html" class="item"><span class="active item-left-bg"></span><span class="label">Nasacort<sup>&reg;</sup> Difference</span><span class="active item-right-bg"></span></a><span class="pipe"></span></li>
            <li class="item2"><a href="dosing-efficacy.html" class="item"><span class="active item-left-bg"></span><span class="label">Dosing <span class="nobr">&amp; Efficacy</span></span><span class="active item-right-bg"></span></a><span class="pipe"></span></li>
            <li class="item3"><a href="whats-a-clucker.html" class="item"><span class="active item-left-bg"></span><span class="label">What’s a Clucker?</span><span class="active item-right-bg"></span></a><span class="pipe"></span></li>
            <li class="item4"><a href="science-allergic-rhinitis.html" class="item"><span class="active item-left-bg"></span><span class="label">Science <span class="nobr">of Allergic</span> Rhinitis</span><span class="active item-right-bg"></span></a></li>
        </ul>


        </div>

   </div>
  </div>

</div>




