<div class="header header-{{section}}">
  <div class="header-top">
    <div class="top-bar">     
      <a class="sanofi-logo" target="_blank" href="http://www.sanofipasteur.com/en/"></a>
    </div>
    
    <div class="blue-bar">
        <div class="shine"></div>
        <ul class="utility-nav">
            <li><a href="#" target="_self">RESOURCES</a></li>
            <li><a href="#" target="_blank">FAQS</a></li>
            <li><a href="#" target="_blank">Drug Facts Label</a></li>
            <li><a href="#" target="_blank">Patient Site</a></li>
        </ul>
        
        <a class="nassacort-logo" target="_self" href="index.html"><span class="little-house"></span></a>

        <ul class="main-nav">
            <li><a href="#" class="item"><span class="active item-left-bg"></span><span class="label">Nasacort<sup>&reg;</sup> Difference</span><span class="active item-right-bg"></span></a><span class="pipe"></span></li>
            <li><a href="#" class="item"><span class="active item-left-bg"></span><span class="label">Dosing &amp; Efficacy</span><span class="active item-right-bg"></span></a><span class="pipe"></span></li>
            <li><a href="#" class="item"><span class="active item-left-bg"></span><span class="label">What’s a Clucker?</span><span class="active item-right-bg"></span></a><span class="pipe"></span></li>
            <li><a href="#" class="item"><span class="active item-left-bg"></span><span class="label">Science of Allergic Rhinitis</span><span class="active item-right-bg"></span></a></li>
        </ul>
   </div>
  </div>
  
</div>




