

<div class="parallax">

<div id="dots-container">
    <div class="dotbox">
        <div id="sec01" data-section="mainContainer" class="dot"></div>
        <div id="sec02" data-section="section2" class="dot"></div>
        <div id="sec03"  data-section="section3" class="dot"></div>
        <div id="sec04"  data-section="section4" class="dot"></div>
        <div id="sec05"  data-section="section5" class="dot"></div>
    </div>
    <div class="dotcover"></div>
</div>

<!--  -----------------------------------------------------------------------------------------------------    -->





<div id="slide01">
    {{>footnote footnote1}}
    <a onclick="ga('send', 'event', 'text link', 'click_content', 'section 1: patients prefer text link');" href="nasacort-difference.html" id="herolink"></a>

    <div class="js-box js-zoom"  id="carousel1"></div>
    <div class="js-box"  id="carousel2"></div>
    <div class="js-box"  id="carousel3" ></div>
    <div id="lady01" class="lady01 js-lady"></div>
    <div id="lady02" class="lady02 js-lady"></div>
    <div id="lady03" class="lady03 js-lady"></div>
    <div id="product-features-bg">
        <div id="product-features-text">
            <p class="product-title">{{{product-title}}}</p>
            <p class="clinical-study">
                <span class="dataonfile">*Pharm/alert<sup>&reg;</sup> Research, November 2014.</span>
            </p>
            
            <p class="use-only">Use only as directed.</p>
        </div>
    </div>

    <div id="slide1-textbox">
        <h2>Calm the inflammatory response without irritating the senses</h2>
        <p>{{{patients-prefer}}} </p>
    </div>


    <div class="slide01-tag"></div>
</div>





<div id="slide02-03">

    <div id="slide02">
        <div class="slide02-tag"></div>

        {{>footnote footnote2}}
        <div id="bottle" ></div>
    <div id="cap"></div>
    <p id="slide2useonly" class="use-only">Use only as directed.</p>
    <div id="no-scent"></div>
        <div id="nasacort-compare">

            <h2><span  class="orange-color">Compare</span> Nasacort<sup>&reg;</sup> to other nasal allergy <span  class="orange-color">options</span></h2>
            <div class="dashbox"></div>
            <p>Nasacort<sup>&reg;</sup> Allergy 24HR is an intranasal steroid (INS)&ndash;the most effective class of nasal allergy medication, according to the latest medical guidelines.<sup class="superscript">1</sup><br>
                <strong>Nasacort<sup>&reg;</sup> is scent-free, alcohol-free, and has no harsh taste.</strong>
            </p>
            <div class="slide02-tag"></div>
            <a href="nasacort-difference.html#comparing-ins" class="compare-link" onclick="ga('send', 'event', 'button link', 'click_content', 'section 2: nasacort v flonase button');"><span class="span1">See <strong>Nasacort<sup>&reg;</sup> Allergy 24HR</strong>  vs <strong>Flonase<sup>&reg;</sup></strong></span></a>
            <a href="nasacort-difference.html#comparing-opts" class="compare-link" onclick="ga('send', 'event', 'button link', 'click_content', 'section 2: nasacort v other allergy meds button');"><span class="span2">See <strong>Nasacort<sup>&reg;</sup> Allergy 24HR</strong>  <span class='nobr nopadding'>vs <strong>Other Nasal Allergy Medications</strong></span></span></a>
        </div>
        <div id="divhelper2"></div>
     </div>




    <!--  -----------------------------------------------------------------------------------------------------    -->

    <div id="slide03"><div class="slide03-tag"></div>

        <div id="slide1-textbox">
            <h2>Calm the inflammatory response without irritating the senses</h2>
            <p>{{{patients-prefer}}} </p>
        </div>

        <div id="compare-copy">
            <div class="dashbox"></div>
            <h2>Review Nasacort<sup>&reg;</sup> dosing and efficacy facts for adults and children</h2>
            <p>Nasacort<sup>&reg;</sup> is indicated to treat allergic rhinitis in adults and children 2 years of age and older.</p>
            <a onclick="ga('send', 'event', 'button link', 'click_content', 'section 3: dosing info button');" href="dosing-efficacy.html#dosing-information" class="compare-link" onclick="ga('send', 'event', 'button link', 'click_content', 'section 3: dosing info button');"><span>See <strong>Dosing Information&mdash;</strong> <strong>Adults</strong> and <strong>Children</strong></span></a>
        </div>
        <div id="compare-bg">
            <a onclick="ga('send', 'event', 'button link', 'click_content', 'section 3: proven efficacy button');" href="dosing-efficacy.html#chart-1" class="compare-link-bottom btn01">Proven Efficacy at Dose 1*</a>
            <a onclick="ga('send', 'event', 'button link', 'click_content', 'section 3: continuous relief button');" href="dosing-efficacy.html#chart-2" class="compare-link-bottom btn02">Continuous Relief Over 12 Months </a>
            <a onclick="ga('send', 'event', 'button link', 'click_content', 'section 3: effective in children button');" href="dosing-efficacy.html#chart-3" class="compare-link-bottom btn03">Effective Symptom Relief in Children</a>
            <p class="use-only two-lines-use">*It may take up to 1 week of daily use to feel the most symptom relief. <br />
Use only as directed.</p>
        </div>
        <div id="stats"></div>
        <div id="divhelper3"></div>
        <div class="slide03-tag"></div>
    </div>





</div>

<div id="slide04-05">






    <div id="slide04">
        <p class="use-only">Use only as directed.</p>
        <div class="title">Discover <span class="orange-color">how Nasacort<sup>&reg;</sup> can help</span><br> your different nasal allergy patients</div>
        <div class="dashbox"></div>
        <div class="slide04-tag"></div>
        <div id="patient-box">
            <a href="whats-a-clucker.html#the-clucker" class="patient  patient-maria" onclick="ga('send', 'event', 'button link', 'click_content', 'section 4: the clucker button');">
                <div class="namebox">
                    <span class="name">Maria</span>
                    <span class="subname">The Clucker</span>
                </div>
                <img src="img/desktop/homepage/patient-maria.png" alt="The Clucker: Itchy nose, frequently blows nose, postnasal drip"/>
                <div class="textbox">
                    <p>Itchy nose, frequently blows nose, postnasal drip</p>
                </div>
            </a>

            <a href="whats-a-clucker.html#the-dripper" class="patient patient-mark" onclick="ga('send', 'event', 'button link', 'click_content', 'section 4: the dripper button');">
                <div class="namebox">
                    <span class="name">Mark</span>
                    <span class="subname">The Dripper</span>
                </div>
                <img src="img/desktop/homepage/patient-mark.png" alt="The Dripper: Mild rhinorrhea, sneezing"/>
                <div class="textbox">
                    <p>Mild rhinorrhea, sneezing</p>
                </div>
            </a>

            <a href="whats-a-clucker.html#the-mouthbreather" class="patient patient-kara" onclick="ga('send', 'event', 'button link', 'click_content', 'section 4: the mouthbreather button');">
                <div class="namebox">
                    <span class="name">Kara</span>
                    <span class="subname">The Mouthbreather</span>
                </div>
                <img src="img/desktop/homepage/patient-kara.png" alt='The Mouthbreather: Severe nasal congestion. "Feels like I have a permanent cold"'/>
                <div class="textbox">
                    <p>Severe nasal congestion. "Feels like I have a permanent cold"</p>
                </div>
            </a>

            <a href="whats-a-clucker.html#the-sniffler" class="patient patient-liam" onclick="ga('send', 'event', 'button link', 'click_content', 'section 4: the sniffler button');">
                <div class="namebox">
                    <span class="name">Liam</span>
                    <span class="subname">The Sniffler</span>
                </div>
                <img src="img/desktop/homepage/patient-liam.png" alt="The Sniffler: Itchy nose, frequently runny nose, postnasal drip"/>
                <div class="textbox">
                    <p>Itchy nose, frequently runny nose, postnasal drip</p>
                </div>
            </a>
        </div>
        <div id="divhelper4"></div>
    </div>

    <!--  -----------------------------------------------------------------------------------------------------    -->

    <div id="slide05">
        <div class="slide05-tag"></div>
        <div id="understand-box">
            <h2>Help your patients better understand allergic rhinitis</h2>
            <a href="science-allergic-rhinitis.html#how-nasal-develop" class="understand-link" onclick="ga('send', 'event', 'button link', 'click_content', 'section 5: how allergies develop button');">How a Nasal Allergy Can Develop</a>
            <a href="science-allergic-rhinitis.html#steroids-antihistamines" class="understand-link" onclick="ga('send', 'event', 'button link', 'click_content', 'section 5: ins or ah? button');">Intranasal Steroids or Antihistamines?</a>
            <a href="science-allergic-rhinitis.html#allergies-cold-flu" class="understand-link" onclick="ga('send', 'event', 'button link', 'click_content', 'section 5: allergies or cold/flu? button');">Allergies, Cold, or Flu?</a>
        </div>

        <p class="use-only">Use only as directed.</p>
        <div id="divhelper5"></div>
    </div>


    <div id="pollen-1" class="particle"></div>
    <div id="pollen-2" class="particle"></div>
    <div id="pollen-3" class="particle"></div>
    <div id="pollen-4" class="particle green"></div>
    <div id="pollen-5" class="particle green"></div>
    <div id="pollen-6" class="particle green"></div>

    <div id="pollen-7" class="particle pink"></div>
    <div id="pollen-8" class="particle dark"></div>

    <div id="pollen-9" class="particle"></div>
    <div id="pollen-10" class="particle green"></div>
    <div id="pollen-11" class="particle green"></div>
    <div id="pollen-12" class="particle"></div>
    <div id="pollen-13" class="particle green"></div>

    <div id="pollen-14" class="particle dark"></div>
    <div id="pollen-15" class="particle"></div>
</div>





</div>