<div class="parallax">

    <div id="yellow-spike"></div><div id="background"></div>
    <div id="dots-container">
        <div class="dotbox"><div data-section="mainContainer" class="dot"></div><div data-section="section2" class="dot"></div><div data-section="section3" class="dot"></div><div data-section="section4" class="dot"></div><div data-section="section5" class="dot"></div></div>
    </div>

    <!--  -----------------------------------------------------------------------------------------------------    -->

    <div id="slide01">


        <div class="js-box js-zoom"  id="carousel1"></div>
        <div class="js-box"  id="carousel2"></div>
        <div class="js-box"  id="carousel3" ></div>

        <div id="lady01" class="lady01 js-lady"></div>
        <div id="lady02" class="lady02 js-lady"></div>
        <div id="lady03" class="lady03 js-lady"></div>






        <div id="product-features-bg">
            <div id="product-features-text">
                <p class="product-title">{{{product-title}}}</p>
                <p class="clinical-study">*In a clinical study, based on sensory attributes, patients preferred Nasacort over Flonase<sup>&reg;</sup>.<span class="dataonfile">Data on file.</span></p>
                <p class="use-only">Use only as directed.</p>
            </div>
        </div>



    </div>


    <!--  -----------------------------------------------------------------------------------------------------    -->



    <div id="slide02">


        {{>footnote footnote1}}

        {{>footnote footnote2}}



        <div id="bottle" ></div>
        <div id="cap"></div>



        <div id="no-scent"></div>
        <div id="nasacort-compare">

            <h2><span  class="orange-color">Compare</span> Nasacort<sup>&reg</sup> to Flonase<sup>&reg</sup> and other nasal allergy <span  class="orange-color">options</span></h2>


            <div class="dashbox"></div>

            <p>Nasacort<sup>&reg</sup> Allergy 24HR is an intranasal steroid (INS)&ndash;the most effective class of nasal allergy medication, according to the latest medical guidelines.<sup class="superscript">1</sup><br>
                <strong> Nasacort<sup>&reg</sup> is the only over-the-counter INS that is scent-free, alcohol-free, and has no harsh taste.  </strong>
                In a clinical study* based on sensor attributes, patients preferred Nasacort<sup>&reg;</sup> over Flonase<sup>&reg;</sup>.
            </p>

            <a href="nasacort-difference.html#comparing-otc-ins" class="compare-link"><span>See <strong>Nasacort<sup>&reg</sup> Allergy 24HR</strong>  vs <strong>Flonase<sup>&reg</sup></strong></span></a>
            <a href="nasacort-difference.html#comparing-otc-options" class="compare-link"><span class="span2">See <strong>Nasacort<sup>&reg</sup> Allergy 24HR</strong>  <span class='nobr nopadding'>vs <strong>Other Nasal Allergy Medications</strong></span></span></a>

        </div>


    </div>


    <!--  -----------------------------------------------------------------------------------------------------    -->



    <div id="slide03">

        <div id="slide1-textbox">
            <h2>Calm the inflammatory response without irritating the senses</h2>
            <p>{{{patients-prefer}}} </p>
        </div>

        <a href="nasacort-difference.html" class="herolink"></a>

        <div id="compare-copy">
            <div class="dashbox"></div>
            <h2>Review Nasacort<sup>&reg</sup> dosing and efficacy facts for adults and children</h2>
            <p>Nasacort<sup>&reg</sup> is indicated to treat allergic rhinitis in adults and children 2 years of age and older.</p>
            <a href="dosing-efficacy.html#dosing-information" class="compare-link"><span>See <strong>Dosing Information&mdash;</strong> <strong>Adults</strong> and <strong>Children</strong></span></a>
        </div>
        <div id="compare-bg">
            <a href="dosing-efficacy.html#proven-efficacy" class="compare-link-bottom btn01"></a>
            <a href="dosing-efficacy.html#nasal-allergy-symptom-relief" class="compare-link-bottom btn02"></a>
            <a href="dosing-efficacy.html#symptom-relief-in-children" class="compare-link-bottom btn03"></a>
        </div>
        <div id="stats"></div>
    </div>



    <!--  -----------------------------------------------------------------------------------------------------    -->



    <div id="slide04">
        <p class="use-only">Use only as directed.</p>
        <div class="title">Discover <span class="orange-color">how Nasacort<sup>&reg;</sup> can help</span><br> your different nasal allergy patients</div>
        <div class="dashbox"></div>
        <div id="patient-box">
            <div class="patient  patient-maria">
                <div class="namebox">
                    <span class="name">Maria</span>
                    <span class="subname">The Clucker</span>
                </div>
                <img src="img/desktop/homepage/patient-maria.png" alt="The Clucker: Itchy nose, frequently blows nose, postnasal drip"/>
                <div class="textbox">
                    <p>Itchy nose, frequently blows nose, postnasal drip</p>
                </div>
            </div>

            <div class="patient patient-mark">
                <div class="namebox">
                    <span class="name">Mark</span>
                    <span class="subname">The Dripper</span>
                </div>
                <img src="img/desktop/homepage/patient-mark.png" alt="The Dripper: Mild rhinorrhea, sneezing"/>
                <div class="textbox">
                    <p>Mild rhinorrhea, sneezing</p>
                </div>
            </div>

            <div class="patient patient-kara">
                <div class="namebox">
                    <span class="name">Kara</span>
                    <span class="subname">The Mouthbreather</span>
                </div>
                <img src="img/desktop/homepage/patient-kara.png" alt='The Mouthbreather: Severe nasal congestion. "Feels like I have a permanent cold"'/>
                <div class="textbox">
                    <p>Severe nasal congestion. "Feels like I have a permenet cold"</p>
                </div>
            </div>

            <div class="patient patient-liam">
                <div class="namebox">
                    <span class="name">Liam</span>
                    <span class="subname">The Sniffler</span>
                </div>
                <img src="img/desktop/homepage/patient-liam.png" alt="The Sniffler: Itchy nose, frequently runny nose, postnasal drip"/>
                <div class="textbox">
                    <p>Itchy nose, frequently runny nose, postnasal drip</p>
                </div>
            </div>
        </div>

    </div>



    <!--  -----------------------------------------------------------------------------------------------------    -->




    <div id="slide05">
        <div id="understand-box">
            <h2>Help your patients better understand allergic rhinitis</h2>
            <a href="nasacort-difference.html#comparing-otc-ins" class="understand-link">How a Nasal Allergy Can Develop</a>
            <a href="nasacort-difference.html#comparing-otc-ins" class="understand-link">Intranasal Steroids or Antihistamines?</a>
            <a href="nasacort-difference.html#comparing-otc-ins" class="understand-link">Allergies, Cold, or Flu?</a>
        </div>
        <p class="use-only">Use only as directed.</p>
    </div>



    <!--  -----------------------------------------------------------------------------------------------------    -->


    <div class="separador-01"></div>
    <div id="brandlogo-tr">01</div>

    <div class="separador-02"></div>
    <div id="brandlogo2-tr">02</div>
    <div id="section2" class="bloque"></div>
    <div class="separador-01"></div>


    <div id="brandlogo8-tr">08</div>
    <div class="separador-03"></div>
    <div id="section3" class="bloque"></div>


    <div class="separador-01"></div>


    <div id="brandlogo9-tr">08</div>
    <div class="separador-04"></div>
    <div id="section4" class="bloque"></div>


    <div style="height: 20em"   ></div>


    <div id="brandlogo10">08</div>
    <div class="separador-05"></div>
    <div id="section5" class="bloque"></div>












</div>


