<div class="home-mobile">



    <div class="product-cover">
        <div class="carousel">



            <h2>Calm the inflammatory responsewithout irritating the senses</h2>



        </div>



        <p class="product-title">{{{$product-title}}}</p>


        <p class="product-subtitle">{{{patients-prefer}}}</p>




    </div>

</div>

