

<div class="home-mobile">
	<!-- Start of the Slider -->
	<div class="slider">
		<div class="bgcarousel" id="carousel-mobile-1"></div>
        <div class="bgcarousel" id="carousel-mobile-2"></div>
        <div class="bgcarousel" id="carousel-mobile-3"></div>
		<div class="borderbottom">
			<p>Nasacort<sup>®</sup> is the <span class="clr-org">only unscented</span> OTC INS</p>
			<img src="../img/mobile/homepage/product.png" alt="" class="product">
		</div>
	</div>
	<!-- End of the Slider -->

	<!-- Start of the Preference -->
	<div class="preference-section">
		<div class="back-preference">
			<div class="preference-parr">
				<p>Patients prefer* Nasacort<sup>®</sup> Allergy 24HR—it’s <a href="#comparing-otc-ins" class="clr-blu">SCENT-FREE</a>, <a href="#comparing-otc-ins" class="clr-blu">ALCOHOL-FREE</a>, and has <a href="#comparing-otc-ins" class="clr-blu">NO HARSH TASTE</a></p>
			</div>
			<div class="preference-img">
				<img src="../img/mobile/homepage/restriction-preference.png" alt="">
			</div>
		</div>
		<p class="data-inner spc-marg">*In a clinical study, based on sensory attributes, patients preferred Nasacort<sup>®</sup> over Flonase<sup>®</sup>. Data on file.</p>
	</div>
	{{>footnote footnote1}}
	<p class="data-inner spc-pdd spc-marg">Use only as directed.</p>
	<!-- End of the Preference -->

	<!-- Start of the comparation -->
	<div class="comparation-section">
		<div class="inner-comparation">
			<div class="head-inner">
				<p><span class="clr-org">Compare</span> Nasacort<sup>®</sup> to Flonase<sup>®</sup> and other nasal allergy <span class="clr-org">options</span></p>
			</div>
			<div class="inner-ctas">
				<a href="#" class="cta">
					<span>See Nasacort<sup>®</sup> Allergy 24HR vs Flonase<sup>®</sup></span>
				</a>
				<a href="#" class="cta">
					<span>See Nasacort<sup>®</sup> Allergy 24HR vs Other Nasal Allergy Medications</span>
				</a>
			</div>
		</div>
	</div>
	<p class="data-inner">Use only as directed.</p>
	<!-- End of the comparation -->

	<!-- Start of the Review -->
	<div class="review-section">
		<div class="inner-review">
			<div class="head-inner">
				<p>Review Nasacort<sup>®</sup> dosing and efficacy facts for adults and children</p>
			</div>
			<div class="inner-ctas">
				<a href="#" class="cta">
					<span>See Dosing Information—Adults and Children</span>
				</a>
			</div>
		</div>
	</div>
	<p class="data-inner">Use only as directed.</p>
	<!-- Start of the Review -->

	<!-- Start of the Discover-->
	<div class="discover-section">
		<div class="inner-discover">
			<div class="head-inner">
				<p>Discover <span class="clr-org">how Nasacort<sup>®</sup> can help</span> your different nasal allergy patients</p>
			</div>
			<div class="inner-ctas">
				<a href="#" class="cta in-cta maria-img">
					<div class="cta-txt">
						<span class="small-txt">Maria </span>
						<span class="bold-txt">The Clucker</span>
					</div>
				</a>
				<a href="#" class="cta mark-img">
					<div class="cta-txt">
						<span class="small-txt">Mark </span>
						<span class="bold-txt">The Dripper</span>
					</div>
				</a>
				<a href="#" class="cta in-cta kara-img">
					<div class="cta-txt">
						<span class="small-txt">Kara </span>
						<span class="bold-txt">The Mouth-breather</span>
					</div>
				</a>
				<a href="#" class="cta liam-img">
					<div class="cta-txt">
						<span class="small-txt">Liam </span>
						<span class="bold-txt">The Sniffler</span>
					</div>
				</a>
			</div>
		</div>
	</div>
	<p class="data-inner">Use only as directed.</p>
	<!-- Start of the Discover -->

	<!-- Start of the Help-->
	<div class="help-section">
		<div class="inner-help">
			<div class="head-help">
				<p>Help your patients better understand allergic rhinitis</p>
			</div>
			<div class="inner-ctas">
				<a href="#" class="cta">
					<span>How a Nasal Allergy Can Develop</span>
				</a>
				<a href="#" class="cta">
					<span>Intranasal Steroids or Antihistamines?</span>
				</a>
				<a href="#" class="cta">
					<span>Allergies, Cold, or Flu?</span>
				</a>
			</div>
		</div>
	</div>
	<p class="data-inner">Use only as directed.</p>
	<!-- End of the Help-->
</div>

