

<div class="home-mobile">
	<!-- Start of the Slider -->
	<div class="slider">
		<div class="bgcarousel" id="carousel-mobile-1">
			<h1>Calm the inflammatory response without irritating the senses</h1>
			<p>{{{patients-prefer}}} </p>
		</div>
        <div class="bgcarousel" id="carousel-mobile-2">
        	<h1>Calm the inflammatory response without irritating the senses</h1>
					<p>{{{patients-prefer}}} </p>
        </div>
        <div class="bgcarousel" id="carousel-mobile-3">
        	<h1>Calm the inflammatory response without irritating the senses</h1>
					<p>{{{patients-prefer}}} </p>
        </div>
		<div class="borderbottom">
			<!--<p><strong>#1</strong> Pharmacist Recommended <br /><span class='orange-color'>Scent-free</span> OTC INS*</p>-->
			<img src="../img/mobile/homepage/product.png" alt="Nasacort® Allergy 24HR package" class="product">
		</div>
	</div>
	<!-- End of the Slider -->

	<!-- Start of the Preference -->
	<div class="preference-section">
		<div class="back-preference">
			<div class="preference-parr">
				<p>Nasacort<sup>®</sup> Allergy 24HR is <a href="nasacort-difference.html#comparing-allergy-treatments" class="clr-blu">SCENT-FREE</a>, <a href="nasacort-difference.html#comparing-allergy-treatments" class="clr-blu">ALCOHOL-FREE</a> and has <a href="nasacort-difference.html#comparing-allergy-treatments" class="clr-blu">NO HARSH TASTE.</a></p>
			</div>
			<div class="preference-img">
				<img src="../img/mobile/homepage/restriction-preference.png" alt="Scent-free and alcohol-free">
			</div>
		</div>
		<p class="data-inner spc-marg"></p>
	</div>
	<p class="data-inner spc-pdd spc-marg">*In a clinical study based on sensory attributes, patients preferred Nasacort over Flonase.</p>
	<p class="data-inner spc-pdd spc-marg dataonfile">*Pharm/alert<sup>&reg;</sup> Research, November 2014.</p>
	<p class="data-inner spc-pdd spc-marg">Use only as directed.</p>
	<!-- End of the Preference -->

	<!-- Start of the comparation -->
	<div class="comparation-section" title="No scent, no alcohol, no harsh taste">
		<div class="inner-comparation">
			<div class="head-inner">
				<p><span class="clr-org">Compare</span> Nasacort<sup>®</sup> to other nasal allergy <span class="clr-org">options</span></p>
			</div>
			<div class="inner-ctas">
				<a href="nasacort-difference.html#comparing-otc-ins" class="cta cta-restr" onclick="ga('send', 'event', 'button link', 'click_content', 'section 2: nasacort v flonase button');">
					<span class="light">See <strong>Nasacort<sup>®</sup> Allergy 24HR</strong> vs <strong>Flonase<sup>®</sup></strong></span>
				</a>
				<a href="nasacort-difference.html#comparing-otc-options" class="cta cta-restr" onclick="ga('send', 'event', 'button link', 'click_content', 'section 2: nasacort v other allergy meds button');">
					<span class="light">See <strong>Nasacort<sup>®</sup> Allergy 24HR</strong> vs <strong class="tablet-block">Other Nasal Allergy Medications</strong></span>
				</a>
			</div>
		</div>
	</div>
	{{>footnote footnote2}}
	<p class="data-inner spc-pdd spc-marg">Use only as directed.</p>
	<!-- End of the comparation -->

	<!-- Start of the Review -->
	<div class="review-section" title="Nasacort® is indicated for ages 2 and up">
		<div class="inner-review">
			<div class="head-inner" title="Nasacort® is indicated for ages 2 and up">
				<p>Review Nasacort<sup>®</sup></p>
				<p>dosing and efficacy facts for adults and children</p>
			</div>
			<div class="inner-ctas">
				<a href="dosing-efficacy.html#effective-sympton-in-children" class="cta cta-restr" onclick="ga('send', 'event', 'button link', 'click_content', 'section 3: dosing info button');">
					<span class="light">See <strong>Dosing Information—Adults</strong> and <strong>Children</strong></span>
				</a>
			</div>
		</div>
	</div>
	<p class="data-inner spc-marg-1 spc-marg">Use only as directed.</p>
	<!-- Start of the Review -->

	<!-- Start of the Discover-->
	<div class="discover-section">
		<div class="inner-discover">
			<div class="head-inner">
				<p>Discover <span class="clr-org">how Nasacort<sup>®</sup> can help</span> your different nasal allergy patients</p>
			</div>
			<div class="inner-ctas">
				<a href="whats-a-clucker.html#meet-maria" class="cta in-cta maria-img" onclick="ga('send', 'event', 'button link', 'click_content', 'section 4: the clucker button');">
					<div class="cta-txt" title="The Clucker: Itchy nose, frequently blows nose, postnasal drip">
						<span class="small-txt">Maria </span>
						<span class="bold-txt">The Clucker</span>
					</div>
				</a>
				<a href="whats-a-clucker.html#meet-mark" class="cta mark-img" onclick="ga('send', 'event', 'button link', 'click_content', 'section 4: the dripper button');">
					<div class="cta-txt" title="The Dripper: Mild rhinorrhea, sneezing">
						<span class="small-txt">Mark </span>
						<span class="bold-txt">The Dripper</span>
					</div>
				</a>
				<a href="whats-a-clucker.html#meet-kara" class="cta in-cta kara-img" onclick="ga('send', 'event', 'button link', 'click_content', 'section 4: the mouthbreather button');">
					<div class="cta-txt" title="The Mouthbreather: Severe nasal congestion. “Feels like I have a permanent cold">
						<span class="small-txt">Kara </span>
						<span class="bold-txt">The Mouth<p class="hideintouchscreen">-</p>breather</span>
					</div>
				</a>
				<a href="whats-a-clucker.html#meet-liam" class="cta liam-img" onclick="ga('send', 'event', 'button link', 'click_content', 'section 4: the sniffler button');">
					<div class="cta-txt" title="The Sniffler: Itchy nose, frequently runny nose, postnasal drip">
						<span class="small-txt">Liam </span>
						<span class="bold-txt">The Sniffler</span>
					</div>
				</a>
			</div>
		</div>
	</div>
	<p class="data-inner spc-marg-1 spc-marg">Use only as directed.</p>
	<!-- Start of the Discover -->

	<!-- Start of the Help-->
	<div class="help-section">
		<div class="inner-help">
			<div class="head-help">
				<p>Help your patients better understand allergic rhinitis</p>
			</div>
			<div class="inner-ctas low-links">
				<a href="nasacort-difference.html#comparing-otc-ins" class="cta cta-restr" onclick="ga('send', 'event', 'button link', 'click_content', 'section 5: how allergies develop button');">
					<span>How a Nasal Allergy Can Develop</span>
				</a>
				<a href="nasacort-difference.html#comparing-otc-ins" class="cta cta-restr" onclick="ga('send', 'event', 'button link', 'click_content', 'section 5: ins or ah? button');">
					<span>Intranasal Steroids or Antihistamines?</span>
				</a>
				<a href="nasacort-difference.html#comparing-otc-ins" class="cta cta-restr cta-last" onclick="ga('send', 'event', 'button link', 'click_content', 'section 5: allergies or cold/flu? button');">
					<span>Allergies, Cold, or Flu?</span>
				</a>
			</div>
		</div>
	</div>
	<p class="data-inner spc-marg-1 spc-marg">Use only as directed.</p>
	<!-- End of the Help-->
</div>
