<!-- Interstitial Modal -->
<div class="modal fade" id="interstitial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="top-corner"></div>
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <div class="modal-title"></div>
      </div>
      <div class="modal-body">
        <p class="sanofi-pasteur js-sanofi-pasteur"><i>By clicking on this link, you will be leaving this Sanofi Pasteur website and going to another Sanofi Pasteur website.</i></p>
        <p class="sanofi-pasteur js-sanofi-pasteur"><br><i>This link has opened in a new window. To return to your original site, please close this new window.</i></p>
        <p class="third-party js-third-party"><i>By clicking on this link, you will be leaving this Sanofi Pasteur website and going to another, entirely independent website. Sanofi Pasteur provides this link as a service to its website visitors; however, it takes no responsibility for the information presented on any website but its own.</i></p>
        <p class="third-party js-third-party"><br><i>This link has opened in a new window. To return to your original site, please close this new window.</i></p>
      </div>
      <div class="modal-footer">  
        <a class="btn-default" href="#" target="_blank" data-dismiss="modal" id="go">Click here to go to the page you requested.</a>
        <a class="btn-default" href="#" data-dismiss="modal">Click here to close this window to return to the site.</a>
      </div>
      <div class="bottom-corner"></div>
    </div>
  </div>
</div>
<!-- Interstitial Modal -->


