<div class="references">
    <p><sup>a</sup>Measured before second dose. </br>
    <sup>b</sup>Measured over the last 2-week (post-titration) periods. </br>
    <sup>c</sup>Nasal index is the sum of congestion, nasal discharge, and sneezing. 
    </p>
    
    <p><strong>References: 1.</strong> Settipane G, Korenblat PE, Winder J, et al. Triamcinolone acetonide aqueous nasal spray in patients with seasonal ragweed allergic rhinitis: a placebo-controlled, double-blind study. Clin. Ther Itl. 1995;17(2):252-263. <strong>2.</strong> Data on file. Sanofi-aventis U.S.</p> 
</div>