<div class="references">
    <p><sup>a</sup><span style="font-style: italic;">P</span>&#60;0.05 vs placebo. </p>
    <p><sup>b</sup>Nasal index is the sum of congestion, nasal discharge, and sneezing scores.</p>
    <p><strong>References: 1.</strong>Weinstein S, Qaqundah P, Georges G, Nayak A. Efficacy and safety of triamcinolone acetonide aqueous nasal spray in children aged 2 to 5 years with perennial allergic rhinitis: a randomized, double-blind, placebo-controlled study with an open-label extension. <i>Ann Allergy Asthma Immunol.</i> 2009;102(4):339-347. <strong>2.</strong> Schenkel EJ, Gross G, Jacobson K, et al. Triamcinolone acetonide aqueous nasal inhaler for the treatment of spring grass seasonal allergic rhinitis in children. <i>Pediatr Asthma Allergy Immunol.</i> 1997;11(2):129-136.</p> 
</div>