<div class="references">
    <p><strong>References: 1.</strong> Afrin Drug Facts. Accessed June 12, 2015. <strong>2.</strong> Benadryl Drug Facts. Accessed June 12, 2015. <strong>3.</strong> Claritin Drug Facts. Accessed June 12, 2015. <strong>4.</strong> Flonase Drug Facts. Accessed June 12, 2015. <strong>5.</strong> Sudafed Drug Facts. Accessed June 12, 2015. <strong>6.</strong> Zyrtec Drug Facts. Accessed June 12, 2015.</p>
</div>