<div class="references">

	<p>FLONASE is a registered trademark, used under license by GlaxoSmithKline Inc.</p>
    <p><strong>Reference: 1.</strong> Flonase Allergy Relief question and answer book. 14-0033AWL. Clifton, NJ: GlaxoSmithKline; 2014. http://www.accessdata.fda.gov/drugsatfda_docs/label/2014/205434Orig1s000lbl.pdf. Accessed March 16, 2015. </p>
</div>