<div class="references">
    <p><sup>a</sup>The growth rate of some children may be slower while using this product. If children need to use Nasacort<sup>®</sup> for longer than 2 months a year, they should see a doctor.</br>
    <sup>b</sup>An adult should supervise use. </p>
</div>