<div class="references">
    <p><strong>Reference: 1.</strong> Koepke JW, Beaucher WN, Kobayashi RH, et al. Long-term safety and efficacy of triamcinolone acetonide aqueous nasal spray for the treatment of perennial allergic rhinitis. <i>Allergy Asthma Proc.</i> 1997;18(1):33-37.</p> 
</div>