<div class="references">
    <p><sup>a</sup>Baseline at the beginning of the double-blind treatment period.</br>
    <sup>b</sup>Nasal index is the sum of congestion, nasal discharge, and sneezing scores.</p>
    <p><strong>Reference: 1.</strong> Koepke JW, Beaucher WN, Kobayashi RH, et al. Long-term safety and efficacy of triamcinolone acetonide aqueous nasal spray for the treatment of perennial allergic rhinitis. Allergy Asthma Proc. 1997;18(1):33-37.</p> 
</div>