<div class="references">
<p>*Data on file.</p>
<p>FLONASE is a registered trademark, used under license by GlaxoSmithKline Inc.</p>
<p><strong>References: 1.</strong> Wallace DV, Dykewicz MS, Bernstein DI, et al; Joint Task Force on Practice Parameters; American Academy of Allergy, Asthma & Immunology; American College of Allergy, Asthma and Immunology; Joint Council of Allergy, Asthma and Immunology. The diagnosis and management of rhinitis: an updated practice parameter. J Allergy Clin Immunol. 2008;122<span class='nobr'>(suppl 2)</span>:S1-S84.</p>
</div>
