<div class="references">
    <p><strong>References: 1.</strong> Wallace DV, Dykewicz MS, Bernstein DI, et al; Joint Task Force on Practice Parameters; American Academy of Allergy, Asthma &amp; Immunology; American College of Allergy, Asthma and Immunology; Joint Council of Allergy, Asthma and Immunology. The diagnosis and management of rhinitis: an updated practice parameter. J Allergy Clin Immunol. 2008;122(suppl 2):S1-S84. 2. Luskin AT, Scherger JE, Pollart SM. Beyond the nose: the systemic inflammatory effects of allergic rhinitis. Hosp Physician. 2004;40(2):13-22.</p>
</div>