<div class="references">
    <p><strong>References: 1.</strong> Nathan RA. The burden of allergic rhinitis. Allergy Asthma Proc. 2007;28(1):3-9. <strong>2.</strong> Blaiss MS, Meltzer EO, Derebery MJ, Boyle JM. Patient and healthcare-provider perspectives on the burden of allergic rhinitis. Allergy Asthma Proc. 2007;28(suppl 1):S4-S10.</p>
</div>
