<div class="references">
    <div class="ref-header" id="references">References Sciences</div>
    <ul class="code references">
      <li><span class="ref-num">1.</span>Lorem ipsumx</li>
      <li><span class="ref-num">2.</span>Lorem ipsum  <a href="#" target="_blank" data-toggle="modal" data-target="#interstitial" data-type="reference"> http://link</a> dolor sum.</li>
      <li><span class="ref-num">3.</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    </ul>
</div>