<!-- Interstitial Modal -->
<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-content">
    <div class="modal-dialog">
      <span class="close-modal" id="close"></span>
      <div class="modal-header">
      <h1>Share</h1>
    </div>
    <div class="modal-intro">
      <p></p>
    </div>
    <div class="modal-text">
        
    </div>
    <div class="modal-text js-policy">
    </div>
    </div>
  </div>
</div>
<!-- Interstitial Modal -->