<!-- Interstitial Modal -->
<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-content">
    <div class="modal-dialog">
      <span class="close-modal" id="close"></span>
      <div class="modal-header">
            <h1>Share</h1>
        </div>
        <div class="form-content">
            <form id="share-form">
                <fieldset>
                    <div class="left-column">
                        <div class='your-name'>
                            <label>Your name: </label>
                            <input type='text' name='yourName' value='' autocapitalize='off'/>
                        </div>
                        <div class='your-email'>
                            <label>Your e-mail address </label>
                            <input type='text' name='yourEmail' value='' value='' autocapitalize='off'/>
                        </div>
                    </div>
                    <div class="right-column">
                        <div class='recipient-name'>
                            <label>Recipient's name: </label>
                            <input type='text' name='recipientName' value='' autocapitalize='off'/>
                        </div>
                        <div class='recipient-email'>
                            <label>Recipient's e-mail address </label>
                            <input type='text' name='recipientEmail' value='' value='' autocapitalize='off'/>
                        </div>
                    </div>
                    <div class="bottom-content">
                        <div class="left-column">
                            <span class="all-fields">All fields are required.</span>
                            <p>Name and e-mail address will be used only for the purpose of sharing this page and will not be used for any other purpose.</p>
                        </div>
                        <div class="right-column">
                            <input type='reset' value='Cancel' class='button button-cancel'/>
                            <input type='submit' value='Send' class='button button-send'/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
  </div>
</div>
<!-- Interstitial Modal -->