$grey-background: #f4f4f4;
$light-blue: #dcecf5;
$middle-blue: #0d4a84;

.dosing-and-efficacy-section{
    .first-container{
          margin-bottom: -55px;
      }
}

.content-dosing-and-efficacy{
  position: relative;
  overflow: hidden;
  padding-left: #{fluid-percentage($site-max-width, 213)};
  padding-right: #{fluid-percentage($site-max-width, 213)};
  padding-bottom:6px;
  
  .use-directed{
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: right;
    position:relative;
    right:-#{fluid-percentage($site-max-width, 270)};
  }
  a{
    color:$color-cyan-text;
  }
  h1{
      width:55%;
  }
}

.hero-dosing-and-efficacy{
  background:url("../img/desktop/dosingEfficacy/bg-hero-dosingEfficacy.jpg") no-repeat top center;
  display: block;
  position:relative;
  height: 442px;
  background-size:100% contain;
  .img-womn{
    position:absolute;
    right: 15%;
    top: 12px;
  }
}

.dosing-information{
  h2{
    font-size: 34px;
    line-height: 39px;
    margin: 0;
  }
  p{
    margin-top:26px; 
  }
  .img-chart{
    display: block;
    width: 100%;
    text-align: center;
  }
  .footnote{
      margin-top: -156px;
  }
}

.video-sect-dosing{
  background-color: $grey-background;
  display:block;
  width:100%;
  overflow:hidden;
  height:374px;
  position: relative;
  
  h2{
    margin-bottom: 0;
    margin-top:41px;
  }
  p{
    margin-bottom: 16px;
  }
  .video-control{
    .video-intial{
      background:url("../img/desktop/dosingEfficacy/video-preview-dosingEfficacy.png") no-repeat top center;
      width: 68.4427%;
      max-width:688px;
      height:auto;
      padding-bottom:22.686%;
      display:inline-block;
      float:left;
      padding-bottom: 21.6915%;
      max-height: 218px;
      background-size: contain;    
    }
    .label-information{
      background:url("../img/desktop/dosingEfficacy/label-btn.png")no-repeat top center;
      display: inline-block;
      float: left;
      height: auto;
      width: 31.4427%;
      max-height: 219px;
      max-width: 316px;
      padding-bottom:21.791%;;
      background-size: contain;
      &:hover{
          background:url("../img/desktop/dosingEfficacy/label-btn-hover.png")no-repeat top center;
          background-size: contain;
          width: 31.4427%;
          height: auto;
      }
    }
  }
}

.charts-dosingInner{
    padding-top:45px;
  h3{
    line-height: 61px;
    padding-left: 33px;
    border-radius: 3px;
    font-size: 34px;
    text-transform: none;
  }
  .parr-inner-dosing{
    margin-bottom: 0;
    padding-left:33px;
  }
  .parrMarg-inner-dosing{
    margin-bottom: 22px;
    padding-left:33px;
  }
  .first-Title-dosing{
    background-color: $color-dark-blue;
    color:$color-white;
  }
  .second-Title-dosing{
    background-color: $light-blue;
    color:$color-blue;
    margin-bottom: 28px;
  }
  .second-content-dosing{
    padding-left:33px;
    margin-bottom: 30px;
    h4{
      font-size: 26px;
      line-height: 39px;
      color:$middle-blue;
    }
  }
  .marg-bott-dosing{
    margin-bottom: 70px;
  }
  img{
    margin-bottom: 30px;
    margin-left:33px;
  }
  .chart-text-inner{
    padding: 0 33px;
    margin-top:17px;
    margin-bottom: 56px;
  }
  
  .chart-1{
        padding-bottom:30px;
        .footnote{
            margin-top:-69px;
        }
    }
    .chart-2{
        padding-bottom:40px;
        h3{
            margin-bottom:76px;
        }
        .footnote{
            margin-top:-68px;
        }
    }
    .chart-3{
        h3{
            margin-bottom: 20px;
        }
        .second-content-dosing{
            
            p{
                margin-bottom:20px;
            }
        }
        .footnote{
            margin-top:-55px;
        }
        .animation{
            margin-top:-110px;
        }
        .use-directed{
            margin-top:60px;
        }
    }
  .inner-charts{
    .notes{
      font-size: 12px;
      line-height: 18px;
      margin-left:33px;
      margin-bottom:0;
    }
    .chart-text{
      width:100%;
      display:block;
      overflow:hidden;
      padding-left:33px;
      p{
        display:inline-block;
        float:left;
        margin-right: 23px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}

@include breakpoint('tablet') {
    .dosing-and-efficacy-section{
        .dosing-information{
            top:0;
        }
    }
}
















