
.drug-fact-label-header{
    background-color: $color-light-blue;
    position: relative;
    overflow: hidden;
    min-width: 1000px;
    top: -9px;
    height: 170px;
    padding:0 150px;
    @include breakpoint('desktop'){
        top: -41px;
    }
    @include breakpoint('mobile'){
        padding:0;
        min-width: 100%;
        margin-top: 61px;
        height: 57px;
        .section-content{
            margin-top: 0;
        }

    }
    h1{
        padding-left: 51px;
    }
}

.show-mbl{
    display: none;
    @include breakpoint('mobile'){
        display:block;
    }
}

.drug-fact-label {
    padding: 0 200px;
    margin-top: 0;
    @include breakpoint('mobile'){
        padding: 0 10%;
    }
    h2{
        line-height: 38px;
        @include breakpoint('mobile'){
            line-height: 22px;
        }
    }
    sup{
        font-size: 56%;
        position: relative;
        top: -0.6em;
        left: 0.2em;
    }
    i{
        font-style: italic;
    }
    strong{
        font-weight: bold;
    }
    p{
        margin-top: 0;
        margin-bottom: 27px;
        line-height: 23px;
        letter-spacing: 1.6px;
        float: none;
    }
    li{
        font-size: 16px;
        color:$color-dark-grey;
        letter-spacing: 1.3px;
        line-height: 18px;
        &:before{
            content: "&bull; ";
        }
    }
    ul, p{
        padding-left: 5px;
    }
    ul{
        margin-bottom: 27px;
    }

    .title_internal{
        color:$color-blue-titles;
        font-family:$font-proxima-nova-semibold;
        font-size: 28px;
        margin-top:13px;
        font-style: italic;
        letter-spacing: 0.8px;
    }
    .subtitle_internal{
        color:$color-blue-titles;
        margin-bottom: 1px;
        font-family:$font-proxima-nova-semibold;
    }
    .list{
        padding-left: 6px;
        margin-bottom: 33px;
    }
    .inl-list > li{
        display: inline;
        margin-right: 60px;
        &:before{
            content: "• ";
        }
        &:last-child{
            margin-right: 0;
        }
    }
    .marg-fix{
        margin-bottom: 5px;
    }
    .marg-list-fix{
        margin-bottom: 15px; 
    }

}

.box-drug-fact{
    background-color:#ebeff4;
    border: 1px solid #809aab;
    padding: 15px 15px 0 15px;
    margin-bottom: 15px;
}

@media (max-width: 1199px) {

.home-section {
    #bg-container {
        background: url("../img/bg2.png") no-repeat left top;
    }
}

}

