$text-grey:#535353;
$blue-color-headline:#022e80;
$subtitle-color:#0d5ea4;

.content-spe{
    padding: 0 16%!important;
    @include breakpoint('mobile'){
       padding: 0 5%!important; 
    }
}

.drug-fact-label-header{
    background-color: $color-light-blue;
    position: relative;
    overflow: hidden;
    min-width: 1000px;
    top: -9px;
    height: 170px;
    padding:0 11%;
    @include breakpoint('desktop'){
        top: -41px;
        min-width: 100%;
    }
    @include breakpoint('tablet'){
        padding:0 8%;
        top: -40px;
        .section-content{
            margin-top: 0;
        }
    }
    @include breakpoint('mobile'){
        padding:0;
        min-width: 100%;
        margin-top: 61px;
        height: 57px;
        .section-content{
            margin-top: 0;
        }

    }
    h1{
        padding-left: 84px;
        padding-top:72px;
        color: #033d69;
        @include breakpoint('desktop'){
            padding-top:107px;
        }
        @include breakpoint('mobile'){
            padding-left: 6%;
            padding-top:21px;
        }
    }
}

.show-mbl{
    display: none;
    @include breakpoint('mobile'){
        display:block;
    }
}

.small-marg{
    margin-bottom: 3px!important;
}

.drug-fact-label {
    padding: 0 17%;
    margin-top: 0;
    @include breakpoint('tablet'){
        padding: 0 12%;
    }
    @include breakpoint('mobile'){
        padding: 0 6%;
    }
    h2{
        line-height: 38px;
        font-size: 32px;
        margin-top: 43px;
        font-weight: bold;
        margin-bottom: 14px;
        color:$blue-color-headline;
        span{
            color:$text-grey;
        }
        @include breakpoint('mobile'){
            line-height: 22px;
            margin-top: 10px;
            font-size: 17px;
        }
    }
    sup{
        font-size: 56%;
        position: relative;
        top: -0.6em;
    }
    i{
        font-style: italic;
    }
    strong{
        font-weight: bold;
    }
    p{
        margin-top: 0;
        margin-bottom: 27px;
        line-height: 23px;
        float: none;
        @include breakpoint('mobile'){
            margin-bottom: 2px;
            line-height: 17px;
        }
    }
    li{
        font-size: 19px;
        color:$color-dark-grey;
        line-height: 23px;
        position:relative;
        @include breakpoint('mobile'){
            font-size: 12px;
            line-height: 17px;
        }
        &:before{
            content: "\2022 ";
            left: -11px;
            position:absolute;
        }
    }
    ul, p{
        padding-left: 5px;
        font-size: 19px;
        @include breakpoint('mobile'){
            font-size: 12px;
        }
    }
    ul{
        padding-left: 17px;
        margin-bottom: 22px;
        @include breakpoint('mobile'){
            margin-bottom: 21px;
        }
    }

    .title_internal{
        color:$subtitle-color;
        font-family:$font-proxima-nova-semibold-italic;
        font-size: 28px;
        margin-top:7px;
        @include breakpoint('mobile'){
            font-size: 14px;
            margin-top: 22px;
        }
    }
    .mrg-none{
        margin-bottom: 4px; 
    }
    .subtitle_internal{
        color:$subtitle-color;
        margin-bottom: 1px;
        font-family:$font-proxima-nova-semibold;
    }
    .list{
        padding-left: 17px;
    }
    .inl-list > li{
        display: inline;
        margin-right: 60px;
        @include breakpoint('tablet'){
            display: block;
        }
        @include breakpoint('mobile'){
            display: block;
        }
        &:before{
            content: "\2022 ";
        }
        &:last-child{
            margin-right: 0;
        }
    }
    .marg-fix{
        margin-bottom: 5px;
    }
    .marg-list-fix{
        margin-bottom: 5px; 
    }

}

.box-drug-fact{
    background-color:#ebeff4;
    border: 1px solid #809aab;
    padding: 15px 15px 0 15px;
    margin-bottom: 15px;
}

@media (max-width: 1199px) {

.home-section {
    #bg-container {
        background: url("../img/bg2.png") no-repeat left top;
    }
}

}

