p{
    margin-top: 0; 
}
.faq-header{
    background-color: $color-light-blue;
    position: relative;
    overflow: hidden;
    min-width: 1000px;
    top: -9px;
    height: 170px;
    padding:0 150px;
    @include breakpoint('mobile'){
        height: auto;
        min-width: 100%;
    }
    h1{
        padding-left: 74px;
        @include breakpoint('mobile'){
            font-size: 19px;
            padding-left: 0;
            text-align: center;
            margin: 6% 0px;
        }
    }
}

.no-border-sect-faq{
    border: 0;
    @include breakpoint('mobile'){
        border: 0;
    }
}

.border-sect-faq{
    border: 0;
    @include breakpoint('mobile'){
        border: 1px solid $color-black;
        border-radius: 7px;
        margin-bottom: 13px;
        padding: 13px 0;
    }
}

.faq {
    padding: 0 15%;
    margin-top: 0;
    @include breakpoint('mobile'){
        padding: 0 47px;
    }
    h2{
        line-height: 38px;
        margin-bottom: 38px;
        line-height: 38px;
        margin-bottom: 9px;
        margin-top: 63px;
        padding-left: 5px;
        @include breakpoint('mobile'){
            font-size: 17px;
        }
    }
    sup{
        font-size: 56%;
        position: relative;
        top: -0.6em;
        left: 0.2em;
    }
    i{
        font-style: italic;
    }
    strong{
        font-weight: bold;
    }
    p{
        margin-bottom: 18px;
        line-height: 20px;
        letter-spacing: 0px;
        width: 90%;
        @include breakpoint('mobile'){
            width: 100%;
        }
    }
    a{
        color:$color-dark-grey;
        text-decoration: underline;
    }
    li{
        font-size: 16px;
        color:$color-dark-grey;
        letter-spacing: 1.3px;
        line-height: 18px;
        &:before{
            content: "• ";
        }
    }
    ul, p{
        padding-left: 5px;
        @include breakpoint('mobile'){
            padding-left: 0;
        }
    }
    ul{
        margin-bottom: 18px;
    }
    .inl-list > li{
        display: inline;
        margin-right: 60px;
        &:before{
            content: "• ";
        }
        &:last-child{
            margin-right: 0;
        }
    }
    .container-faq{
        border-bottom: 1px solid $color-light-grey;
        margin-bottom: 17px;
    }
    .collp-icon{
        // background: url("../img/desktop/collapse/collapse-icon.png") no-repeat left top;
        display: inline-block;
        height: 29px;
        position: absolute;
        right: 0;
        width: 29px;
    }
    /* .expanded-icon{
        background: url("../img/desktop/collapse/expand-icon.png") no-repeat left top;
    } */
    .question-faq{
        font-family: $font-proxima-nova-semibold;
        font-size: 26px;
        color: $color-blue-titles;
        display: inline-block;
        margin-left: -25px;
        width: 90%;
        @include breakpoint('mobile'){
            font-size: 14px;
        }
        &:before{
            content:"Q: ";
            margin-left: -35px;

        }
        sup{
            font-size: 84%;
            top: -0.1em;
            left: 0;
        }
    }
    .head-faq{
        margin-bottom: 16px;
        position:relative;
        cursor: pointer;
        padding-left: 70px;
    }

    .text-faq{
        max-width: 100%;
        display: none;
        padding-left: 40px;
        overflow: hidden;
    }
    .mrg-par{
        margin-bottom:10px; 
    }
    .link-head{
        color: $color-bright-blue;
        text-decoration: none;
    }  
    .text-faq{
        margin-top: 17px;
    }




}


.head-faq {

  .collp-icon {
    width: 30px;
    height: 30px;
    display: block;
    background: url("../img/desktop/collapse/collapse-icon.png") no-repeat;
    background-size: contain;
    margin-top: -22px;
  }


  .expanded-icon {
    background: url("../img/desktop/collapse/expand-icon.png") no-repeat !important;

  }

}


@media (max-width: 1199px) {

.home-section {
    #bg-container {
        background: url("../img/bg2.png") no-repeat left top;
    }
}

}

