$text-faq-color:#a3a5a6;
$text-faq-paragraph:#535353;

p{
    margin-top: 0; 
}
.faq-header{
    background-color: $color-light-blue;
    overflow: hidden;
    @include breakpoint('tablet'){
        margin-top: -9px;
    }
    h1{
        padding-left: 216px;
        padding-top:60px;
        padding-bottom: 60px;
        @include breakpoint('desktop'){
            max-width: 920px!important;
            padding: 60px 0;
        }
        @include breakpoint('tablet'){
            padding-left:0;
            font-size: 19px;
            padding-top:20px;
            padding-bottom:20px;
        }
        @include breakpoint('mobile'){
            padding-left:0;
            font-size: 19px;
            padding-top:18px;
            padding-bottom:18px;
        }
    }
    .faq-head{
        @include breakpoint('desktop'){
            max-width: 920px!important;
        }
        @include breakpoint('tablet'){
            max-width: 769px!important;
            padding-left:0;
            padding-right:0;
        }
        @include breakpoint('mobile'){
            max-width: 100%!important;
            padding-left:20px;
            padding-right:20px;
        }
    }
}



.faq {
    padding-left:219px;
    padding-right:219px;
    @include breakpoint('desktop'){
        max-width: 920px!important;
        padding-left:0;
        padding-right:0;
    }
    @include breakpoint('tablet'){
        max-width: 769px!important;
        padding-left:0;
        padding-right:0;
    }
    @include breakpoint('mobile'){
        max-width: 100%!important;
        padding-left:20px;
        padding-right:20px;
    }
    h2{
        line-height: 38px;
        margin-bottom: 20px;
        margin-top: 63px;
        color:$blue-color-headline;
        @include breakpoint('tablet'){
            line-height: 17px;
            margin-bottom: 20px;
            margin-top: 20px;
            font-size: 17px;
        }
        @include breakpoint('mobile'){
            font-size: 17px;
            line-height: 24px;
            margin-bottom: 5px;
            margin-top: 10px;
        }
    }
    sup{
        font-size: 56%;
        position: relative;
        top: -0.6em;
    }
    i{
        font-style: italic;
    }
    strong{
        font-weight: bold;
    }
    p{
        margin-bottom: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        width: 100%;
        font-size: 16px;
        margin-top:36px; 
        color:$text-faq-color;
        @include breakpoint('tablet'){
            margin-bottom: 20px;
            line-height: 15px;
            font-size: 10px;
            margin-top: 20px;
        }
        @include breakpoint('mobile'){
            width: 100%;
            font-size: 12px;
            line-height: 17px;
            margin-top: 17px;
            margin-bottom: 13px;
        }
    }
    a{
        color:$color-dark-grey;
        text-decoration: underline;
    }
    li{
        font-size: 18px;
        color:$color-dark-grey;
        line-height: 24px;
        position:relative;
        @include breakpoint('tablet'){
            font-size: 10px;
        }
        &:before{
            content: "\2022 ";
            position: absolute;
            left: -10px;
        }
        @include breakpoint('mobile'){
            font-size: 12px;
            line-height: 14px;
        }
    }
    ul{
        margin-bottom: 18px;
        clear: both;
        list-style: outside none disc;
        padding-left: 9px;

      @include  breakpoint("mobile") {
        padding-left: 11px;
      }


    }
    .inl-list > li{
        display: inline;
        margin-right: 60px;
        position:relative;
        @include  breakpoint("mobile") {
            display: block;
        }
        &:before{
            content: "\2022 ";
            position: absolute;
            left: -10px;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    .container-faq{
        border-bottom: 1px solid $color-light-grey;
        margin-bottom: 17px;
        @include  breakpoint("mobile") {
            margin-bottom: 10px; 
        }
    }

   .last-faq {
    border: none;
    }

    .question-faq{
        font-family: $font-proxima-nova-semibold;
        font-size: 26px;
        color: $color-blue-titles;
        display: inline-block;
        margin-left: -25px;
        width: 90%;
        line-height: 30px;
        @include breakpoint('tablet'){
            font-size: 14px;
            line-height: 19px;
        }
        @include breakpoint('mobile'){
            font-size: 14px;
            line-height: 19px;
        }
        &:before{
            content:"Q: ";
            margin-left: -35px;

          @include breakpoint('mobile'){
            margin-left: -20px ;
          }


        }
        sup{
            font-size: 84%;
            top: -0.1em;
            left: 0;
        }
    }
    .head-faq{
        margin-bottom: 20px;
        position:relative;
        cursor: pointer;
        padding-left: 35px;
        margin-left: 27px;

      @include breakpoint('mobile'){
        padding-left: 28px;
        margin-left: 0;
        margin-bottom: 17px;
      }


        background: url("../img/desktop/collapse/collapse-icon.png") no-repeat 98% center;
        @include breakpoint('tablet'){
            background: url("../img/desktop/collapse/collapse-icon-min.png") no-repeat 98% center;
        }
        @include breakpoint('mobile'){
            background: url("../img/desktop/collapse/collapse-icon-min.png") no-repeat 98% top;
        }
    }
    .expanded-icon {
        background: url("../img/desktop/collapse/expand-icon.png") no-repeat 98% center;
        @include breakpoint('tablet'){
            background: url("../img/desktop/collapse/expand-icon-min.png") no-repeat 98% center;
        }
        @include breakpoint('mobile'){
            background: url("../img/desktop/collapse/expand-icon-min.png") no-repeat 98% top;
        }

    }

    .text-faq{
        max-width: 100%;
        display: none;
        padding-left: 37px;
        overflow: hidden;
        padding-right: 48px;
        @include breakpoint('mobile'){
            padding-right:0;
        }
        p{
            margin-top: 0;
            color: $text-faq-paragraph;
            font-size: 18px;
            @include breakpoint('tablet'){
                font-size: 12px;
                line-height: 17px;
            }
            @include breakpoint('mobile'){
                font-size: 12px;
                line-height: 17px;
            }
        }

        @include breakpoint('mobile'){
            padding-left: 0;
        }
    }
    .mrg-par{
        margin-bottom:10px; 
    }
    .link-head{
        color: $color-bright-blue;
        text-decoration: none;
    }  
    .text-faq{
        margin-top: 20px;
    }
}

.no-border-sect-faq{
    border: 0;
    @include breakpoint('mobile'){
        border: none;
        padding: 9px 19px 0;
    }
}

.border-sect-faq{
    border: 0;
    @include breakpoint('mobile'){
        border: 1px solid $color-black;
        border-radius: 7px;
        margin-bottom: 13px;
        padding: 13px 19px;
    }
}


@media (max-width: 1199px) {

.home-section {
    #bg-container {
        background: url("../img/bg2.png") no-repeat left top;
    }
}

}

