.home-section {



  .home-mobile {

    .product-cover {
      background: url("../img/mobile/homepage/product.png") no-repeat top center;
      background-size: contain;
      width: 100%;
      height: 40em;

    }

  }










}
