
@function homepage-max-width () {

 // @return ( $site-max-width );
  //@return ( '100%' );
   @return ( '1800px' );

}

//-----------------------------------------------------------------------------------------------------------------



.home-section {


    .home-mobile {
      @include breakpoint("tablet-n-up") {
      display: none;
    }
  }

  .header {
  //  position: fixed;
  //  width: 100%;
    margin-top: 0;
  }

  .nopadding {
    padding: 0 !important;
  }


  .header .header-top ul.utility-nav {
  //  position: fixed;
    right: 0;
    margin-top: -4px;

    @include breakpoint("tablet") {
      margin-top: -3px;
    }


    li {
      line-height: 11px;

      @include breakpoint("desktop") {
        line-height: 20px;
      }

      @include breakpoint("tablet") {
        line-height: 25px;
      }

    }

  }




  .footer .footer-content .lists .footer-col {
    line-height: 1px;
  }


  .footer .footer-content .bottom-content ul li {
    line-height: 1px;
  }

  .footer .footer-content .bottom-content ul li .pipe {
    margin-top: 9px;
  }

  .footer .footer-content .bottom-content {
    padding-top: 13px;
  }

  .footer .footer-content .alternative-content ul {
    margin-top: -18px;
  }


  .footer .footer-content .alternative-content ul li .pipe {
    margin-top: 32px;
  }



  .footnote .rfrs p {
    @include breakpoint("tablet-n-up") {
      font-size: 12px;
    }
  }




  // ---------------------------------------------------------




  #bg-container {
        /*background: url("../img/bg.png") no-repeat top center;*/
    }

    .content {
        @include clearfix;
        overflow: hidden;
        padding: 0 0 0 100px;
    }

    .callouts {
        @include clearfix;
        overflow: hidden;
        margin-bottom: 27px;
    }

    .home-callout {
        float: left;

        &.left-callout {
            margin-right: 20px;
        }

    }

    .order-cta {
        margin-bottom: 49px;
    }

    .isi-container, .references {
        padding-right: 10px;
    }


    .cta01{
        width: 253px; /* fix */
    }
    
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
      .cta01{
        width: 256px; /* fix */
      }      
    }

    .cta02 {
        width: 166px; /* fix */
    }


     .order-cta {
        margin-top: 30px;
    }


.references ul {
    padding-bottom: 33px;
}


}

@media (max-width: 1199px) {

.home-section {
    #bg-container {
      //  background: url("../img/bg2.png") no-repeat left top;
    }
}

}













// -----------------------------------------------------------------------------------------------------------



#mainContainer, html {
  overflow: visible !important;
}

.parallax {


  max-width: 1800px;
  overflow: hidden;

  @include breakpoint("mobile") {
    display: none;
  }



  #dots-container {
    height: 100%;
    margin: auto;
    max-width: #{homepage-max-width()};
    position: fixed;
    text-align: center;
    bottom: 0;
    z-index: 990;
    right: 0;
    width: 69px;



    .dotbox, .dotcover {
      background-color: #fff;
      border-radius: 8px 0 0 8px;
      display: block;
      height: 197px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 40px;
      padding-top: 7px;


       .dot {
        background: #fff url(../img/desktop/homepage/bullet-off.jpg) no-repeat;
        width: 29px;
        height: 29px;
        display: block;
        margin: 6px auto;
        cursor: pointer;

         &:hover {
           background: #fff url(../img/desktop/homepage/bullet-hover.jpg) no-repeat;
         }

      }

      .dot-on {
        background: #fff url(../img/desktop/homepage/bullet-on.jpg) no-repeat;
      }

    }

    .dotcover {
      background: none;
      z-index: 10;
      right: 33px;
      display: none;
    }

  }

  /* ---------------------------------------------------------------------------------------------------------------------   */


  .separador-5000 {
    display: block;
    width: 100%;
    height: 50em;
  }

  .separador-50000 {
    display: block;
    width: 100%;
    height: 500em;
  }

  .separador-1000 {
    display: block;
    width: 100%;
    height: 10em;
  }

  .separador-400 {
    display: block;
    width: 100%;
    height: 4em;
    //border-bottom: 1px solid #ffffff;
  }

  .separador-200 {
    display: block;
    width: 100%;
    height: 2em;
  }

  .separador-100 {
    display: block;
    width: 100%;
    height: 1em;
  }


  .separador-01, .separador-02, .separador-03, .separador-04, .separador-05  {
    display: block;
    width: 100%;
    height: 12em;
   // border-bottom: 1px solid #ffffff;
  }


  .separador-02 {
    height: 3500em;
   // background-color: #EA5825;
  }


  .separador-03 {
    height: 2300em;
  //  background-color: #8d8b8b;
  }

  .separador-04 {
    height: 2250em;
  //  background-color: #8d8b8b;
  }


  .separador-04 {
    height: 1600em;
  //  background-color: green;
  }



  .separador-05 {
    height: 1350em;
   // background-color: yellow;
  }





  #marker-tr, #marker2-tr, #marker3-tr, #marker4-tr, #marker5-tr
  , #marker6-tr, #marker7-tr, #marker8-tr, #marker9-tr {
   // background-color: #808080;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 100;
    height: 1px;
    text-align: right;
    width: 100%;
  }


  /* ---------------------------------------------------------------------------------------------------------------------   */


  .header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    background-color: #243d84;
    z-index: 9999;
    font-size: 0;
  }

  //.header #marker {
  //  height: 0px;
  //  width: 100%;
  // // background: #fff url(../img/desktop/homepage/sanofi.png) no-repeat top center;
  //  background-color: red;
  //}
  //
  //.header #marker  a {
  //  height: 30px;
  //  color: #f00;
  //  padding: 20px;
  //  font-size: 20px;
  //}



  #footer {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    top: 111px;
    height: 8000px;
    position: fixed;
    left: 0;
    z-index: 99999;
    margin-top: 13em;
  }

  #centro {
    display: block;
    width: 100%;
    position: fixed;
    height: 50%;
    margin: 0;
  //  border-bottom: 1px solid red;
  }

  #productbox-container {


    display: none;
    height: 0 !important;




    width: 100%;
    height: 8000px;
    position: fixed;
    top: 81px;
    /* no toque esto*/
    z-index: 101;
    max-width: #{homepage-max-width()};
    background-size: contain;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: -13em;
  }

  #productbox {
    width: 100%;
    height: 12.5em;
    position: absolute;
    top: 0;
    margin-top: 0;
    background: url("../img/desktop/homepage/productbox.png") no-repeat center top;
    z-index: 101;
    max-width: #{homepage-max-width()};
    background-size: contain;
  }

  #background {
    position: fixed;
    top: 0;
    background: url("../img/desktop/homepage/bg-02.png") no-repeat center top;
    z-index: 98;
    max-width: #{homepage-max-width()};
    background-size: contain;
    width: 100%;
    height: 95em;
    left: 0;
    right: 0;
    margin: auto;
    overflow: visible;


    .footer {
      position: absolute;
      bottom: -0.5em;
      display: block;
    }


  }



  #yellow-spike {
    background: url(../img/desktop/homepage/yellow-spike.png) no-repeat right center;
    background-size: contain;
    position: fixed;
    width: 19.3%;
    height: 6em;
    left: 0;
    z-index: 10001;
    top: 40em; //21em
    @include breakpoint("tablet-n-desktop") {
      z-index: 100;
    }
  }




  .bloque {
    width: 100%;
    text-align: right;
    font-size: 23px;
    color: #fff;
    height: 0px;
    border: none;


  }

  .last-bloque {
  //  border: 1px solid white;
  }

  #product-features-text {
    width: 100%;
    height: 2.8em;
    position: relative;
    bottom: -3.6em;
    //background-color: rgba(0, 255, 0, 0.5);


    @include breakpoint("limit") {
      bottom: -3.75em;
    }



  }



  #product-features-bg {
    background: url("../img/desktop/homepage/productbox.png") no-repeat top center;
    width: 100%;
    height: 13.2em;
    position: absolute;
    //top: 1.60em;
    top: 8em;
    z-index: 130;
    background-size: contain;
    max-width: #{homepage-max-width()};






    .product-title {
      position: absolute;
      top: 0.9em;
      left: 37.5%;
      font-size: 0.46em;
      letter-spacing: 0.02em;
      color: #2e2662;
      font-weight: 700;

      sup {
        position: relative;
        top: -0.765em;
        font-size: 0.5em;
      }


    }




.clinical-study {
  position: absolute;
  top: 4.1em;
  left: 12%;
  font-size: 0.30em;
  line-height: 1.3em;
}

.dataonfile {
  display: block;
  margin-left: 1%;
}    
    

.use-only {
  position: absolute;
  top: 4.1em;
  left: 79.4%;
  font-size: 0.29em;

}





  }

  #bottle {
    background: url("../img/desktop/homepage/bottle-nocap.png") no-repeat center center;
    background-size: contain;
    z-index: 101;
    position: absolute;
    top: 8.8em;
    left: 72%;
    margin: 0.3em auto auto 0%;
    width: 3em;
    height: 4.4em;
    transform: scale(1, 1);
  }

  #cap {
    -webkit-transform: translate3d(0, 0, 0);
    /* enable hw acceleration */
    background: url("../img/desktop/homepage/cap.png") no-repeat center center;
    background-size: contain;
    bottom: 0px;
    width: 1.2em;
    height: 3em;
    z-index: 101;
    position: absolute;
    top: 9em;
    left: 74.6%;
  }





  #no-scent {
    background: url("../img/desktop/homepage/no-scent.png") no-repeat center bottom;
    width: 10em;
    height: 0em;
    bottom: 12.12em;
    z-index: 98;
    position: absolute;
    left: 18.1%;
  }





  #slide03 {
    position: fixed;
    top: 81px;
    height: 15.7em;
    z-index: 117;
    margin: auto;
    left: 0;
    right: 0;
    max-width: #{homepage-max-width()};
    width: 100%;
    overflow: hidden;



    @include breakpoint("desktop") {
      top: 139px;
    }




    .dashbox {
      display: block;
      background-color: #c0cdd2;
      position: absolute;
      top: 2.55em;
      left: 3%;
      width: 7%;
      height: 0.1em;
    }




    .use-only {
      position: absolute;
      bottom: 3.6em;
      left: 79.4%;
      font-size: 0.29em;

    }


  }

  #compare-bg {
    background: transparent url("../img/desktop/homepage/mom-child.png") no-repeat center top;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-size: contain;
    top: 17em;
    z-index: 100;
  }


  #compare-bg .btn1 {
    color: #00008B;
    font-size: 0.51em;
    margin: 0.3em 3em;

    width: 400px;
    min-height: 50px;
    font-family: $font-proxima-nova-semibold;
    text-align: left;
  }




  #compare-copy {
    width: 40%;
    height: 7em;
    position: absolute;
    top: 1.45em;
    left: -42%;
    color: $color-white;
    font-family: $font-proxima-nova-semibold;
    text-align: left;
    z-index: 105;



   h2 {
     font-family: $font-proxima-nova-semibold;
    font-size: 0.7em;
    padding: 0;
    margin: 0.3em 0 0 0.60em;
    letter-spacing: 0.03em;
    width: 95%;
    line-height: 1.4em;
    color: $color-white;

     sup {
       position: relative;
       top: -0.5em;
       font-size: 0.65em;
       font-weight: 100;
     }

  }

  sup {
    position: relative;
    top: -1.5em;
    font-size: 0.4em;
    font-weight: 100;
  }




   p {
    margin: 2.7em 0 0 1em;
    width: 72%;
    font-size: 0.37em;
    font-weight: 100;
    line-height: 1.6em;
    color: #e9eaea;
  }


   .compare-link {
    display: block;
    background: #fff url(../img/desktop/homepage/mom-child-arrow.png) no-repeat right center;
    height: 3.6em;
    border-radius: 9px;
    width: 59%;
    margin: 1.2em 0px 0px 0.7em;
    font-size: 0.45em;
    text-decoration: none;
    line-height: 1.3em;
    color: #2e2662;
    background-size: contain;
    font-weight: 100;
    letter-spacing: 0.05em;
  }

   .compare-link:hover {
    color: $color-orange;
     background: #fff url(../img/desktop/homepage/mom-child-arrow-hover.png) no-repeat right center;
     background-size: contain;
  }




   .compare-link span {
    display: block;
    width: 79%;
    padding: 0.6em 0px 0px 1em;
    font-weight: 100;
  }

   .compare-link strong {
    font-weight: 700;
  }


  }



  .compare-link-bottom {
    display: block;
    background: url(../img/desktop/homepage/compare-arrow.png) no-repeat right center;
    background-size: contain;
    width: 30%;
    position: absolute;
    left: 23%;
    bottom: 12.4em;
    font-size: 0.46em;
    padding: 0.8em 0px 0.8em 4.4%;
    line-height: 1.3em;
    color: $color-dark-blue;
      font-weight: 700;


   &:hover {
      color: $color-orange;
     background: url(../img/desktop/homepage/compare-arrow-hover.png) no-repeat right center;
     background-size: contain;
   }

  }


  .compare-link-bottom + .btn01 {
    bottom: 12.4em;
  }

  .compare-link-bottom + .btn02 {
    bottom: 8.1em;
    line-height: 1.4em;
  }

  .compare-link-bottom + .btn03 {
    bottom: 3.9em;
  }



  #stats {
    background: transparent url("../img/desktop/homepage/mom-child-stats.png") no-repeat center bottom;
    height: 0;
    z-index: 99;
    background-size: cover;
    position: absolute;
    bottom: 8em;
    width: 26%;
    left: 58%;
  }


  #slide04 {
    position: fixed;
    top: 81px;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    max-width: #{homepage-max-width()};
    width: 100%;
    font-family: $font-proxima-nova-semibold;
    font-weight: 100;
    margin-top: 17em;
    overflow: hidden;

    .use-only {
      position: absolute;
      top: 56.1em;
      left: 79.4%;
      font-size: 0.29em;

    }



  }



  #slide04 .title {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    color: #133C7C;
    top: 3.45em;
    font-size: 0.8em;
    width: 40%;
    letter-spacing: 0.01em;
    line-height: 1.17em;
    text-align: center;
  }

  #slide04 .title sup {
    position: relative;
    top: -10px;
    font-size: 0.7em;
  }


  .orange-color {
    color: #EA5825;
  }




  #slide04 .dashbox {
    display: block;
    background-color: #b1c9e0;
    position: absolute;
    top: 5.12em;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 2.8%;
    height: 0.1em;


  }




  #patient-box {
    width: 70%;
    margin: auto;
    height: 9em;
    top: 5.6em;
    position: absolute;
    right: 0;
    left: 101%;
    @include ha;
  }





  .patient {

    display: inline-block;
    width: 24%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;





  .namebox {
    border-bottom: 1px solid #aaa;
    width: 95%;
    height: 1.64em;
    overflow: hidden;
    margin: auto;


    .name {
      font-family: $font-proxima-nova-semibold;
      font-size: 0.51em;
      display: block;
      padding-top: 0.5em;
      color: #133c7c;
    }

    .subname {
      font-family: $font-proxima-nova-extrabold;
      font-size: 0.51em;
      display: block;
      padding-top: 0.1em;
      color: #ea5825;
      letter-spacing: 0.06em;
    }


  }


  .textbox {
    position: absolute;
    bottom: 0;
    font-size: 0.3em;
    height: 4.23em;
    width: 100%;
    background: #fff url(../img/desktop/homepage/patient-arrow.png) no-repeat right center;
    color: #133c7c;
    font-family: $font-proxima-nova-semibold;
    text-align: left;
    background-size: contain;


    p {
      padding: 0.8em 0px 0px 6.5%;
      width: 86%;
      line-height: 1.2em;
      color: #133c7c;
      font-size: 1em;

    }

  }

    .textboxhover{
      background: #fff url(../img/desktop/homepage/patient-arrow-hover.png) no-repeat right center;
      background-size: contain;
      color: $color-orange;
    }



  }




  .patient-maria img {
    margin-top: -0.32em;
    background-size: contain;
    width: 107%;
  }



  .patient-mark img {
    margin: -0.54em 0px 0px -8%;
    background-size: contain;
    width: 113%;
  }

  .patient-kara img {
    margin: -0.2em 0px 0px -2%;
    background-size: contain;
    width: 110%;
  }

  .patient-liam img {
    margin: 1em 0 0 0;
    background-size: contain;
    width: 100%;
  }


  #slide05 {
    position: fixed;
    top: 15em;
    height: 91%;
    z-index: 100;
    max-width: #{homepage-max-width()};
    width: 100%;
    margin: auto;
    left: 0px;
    right: 0px;
    margin-top: 15em;


    .use-only {
      position: absolute;
      top: 44em;
      left: 79.4%;
      font-size: 0.29em;
      color: $color-white;

    }

   #understand-box {
     position: absolute;
     top: 0.1em;
     width: 40%;
     text-align: left;
     left: -35%;
     right: 0;
     //margin: auto;
    @include ha;


     h2 {
       color: #FFF;
       font-family: $font-proxima-nova-semibold;
       font-size: 0.8em;
       padding-bottom: 0;
       font-weight: 100;
       line-height: 1.18em;
       letter-spacing: 0.03em;
     }

   }

   .understand-link {
    display: block;
    background: #fff url(../img/desktop/homepage/understand-arrow.png) no-repeat right center;
    background-size: contain;
    border-radius: 9px;
    width: 79%;
    height: 3.8em;
    margin: 0px 0px 0.9em 0em;
    font-size: 0.45em;
    text-decoration: none;
    line-height: 3.8em;
    color: $color-blue-titles;
    font-family: $font-proxima-nova-semibold;
    letter-spacing: 0.08em;
     padding-left: 4%;


   }


    .understand-link:hover {
      color: $color-orange;
      background: #fff url(../img/desktop/homepage/understand-arrow-hover.png) no-repeat right center;
      background-size: contain;

    }

}






  #slide01 {
    background-color: rgba(0,255,0,0.2);
    position: fixed;
    top: 111px;
    height: 14.7em;
    z-index: 112;
    margin: auto;
    left: 0;
    right: 0;
    max-width: #{homepage-max-width()};
    width: 100%;
    background-size: contain !important;
    overflow: hidden;

    
    @include breakpoint("desktop") {
      top: 139px;
    }
    
    
  }



  #slide1-textbox {
    position: absolute;
    top: 1.55em;
    left: 140.5%;
    font-family: $font-proxima-nova-semibold;
    font-weight: 100;
    color: #1B468E;
    font-size: 0.8em;
    z-index: 135;
    text-align: left;
    letter-spacing: 0.04em;
    width: 39%;
    line-height: 1.2em;

    h2 {
      font-family: $font-proxima-nova-semibold;
      color: #2974AB;
      font-size: 1em;
      margin-top: 0.51em;
      margin-bottom: 25px;
      font-weight: 100;
      letter-spacing: 0.0434em;
    }

    .features {
      color: $color-cyan-text;
      text-transform: uppercase;
      text-decoration: underline;
    }

    p {
      font-family: $font-proxima-nova-semibold;
      font-size: 0.5em;
      padding-top: 0.1em;
      letter-spacing: 0.004em;
      line-height: 1.54em;
      width: 82%;

    }

    sup {
      position: relative;
      top: -0.65em;
      font-size: 0.5em;
    }

  }

  #slide01 .lady01,
  #slide01 .lady02,
  #slide01 .lady03 {
    position: absolute;
    left: 0;
    right: 0;
    background-size: contain !important;
    width: 100%;
    height: 12.3em;
  }






  #slide01 .lady01 {
    background: url(../img/desktop/homepage/lady01.png) no-repeat top center;
    z-index: 122;
  }


  #slide01 .lady02 {
    background: url(../img/desktop/homepage/lady02.png) no-repeat top center;
    z-index: 118;
    opacity: 0;

  }

  #slide01 .lady03 {
    background: url(../img/desktop/homepage/lady03.png) no-repeat top center;
    z-index: 120;
    opacity: 0;
  }



  #carousel1, #carousel2, #carousel3 {
    height: 13.7em;
    position: absolute;
    width: 104%;
    top: 0px;
    background-size: contain !important;
    overflow: hidden;
  }


  #carousel1, #slide01 {
    background: url(../img/desktop/homepage/carousel-01.png) no-repeat top center;
  }

  #carousel1 {
    z-index: 115;
    opacity: 1;
  }

  #carousel2 {
    background: url(../img/desktop/homepage/carousel-02.png) no-repeat top center;
    z-index: 117;
    opacity: 0;
  }

  #carousel3 {
    background: url(../img/desktop/homepage/carousel-03.png) no-repeat top center;
    z-index: 119;
    opacity: 0;
  }







  #slide02 {
    max-width: #{homepage-max-width()};
    position: fixed;
    top: 81px;
    z-index: 120;
    width: 100%;
    margin: 0em auto auto;
    left: 0px;
    right: 0px;
    height: 34em;
    overflow: hidden;


    #herolink {
      width: 100%;
      height: 14em;
      display: block;
      position: absolute;
    }


    .use-only {
      position: absolute;
      top: 100.9em;
      left: 79.4%;
      font-size: 0.29em;
      color: $color-white;
      z-index: 999;

    }


    .footnote[data-section="home-1"]  {
      z-index: 999;
      bottom: 21.9em;
      margin-top: 0px;
    }

    .footnote[data-section="home-2"] {
      z-index: 999;
      margin-top: -9.7em;
      bottom: 6.9em;
    }

    .dashbox {
      display: block;
      background-color: #c0cdd2;
      position: absolute;
      top: 2.7em;
      left: 4%;
      width: 7%;
      height: 0.1em;
    }


  }









  #nasacort-compare {
    width: 12em;
    height: 10.5em;
    bottom: 8.8em;
    position: absolute;
    right: 20.4%;
    z-index: 101;
    font-family: $font-proxima-nova-semibold;
    top: 16.3em;
    text-align: left;

    h2 {
      font-size: 0.7em;
      padding: 0;
      margin: 0.403em 0 0 4%;
      letter-spacing: 0.03em;
      width: 95%;
      line-height: 1.4em;
      color: #133C7C;
    }

    sup {
      position: relative;
      top: -1.1em;
      font-size: 0.4em;
      font-weight: 100;
    }

    p {
      margin-top: 3.65em;
      width: 93%;
      font-size: 0.3em;
      font-weight: 100;
      line-height: 1.55em;
      margin-left: 4%;
      letter-spacing: 0.04em;
      color: #4d4b4b;
      margin-bottom: 2.7em;

      strong {
        font-weight: 700;
      }


      sup {
        position: relative;
        top: -0.5em;
        font-size: 0.6em;
        font-weight: 100;
      }


    }

    .superscript {
      top: -0.54em;
      font-size: 0.7em;
    }

    .compare-link {
      display: block;
      background: #fff url(../img/desktop/homepage/mom-child-arrow.png) no-repeat right center;
      height: 3.7em;
      border-radius: 9px;
      width: 92%;
      margin: 0.9em 0px 0px 0.7em;
      font-size: 0.45em;
      text-decoration: none;
      line-height: 1.2em;
      color: #2E2662;
      font-weight: 100;
      letter-spacing: 0.05em;

      sup {
        position: relative;
        top: -0.4em;
        font-size: 0.7em;
        font-weight: 100;
      }

    }

    .compare-link:hover {
      color: $color-orange;
      background: #fff url(../img/desktop/homepage/mom-child-arrow-hover.png) no-repeat right center;
    }

    .compare-link span {
      display: block;
      width: 92%;
      padding: 1.2em 0px 0px 1em;
      font-weight: 100;
    }

    .span2 {
      padding: 0.7em 0px 0px 1em !important;
      width: 75% !important;
    }

    .compare-link strong {
      font-weight: 700;
    }

  }




}





.ui-draggable {

  //top: 179804px !important; //slide2
  //top: 297797px !important; //slide3
  //top: 379833px !important; //slide4
  //top: 495765px !important; //slide5



}



#slide01, #slide02, #slide03, #slide04, #slide05,    {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

}



.footer-for-homepage {

display: none;

}



