

.home-section {
// start of class home-mobile 
  .container{
    @include breakpoint('mobile'){
      margin-top: 0;
    }
  }
  .home-mobile {
    .animation{
      width: 90%!important;
    }
    .spc-marg-1{
      margin-top: 2px!important;
    }
    .spc-marg{
      margin-bottom:8px; 
    }
    .spc-pdd{
      padding-top: 5px;
    }
    .clr-org{
      color: $color-orange;
    }// End General class
    .clr-blu{
      color:$color-bright-blue;
      font-family: $font-proxima-nova-bold;
    }// End General class
    .data-inner{
      text-align: left;
      display: block;
      width: 100%;
      clear: both;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 10px;
      line-height: 15px;
      margin-top: 7px;
    }// End General class
    .inner-ctas{
      width: 80%;
      .cta-restr{
        max-width: 214px;
        float: left;
        clear: both;
      }
      .cta{
        background-color:$color-white;
        border-radius: 6px;
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        position:relative;
        span{
          font-size: 12px;
          line-height: 18px;
          font-family: $font-proxima-nova-bold;
          color: $color-dark-blue;
          width: 80%;
          padding: 3px 2px 3px 11px;
          margin: 0;
          display: block;
        }
        &:after{
          content:"";
          background: url("../img/mobile/homepage/arrow-cta.png") no-repeat 50%;
          width: 16px;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          right: 6%;
        }
      }
    }// End General class

    .head-inner{
      p{
        font-family: $font-proxima-nova-semibold;
        font-size: 16px;
        line-height: 20px;
        position:relative;
        &:after{
          content:"";
          width: 26px;
          height: 3px;
          display: inline-block;
          position: absolute;
          bottom: -8px;
          left: 44%;
        }
      }  
    }

    padding-top: 168px;
    @include breakpoint("desktop") {
      display: none;
    }

    .slider{
      height: 246px;
      position: relative;
      width: 100%;
      h1{
        font-size: 17px;
        line-height: 20px;
        width: 77%;
        text-align: left;
        margin: auto;
        padding-top: 15px;
        max-width: 252px;
        font-family: $font-proxima-nova-regular;
      }
      img.product{
        position: absolute;
        top: -78px;
        right: 0;
      }
      .borderbottom{
        background-color: $color-white;
        height: 26px;
        position: relative;
        width: 100%;
        bottom: 0px;
        top: 220px;
        z-index: 15;
        p{
          line-height: 15px;
          width: 124px;
          color: $color-dark-blue;
          display: inline-block;
          position: absolute;
          right: 117px;
          margin: 0;
          bottom: 12px;
          z-index: 1;
          font-size: 10px;
          font-weight: bold;
          text-align: right;
        }
      }
    }// end of class Slider

    .preference-section{
      position: relative;
      width: 100%;
      .back-preference{
        padding-left: 20px;
        padding-right: 20px;
        height: 75px;
        background: #f8f9fb url("../img/mobile/homepage/bg-preference.png") no-repeat right top;
        border-top: 1px solid #cdcecf;
        border-bottom: 1px solid #cdcecf;
        overflow: hidden;
        .preference-parr{
          width: 78%;
          padding-top: 20px;
          float: left;
          p{
            font-size: 12px;
            line-height: 19px;
            color: $color-dark-blue;
            font-family: $font-proxima-nova-semibold;
            margin-bottom:0; 
          }
        }
        .preference-img{
          display: inline-block;
          margin-top: 23px;
          float: right;
          width: 22%;
          max-width: 71px;
          img{
            width: 100%;
          }
        }
      }
    }// end of class Preference-Section

    .comparation-section{
      width: 100%;
      height: 259px;
      background: url("../img/mobile/homepage/bg-comparation.png") no-repeat right top;
      background-size: 100% auto;
      margin-bottom:10px; 
      .inner-comparation{
        padding-left: 20px;
        padding-right: 20px;
        background: url("../img/mobile/homepage/bottle-comparation.png") no-repeat -7px;
        background-size:126px auto;
        display: block;
        height: 259px;
        .head-inner{
          padding-top: 38px;
          width: 70%;
          float: right;
          p{
            color: $color-dark-blue;
            margin-bottom: 18px;
            &:after{
              background:url("../img/mobile/homepage/gray-rectangle.jpg") no-repeat;
            } 
          }
        }
        .inner-ctas{
          float: right;
        }
      }
    }// end of class Comparation-Section 

    .review-section{
      width: 100%;
      height: 260px;
      background: url("../img/mobile/homepage/bg-review.png") repeat-x right top;
      margin-bottom:10px;
      .inner-review{
        background: url("../img/mobile/homepage/family-review.png") no-repeat right 33px;
        padding-left:20px;
        padding-right:20px;
        padding-top:40px;
        background-size:177px auto;
        display: block;
        height: 260px;
        .head-inner{
          width: 70%;
          p{
            color:$color-white;
            &:after{
              background:url("../img/mobile/homepage/gray-rectangle.jpg") no-repeat;
            } 
          }
        }
        .inner-ctas{
          width: 64%;
        }
      }
    }// end of class Review-Section

    .discover-section{
      width: 100%;
      height: 260px;
      background: url("../img/mobile/homepage/bg-discover.png") repeat-x right top;
      margin-bottom:10px;
      .inner-discover{
        padding-top: 17px;
        padding-left: 10px;
        padding-right: 10px;
        .head-inner{
          width: 80%;
          margin: auto;
          text-align: center;
          margin-bottom: 17px;
          p{
            color: $color-dark-blue;
            margin-bottom: 10px;
            &:after{
              background:url("../img/mobile/homepage/gray-rectangle.jpg") no-repeat;
            } 
          }
        }
        .inner-ctas{
          width: 100%;
          .maria-img{
            background: #ffffff url("../img/mobile/homepage/maria-discover.png") no-repeat left bottom;
            height: 71px;
          }
          .mark-img{
            background: #ffffff url("../img/mobile/homepage/mark-discover.png") no-repeat left bottom;
            height: 71px;
          }
          .kara-img{
            background: #ffffff url("../img/mobile/homepage/kara-discover.png") no-repeat left bottom;
            height: 71px;
          }
          .liam-img{
            background: #ffffff url("../img/mobile/homepage/liam-discover.png") no-repeat left bottom;
            height: 71px;
          }
          .cta{
            width: 49%;
            height: 71px;
            float: left;
            border-radius:0;
            border: 1px solid #bdbebb;
            margin-bottom: 2%;
            span{
              border-right:none;
            }
            .cta-txt{
              width: 65%;
              float: right;
              height: 69px;
              padding-top: 9px;
              background: url("../img/mobile/homepage/arrows-discover.png") no-repeat right 46px;
              .small-txt{
                font-size: 13px;
                line-height: 12px;
                padding-bottom:0;
                display: inline-block;
              }
              .bold-txt{
                font-size: 13px;
                line-height: 13px;
                font-family: $font-proxima-nova-bold;
                color: $color-blue-titles;
                padding-top:0;
                display: inline-block;
                width: 100%;
              }
            }
            &:after{
              background-image:none;
            }
          }
          .in-cta{
            margin-right: 2%;
          }
        }
      } 
    }// end of class Discover-Section

    .help-section{
      width: 100%;
      height: 246px;
      background: #34a7e0 url("../img/mobile/homepage/bg-help.png") no-repeat left top;
      margin-bottom:10px; 
      .inner-help{
        background: url("../img/mobile/homepage/skull-help.png") no-repeat right top;
        padding-left:20px;
        padding-right:20px;
        padding-top:29px;
        background-size:186px auto;
        display: block;
        height: 246px;
        .head-help{
          width: 80%;
          p{
            font-size: 17px;
            line-height: 20px;
            color:$color-white;
            margin-bottom: 14px;
          }
        }
      }
      .inner-ctas{
        .cta{
          height: 44px;
        }
        .cta-last{
          span{
            line-height: 38px!important;
          }
        }
      }
    }// end of class Help-Section
    .bgcarousel {
      width: 100%;
      height: 100%;
      position: absolute;
    }// end of class Slider

    #carousel-mobile-1 {
      z-index: 8;
      opacity: 1;
      @media screen and(min-width:400px) and (max-width: 768px) {
        background: url("../img/mobile/homepage/bg-slide001-sml.jpg") no-repeat center 0;
      }
      @media screen and(min-width:400px) and (max-width: 570px) {
        background-position: -95px 0px;
      }
      @media screen and(min-width:320px) and (max-width: 400px){
        background: url("../img/mobile/homepage/bg-slide001.jpg") no-repeat center 0;
      }
    }// end of class Slider

    #carousel-mobile-2 {
      
      z-index: 9;
      opacity: 0;
      @media screen and(min-width:400px) and (max-width: 768px) {
        background: url("../img/mobile/homepage/bg-slide002-sml.jpg") no-repeat center 0;
      }
      @media screen and(min-width:400px) and (max-width: 570px) {
        background-position: -95px 0px;
      }
      @media screen and(min-width:320px) and (max-width: 400px){
        background: url("../img/mobile/homepage/bg-slide002.jpg") no-repeat center 0;
      }
    }// end of class Slider

    #carousel-mobile-3 {
      
      z-index: 10;
      opacity: 0;
      @media screen and(min-width:400px) and (max-width: 768px) {
        background: url("../img/mobile/homepage/bg-slide003-sml.jpg") no-repeat center 0;
      }
      @media screen and(min-width:400px) and (max-width: 570px) {
        background-position: -95px 0px;
      }
      @media screen and(min-width:320px) and (max-width: 400px){
        background: url("../img/mobile/homepage/bg-slide003.jpg") no-repeat center 0;
      }
    }// end of class Slider


  }// end of class home-mobile
}
