
@function homepage-max-width () {

 // @return ( $site-max-width );
  //@return ( '100%' );
   @return ( '1800px' );

}

//-----------------------------------------------------------------------------------------------------------------

body {
  overflow-x: hidden;
}

.parallax {
  @include breakpoint("mobile") {
    display: none;
  }
}

.home-mobile  {
  @include breakpoint("tablet-n-up") {
    display: none;
  }
}

//-----------------------------------------------------------------------------------------------------------------


.home-section {



  #slide01, #slide02-03, #slide04-05 {
    width: 100%;
    max-width: #{homepage-max-width()};
    margin: auto;
    position: relative;
  }


  #slide01 {
    margin-top: 111px;
    @include breakpoint("tablet") {
      margin-top: 139px;
    }

    .footnote[data-section="home-1"]  {
      z-index: 999;
      top: 10em;

      @include breakpoint("limit") {
        top: 11em;

      }

    }


  }



  #divhelper2 {
    position: absolute;
    bottom: 0;
    height: 20em;

    @include breakpoint("tablet-n-desktop") {
      height: 24em;
    }

    }

  #divhelper3 {
    position: absolute;
    bottom: 0;
    height: 17.2em;
    width: 100px;

    @include breakpoint("tablet-n-desktop") {
      height: 18em;
    }


  }


  #divhelper4 {
    position: absolute;
    bottom: 0;
    height: 18.15em;
    width: 100px;

    @include breakpoint("tablet-n-desktop") {
      height: 20em;
    }

  }


  #divhelper5 {
    position: absolute;
    bottom: 0;
    height: 19.8em;
    width: 100px;

    @include breakpoint("tablet-n-desktop") {
      height: 22em;
    }

  }


  #slide02 {
    position: relative;
    height: 25em;
    z-index: 1000;

    .use-only {
      position: absolute;
      bottom: 2em;
      right: 17px;
      font-size: 15px;
      line-height: 0.29em;
      height: 0.29em;
      color: $color-white;
      z-index: 999;
    }

    .section__holder{
      overflow: hidden;
    }



    .footnote[data-section="home-2"] {
      z-index: 999;
      bottom: 6.4em;
    }



  }

  #slide02-03 {
  //  height: 48.2em;
    background: url(../img/desktop/homepage/background-23.jpg) no-repeat bottom center;
    background-size: cover;
  }

  #slide04-05 {
    height: 38.2em;
    background: url(../img/desktop/homepage/background-45.jpg) no-repeat top center;
    background-size: cover;
    overflow: hidden;
  }



  .header {
      margin-top: 0;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      text-align: center;
      background-color: #243d84;
      z-index: 9999;
      font-size: 0;



   &.header-top ul.utility-nav {
    //  position: fixed;
    right: 0;
    margin-top: -3px;

    @include breakpoint("tablet") {
      margin-top: -5px;
    }


    li {
      line-height: 11px;

      @include breakpoint("desktop") {
        line-height: 20px;
      }

      @include breakpoint("tablet") {
        line-height: 25px;
      }

    }

  }


  }



  #slide01 {
    background-color: rgba(0, 255, 0, 0.2);
    margin-top: 111px;
    height: 14.3em;
    z-index: 112;
    margin: 111px auto 0;
    left: 0;
    right: 0;
    max-width: #{homepage-max-width()};
    width: 100%;
    background-size: contain !important;
    overflow: hidden;

    @include breakpoint("tablet") {
      margin-top: 139px;
    }




    #herolink {
      width: 100%;
      height: 14em;
      display: block;
      position: absolute;
      z-index: 129;
    }


    & .lady01, & .lady02, & .lady03 {
      position: absolute;
      left: 0;
      right: 0;
      background-size: contain !important;
      width: 100%;
      height: 12.3em;
    }



    & .lady01 {
      background: url(../img/desktop/homepage/lady01.png) no-repeat top center;
      z-index: 122;
    }


    & .lady02 {
      background: url(../img/desktop/homepage/lady02.png) no-repeat top center;
      z-index: 118;
      opacity: 0;

    }

    & .lady03 {
      background: url(../img/desktop/homepage/lady03.png) no-repeat top center;
      z-index: 120;
      opacity: 0;
    }




  }

    #slide1-textbox {
      position: absolute;
      top: 1.7em;
      left: 140.5%;
      font-family: $font-proxima-nova-semibold;
      font-weight: 100;
      color: #1B468E;
      font-size: 0.8em;
      z-index: 125;
      text-align: left;
      letter-spacing: 0.04em;
      width: 39%;
      line-height: 1.2em;

      @include breakpoint("tablet-n-desktop") {
        top: 1.7em;
      }



      h2 {
        font-family: $font-proxima-nova-semibold;
        color: #2974AB;
        font-size: 1em;
        margin-top: 0.51em;
        margin-bottom: 25px;
        font-weight: 100;
        letter-spacing: 0.0434em;
      }

      .features {
        color: $color-cyan-text;
        text-transform: uppercase;
        text-decoration: underline;
      }

      p {
        font-family: $font-proxima-nova-semibold;
        font-size: 0.5em;
        padding-top: 0.1em;
        letter-spacing: 0.004em;
        line-height: 1.54em;
        width: 82%;

      }

      sup {
        position: relative;
        top: -0.2em;
        font-size: 0.8em;
      }

    }
















  #carousel1, #carousel2, #carousel3 {
    height: 13.7em;
    position: absolute;
    width: 104%;
    top: 0px;
    background-size: contain !important;
    overflow: hidden;
  }


  #carousel1, #slide01 {
    background: url(../img/desktop/homepage/carousel-01.jpg) no-repeat top center;
  }

  #carousel1 {
    z-index: 115;
    opacity: 1;
  }

  #carousel2 {
    background: url(../img/desktop/homepage/carousel-02.jpg) no-repeat top center;
    z-index: 117;
    opacity: 0;
  }

  #carousel3 {
    background: url(../img/desktop/homepage/carousel-03.jpg) no-repeat top center;
    z-index: 119;
    opacity: 0;
  }





  //  ------------------------------------------------------------------------------------------------


  .particle {
    background: url(../img/desktop/homepage/yellow-spike.png) no-repeat right center;
    background-size: contain;
    position: absolute;
    width: 20%;
    height: 20%;
    left: 0;
    bottom: 0; //21em
    z-index: 2;
    @media  screen and (min-width : 769px) and (max-width : 1700px) {
      z-index: 100;
    }
  }

  .green{
    background-image: url(../img/desktop/homepage/green-spike.png);
  }

  .pink{
    background-image: url(../img/desktop/homepage/pink-snot.png);
  }

  .dark{
    background-image: url(../img/desktop/homepage/dark-snot.png);
  }

  #pollen-1{
    width: 7.5%;
    height: 7.5%;
    left:64.5%;
    bottom:12.5%;
  }

  #pollen-2{
    width: 2%;
    height: 2%;
    bottom: 0;
    left: 0;
  }

  #pollen-3{
    width: 3.5%;
    height: 3.5%;
    bottom: 0;
    left: 0;
  }

  #pollen-4{
    width: 4%;
    height: 4%;
    bottom: 0;
    left: 0;
  }

  #pollen-5{
    width: 7.5%;
    height: 7.5%;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  #pollen-6{
    width: 11%;
    height: 11%;
    bottom: 0;
    left: 0;
  }

  #pollen-7{
    width: 11%;
    height: 11%;
    bottom: 0;
    left: 0;
  }

  #pollen-8{
    width: 11%;
    height: 11%;
    bottom: 0;
    left: 0;
  }

  #pollen-9{
    width: 1.5%;
    height: 1.5%;
    bottom: 0;
    left: 0;
  }

  #pollen-10{
    width: 2.3%;
    height: 2.3%;
    bottom: 0;
    left: 0;
  }
  
  #pollen-11{
    width: 2.7%;
    height: 2.7%;
    bottom: 0;
    left: 0;
  }

  #pollen-12{
    width: 2%;
    height: 2%;
    bottom: 0;
    left: 0;
  }

  #pollen-13{
    width: 1.3%;
    height: 1.3%;
    bottom: 0;
    left: 0;
  }

  #pollen-14{
    width: 6%;
    height: 6%;
    bottom: 0;
    left: 0;
  }

  #pollen-15{
    width: 17%;
    height: 17%;
    bottom: 0;
    left: 0;
  }

  //  ------------------------------------------------------------------------------------------------

  #dots-container {
    height: 100%;
    margin: auto;
    max-width: #{homepage-max-width()};
    position: fixed;
    text-align: center;
    bottom: 0;
    z-index: 1005;
    right: 0;
    width: 69px;



    .dotbox, .dotcover {
      background-color: #fff;
      border-radius: 8px 0 0 8px;
      display: block;
      height: 197px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 40px;
      padding-top: 7px;


      .dot {
        background: #fff url(../img/desktop/homepage/bullet-off.jpg) no-repeat;
        width: 29px;
        height: 29px;
        display: block;
        margin: 6px auto;
        cursor: pointer;

        &:hover {
          background: #fff url(../img/desktop/homepage/bullet-hover.jpg) no-repeat;
        }

      }

      .dot-on {
        background: #fff url(../img/desktop/homepage/bullet-on.jpg) no-repeat;
      }

    }

    .dotcover {
      background: none;
      z-index: 10;
      right: 33px;
      display: none;
    }

  }

  //  ------------------------------------------------------------------------------------------------

  #compare-copy {
    width: 40%;
    height: 7em;
    position: absolute;
    top: 0.6em;
    left: -42%;
    color: $color-white;
    font-family: $font-proxima-nova-bold;
    text-align: left;
    z-index: 105;



    h2 {
      font-family: $font-proxima-nova-semibold;
      font-size: 0.7em;
      padding: 0;
      margin: 0.3em 0 0 0.60em;
      letter-spacing: 0.03em;
      width: 95%;
      line-height: 1.4em;
      color: $color-white;

      sup {
        position: relative;
        top: -0.5em;
        font-size: 0.65em;
        font-weight: 100;
      }

    }

    sup {
      position: relative;
      top: -1.5em;
      font-size: 0.4em;
      font-weight: 100;
    }




    p {
      margin: 2.7em 0 0 1em;
      width: 72%;
      font-size: 0.37em;
      font-weight: 100;
      line-height: 1.6em;
      color: #e9eaea;
    }


    .compare-link {
      display: block;
      background: #fff url(../img/desktop/homepage/mom-child-arrow.png) no-repeat right center;
      height: 3.6em;
      border-radius: 9px;
      width: 59%;
      margin: 1.2em 0px 0px 0.7em;
      font-size: 0.45em;
      text-decoration: none;
      line-height: 1.3em;
      color: #2e2662;
      background-size: contain;
      font-family: $font-proxima-nova-regular;
      font-weight: normal;
      letter-spacing: 0.05em;
    }

    .compare-link:hover {
      color: $color-orange;
      background: #fff url(../img/desktop/homepage/mom-child-arrow-hover.png) no-repeat right center;
      background-size: contain;
    }




    .compare-link span {
      display: block;
      width: 79%;
      padding: 0.6em 0px 0px 1em;
      font-weight: 100;
    }

    .compare-link strong {
      font-family: $font-proxima-nova-bold;
      font-weight: 700;
    }


  }

  //  ------------------------------------------------------------------------------------------------


  #product-features-text {
    width: 100%;
    height: 2.8em;
    position: relative;
    bottom: -3.6em;

    @include breakpoint("limit") {
      bottom: -3.75em;
    }

  }

  //  ------------------------------------------------------------------------------------------------


  #product-features-bg {
    background: url("../img/desktop/homepage/productbox.png") no-repeat top center;
    width: 100%;
    height: 13.2em;
    position: absolute;
    //top: 1.60em;
    top: 8em;
    z-index: 130;
    background-size: contain;
    max-width: #{homepage-max-width()};






    .product-title {
      position: absolute;
      top: 0.9em;
      left: 31%;
      font-size: 0.46em;
      letter-spacing: 0.02em;
      color: #2e2662;
      font-weight: 700;

      sup {
        position: relative;
        top: -0.765em;
        font-size: 0.5em;
      }


    }




    .clinical-study {
      min-width: 220px;
      position: absolute;
      top: 4.1em;
      left: 1.2%;
      font-size: 0.30em;
      line-height: 1.3em;



      @include breakpoint("limit") {
        left: 17px;
      }




    }

    .dataonfile {
      display: block;
      margin-left: 1%;
      min-width: 300px;
    }


    .use-only {
      position: absolute;
      top: 50%;
      right: 17px;
      font-size: 15px;
      line-height: 0.29em;
      height: 0.29em;
      margin-top: 0.8em;
    }





  }



  .nopadding {
    padding: 0 !important;
  }


  #nasacort-compare {
    width: 12em;
    height: 10.5em;
    position: absolute;
    right: 20.4%;
    z-index: 101;
    font-family: $font-proxima-nova-bold;
    color: red;
    top: 5.5em;
    text-align: left;





    h2 {
      font-size: 0.7em;
      padding: 0;
      margin: 0.403em 0 0 4%;
      letter-spacing: 0.03em;
      width: 95%;
      line-height: 1.4em;
      color: #133C7C;
    }

    sup {
      position: relative;
      top: -1.1em;
      font-size: 0.4em;
      font-weight: 100;
    }

    p {
      margin-top: 3.65em;
      width: 93%;
      font-size: 0.3em;
      font-weight: 100;
      line-height: 1.55em;
      margin-left: 4%;
      letter-spacing: 0.04em;
      color: #4d4b4b;
      margin-bottom: 2.7em;

      strong {
        font-weight: 700;
      }


      sup {
        position: relative;
        top: -0.5em;
        font-size: 0.6em;
        font-weight: 100;
      }


    }

    .superscript {
      top: -0.54em;
      font-size: 0.7em;
    }

    .compare-link {
      display: block;
      background: #fff url(../img/desktop/homepage/mom-child-arrow.png) no-repeat right center;
      height: 3.7em;
      border-radius: 9px;
      width: 92%;
      margin: 0.9em 0px 0px 0.7em;
      font-size: 0.45em;
      text-decoration: none;
      line-height: 1.2em;
      color: #2E2662;
      font-family: $font-proxima-nova-regular;
      font-weight: normal;
      letter-spacing: 0.05em;


      @include breakpoint("tablet") {
        letter-spacing: 0.05em;
      }


      sup {
        position: relative;
        top: -0.4em;
        font-size: 0.7em;
        font-weight: 100;
      }

    }

    .compare-link:hover {
      color: $color-orange;
      background: #fff url(../img/desktop/homepage/mom-child-arrow-hover.png) no-repeat right center;
    }

    .compare-link span {
      display: block;
      width: 92%;
      padding: 1.2em 0px 0px 1em;
      font-weight: 100;
    }

    .span1 {
      @include breakpoint("tablet-n-desktop") {
        padding: 0.7em 0px 0px 1em !important;
        width: 75% !important;
      }
    }

    .span2 {
      padding: 0.7em 0px 0px 1em !important;
      width: 75% !important;
    }

    .compare-link strong {
    font-family: $font-proxima-nova-bold;
      font-weight: 700;
    }

  }










  #slide04 {
    //position: fixed;
    //top: 81px;
    //background-color: forestgreen;
    height: 17em;
    left: 0;
    right: 0;
    margin: -2px auto 0;
    z-index: 100;
    max-width: #{homepage-max-width()};
    width: 100%;
    font-family: $font-proxima-nova-semibold;
    font-weight: 100;
    //margin-top: 17em;

    //@include breakpoint("tablet-n-desktop") {
    //  margin-top: 35em;
    //  top: 139px;
    //}


    overflow: hidden;

    .use-only {
      position: absolute;
      right: 17px;
      bottom: 7em;
      font-size: 15px;
      line-height: 0.29em;
      height: 0.29em;

      @media screen and (max-width: 830px) and (min-width: 768px){
        bottom: 2.6em;
      }

      @media screen and (max-width: 880px) and (min-width: 831px){
        bottom: 3em;
      }

      @media screen and (max-width: 1000px) and (min-width: 881px){
        bottom: 3.5em;
      }

      @media screen and (max-width: 1100px) and (min-width: 1001px){
        bottom: 4em;
      }

      @media screen and (min-width: 1101px){
        bottom: 9em;
      }
    }



  }



  #slide04 .title {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    color: #133C7C;
    top: 1.8em;
    font-size: 0.8em;
    width: 40%;
    letter-spacing: 0.01em;
    line-height: 1.17em;
    text-align: center;
  }

  #slide04 .title sup {
    position: relative;
    top: -10px;
    font-size: 0.7em;
  }


  .orange-color {
    color: #EA5825;
  }




  #slide04 .dashbox {
    display: block;
    background-color: #b1c9e0;
    position: absolute;
    top: 3.76em;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 2.8%;
    height: 0.1em;


  }




  #patient-box {
    width: 70%;
    margin: auto;
    height: 9em;
    top: 4.25em;
    position: absolute;
    right: 0;
    left: 101%;
    @include ha;
  }





  .patient {

    display: inline-block;
    width: 24%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;





    .namebox {
      border-bottom: 1px solid #aaa;
      width: 95%;
      height: 1.64em;
      overflow: hidden;
      margin: auto;


      .name {
        font-family: $font-proxima-nova-semibold;
        font-size: 0.51em;
        display: block;
        padding-top: 0.5em;
        color: #133c7c;
      }

      .subname {
        font-family: $font-proxima-nova-extrabold;
        font-size: 0.51em;
        display: block;
        padding-top: 0.1em;
        color: #ea5825;
        letter-spacing: 0.06em;
      }


    }


    .textbox {
      position: absolute;
      bottom: 0;
      font-size: 0.3em;
      height: 4.23em;
      width: 100%;
      background: #fff url(../img/desktop/homepage/patient-arrow.png) no-repeat right center;
      color: #133c7c;
      font-family: $font-proxima-nova-semibold;
      text-align: left;
      background-size: contain;


      p {
        padding: 0.8em 0px 0px 6.5%;
        width: 86%;
        line-height: 1.2em;
        color: #133c7c;
        font-size: 1em;

      }

    }

    .textboxhover{
      background: #fff url(../img/desktop/homepage/patient-arrow-hover.png) no-repeat right center;
      background-size: contain;
      color: $color-orange;
    }



  }




  .patient-maria img {
    margin-top: -0.32em;
    background-size: contain;
    width: 107%;
  }



  .patient-mark img {
    margin: -0.54em 0px 0px -1%;
    background-size: contain;
    width: 98%;
  }

  .patient-kara img {
    margin: -0.2em 0px 0px -2%;
    background-size: contain;
    width: 110%;
  }

  .patient-liam img {
    margin: 1em 0 0 0;
    background-size: contain;
    width: 100%;
  }


  #slide05 {
  //  position: fixed;
    //background-color: rgba(255,255,255,0.4);
    height: 21.2em;
    z-index: 100;
    position: absolute;
    max-width: #{homepage-max-width()};
    width: 100%;
    margin: auto;
    left: 0px;
    right: 0px;
    //margin-top: 15em;


    .use-only {
      position: absolute;
      bottom: 0;
      right: 17px;
      font-size: 15px;
      line-height: 0.29em;
      height: 0.29em;
      color: $color-white;

    }

    #understand-box {
      position: absolute;
      top: 3.1em;
      width: 40%;
      text-align: left;
      left: -40%;
      right: 0;
      //margin: auto;
      @include ha;


      h2 {
        color: #FFF;
        font-family: $font-proxima-nova-semibold;
        font-size: 0.8em;
        padding-bottom: 0;
        font-weight: 100;
        line-height: 1.18em;
        letter-spacing: 0.03em;
      }

    }

    .understand-link {
      display: block;
      background: #fff url(../img/desktop/homepage/understand-arrow.png) no-repeat right center;
      background-size: contain;
      border-radius: 9px;
      width: 79%;
      height: 3.8em;
      margin: 0px 0px 0.9em 0em;
      font-size: 0.45em;
      text-decoration: none;
      line-height: 3.8em;
      color: $color-blue-titles;
      font-family: $font-proxima-nova-semibold;
      letter-spacing: 0.08em;
      padding-left: 4%;


    }


    .understand-link:hover {
      color: $color-orange;
      background: #fff url(../img/desktop/homepage/understand-arrow-hover.png) no-repeat right center;
      background-size: contain;

    }

  }








  #bottle {
    background: url("../img/desktop/homepage/bottle-nocap.png") no-repeat center center;
    background-size: contain;
    z-index: 101;
    position: absolute;
    top: -6em;
    left: 72%;
    margin: 0.3em auto auto 0%;
    width: 3em;
    height: 4.4em;
    backface-visibility: hidden;
    transform: translateZ(0);
    transform: scale(1, 1);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-perspective: 1000;

    //@include breakpoint("tablet") {
    //  top: 8.2em;
    //}
    //
    //@include breakpoint("desktop") {
    //  top: 8.3em;
    //}


  }

  #cap {
    -webkit-transform: translate3d(0, 0, 0);
    /* enable hw acceleration */
    background: url("../img/desktop/homepage/cap.png") no-repeat center center;
    background-size: contain;
    bottom: 0px;
    width: 1.2em;
    height: 3em;
    z-index: 101;
    position: absolute;
    top: -5.75em;
    left: 74.6%;

    //@include breakpoint("tablet") {
    //  top: 8.4em;
    //}
    //
    //@include breakpoint("desktop") {
    //  top: 8.5em;
    //}




  }





  #no-scent {
    background: url("../img/desktop/homepage/no-scent.png") no-repeat center bottom;
    background-size: cover;
    width: 11em;
    height: 0em;
    bottom: 14.5em;
    z-index: 98;
    position: absolute;
    left: 16.8%;



    //@include breakpoint("tablet") {
    //  bottom: 12.8em;
    //}
    //
    //@include breakpoint("desktop") {
    //  bottom: 12.8em;
    //}



  }










  #slide03 {
    height: 14.73em;
    margin: auto;
    left: 0;
    right: 0;
    max-width: #{homepage-max-width()};
    width: 100%;
    overflow: hidden;

    //@include breakpoint("tablet") {
    //  top: 139px;
    //}
    //
    //
    //@include breakpoint("desktop") {
    //  top: 139px;
    //}
    //
    //@include breakpoint("pp-desktop") {
    //  top: 97px;
    //}








    .dashbox {
      display: block;
      background-color: #c0cdd2;
      position: absolute;
      top: 2.55em;
      left: 3%;
      width: 7%;
      height: 0.1em;
    }




    .use-only {
      position: absolute;
      bottom: 1em;
      right: 17px;
      font-size: 15px;
      line-height: 0.29em;
      height: 0.29em;
    }


    .use-only.two-lines-use{
      line-height: 1em;
      max-width: 300px;
      text-align: right;
      bottom: 2.2em;

      @include breakpoint("desktop-n-up") {
        bottom: 3.4em;
      }
    }




    #compare-bg {
      background: transparent url("../img/desktop/homepage/mom-child.png") no-repeat center top;
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      background-size: contain;
      bottom: -15em;
      z-index: 100;
    }


    #compare-bg .btn1 {
      color: #00008B;
      font-size: 0.51em;
      margin: 0.3em 3em;

      width: 400px;
      min-height: 50px;
      font-family: $font-proxima-nova-semibold;
      text-align: left;
    }




    .compare-link-bottom {
      display: block;
      background: url(../img/desktop/homepage/compare-arrow.png) no-repeat right center;
      background-size: contain;
      width: 30%;
      position: absolute;
      left: 23%;
      bottom: 10.2em;
      font-size: 0.46em;
      padding: 0.8em 0px 0.8em 4.4%;
      line-height: 1.3em;
      color: $color-dark-blue;
      font-weight: 700;


      &:hover {
        color: $color-orange;
        background: url(../img/desktop/homepage/compare-arrow-hover.png) no-repeat right center;
        background-size: contain;
      }

    }


    .compare-link-bottom + .btn01 {
      bottom: 10.2em;
    }

    .compare-link-bottom + .btn02 {
      bottom: 6em;
      line-height: 1.4em;
    }

    .compare-link-bottom + .btn03 {
      bottom: 1.7em;
    }



    #stats {
      background: transparent url("../img/desktop/homepage/mom-child-stats.png") no-repeat center bottom;
      height: 0;
      z-index: 99;
      background-size: cover;
      position: absolute;
      bottom: 8em;
      width: 26%;
      left: 58%;
    }



  }






.footer .footer-content .lists .footer-col {
  line-height: 1px;
}


.footer .footer-content .bottom-content{
  padding-top: 13px;
  @include breakpoint("mobile") {
    padding-top: 10px;
  }
}


.footer .footer-content .bottom-content ul{
  @include breakpoint("mobile") {
    width: 254px;
    margin-bottom: 29px
  }
}


.footer .footer-content .bottom-content ul li {
  position: relative;
  line-height: 9px;
  padding: 0 13px;
  height: 23px;
  @include breakpoint("mobile") {
    line-height: 24px;
  }

}

.footer .footer-content .bottom-content ul li a{
  display: block;
  line-height: 23px;
}

.footer .footer-content .bottom-content ul li:nth-child(1) {
  padding-left: 0;
}

.footer .footer-content .bottom-content ul li:last-child {
  padding-right: 0;
}

.footer .footer-content .bottom-content ul li .pipe {
  position: absolute;
  top: 50%;
  right: 0;
  margin: -6px 0 0 0;
  @include breakpoint("mobile") {
    margin-top: -6px;
  }
}

.footer .footer-content .alternative-content ul {
  margin-top: 0px;

  @include breakpoint("mobile") {
    margin-top: 0px;
  }

}





  .footer .footer-content .alternative-content ul li  {
    position: relative;
    padding: 0 15px;
    @include breakpoint("mobile") {
      margin-top: 0;
      padding: 0 13px;
    }
  }

.footer .footer-content .alternative-content ul li:nth-child(1){
  padding-left: 0;
}
.footer .footer-content .alternative-content ul li:last-child{
  padding-right: 0;
}

.footer .footer-content .alternative-content ul li .pipe {
  display: block;
  position: absolute;
  top:50%;
  right: 0;
  margin: -6px 0 0 0;
  @include breakpoint("mobile") {
    margin-top: -6px;
  }
}

.footer .footer-content .alternative-content ul li a{
  display: block;
  line-height: 45px;
  @include breakpoint("mobile") {
    margin-top: 0;
  }
}



.footnote .rfrs p {
  @include breakpoint("tablet-n-up") {
    font-size: 12px;
  }
}


.footer .footer-content .bottom-content .logo-footer{
  margin-top: 9px;
}

.footer .footer-content .bottom-content .right-side p{
  margin-top: 60px;
  @include breakpoint("mobile") {
    margin-top: 62px;
  }
}


}




#slide01, #slide02, #slide03, #slide04, #slide05, #bottle, #cap  {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

}


