.section-content {
    
        margin-top:-9px;
        position: relative;
        width: 100%;
        margin-right:auto;
        margin-left:auto;
        float:left;
    
    sup {
        font-size: 75%;
    
        /* Zero out the line-height so that it doesn't
           interfere with the positioning that follows */
        line-height: 0;
    
        /* Where the magic happens: makes all browsers position
           the sup/sup properly, relative to the surrounding text */
        position: relative;
    
        /* Note that if you're using Eric Meyer's reset.css, this
           is already set and you can remove this rule */
        vertical-align: baseline;
        /* Move the superscripted text up */
        top: -0.4em;
        cursor: pointer;
    }
    
    p{
        float:left;
    }

}


@include breakpoint('desktop') {
    
    .section-content{
         margin-top: -39px;
 
        h1{
            font-size:3em;
        }  
        h2{
            font-size: 2em;
            margin-bottom: 1em;
            margin-top: 1em;
        }
        p{
            font-size:1em;
            line-height:1.3em;
            margin-bottom:1em;
        } 
    }

}

@include breakpoint('tablet') {
    
    .section-content{
         margin-top: -39px;
         h1{
            font-size:3em;
            padding-top: 1.7em;
        }  
        h2{
            font-size: 2em;
            margin-bottom: 1em;
            margin-top: 1em;
        }
        p{
            font-size:1em;
            line-height:1em;
            margin-bottom: 1em;
            margin-top: 1em;
        } 
        h3{
            font-size: 1.5em;
            margin-bottom: 1em;
            margin-top: 1em;
        }
    }

}
    
   
