.section-content {
    
    margin-top:-9px;

sup {
    font-size: 75%;

    /* Zero out the line-height so that it doesn't
       interfere with the positioning that follows */
    line-height: 0;

    /* Where the magic happens: makes all browsers position
       the sup/sup properly, relative to the surrounding text */
    position: relative;

    /* Note that if you're using Eric Meyer's reset.css, this
       is already set and you can remove this rule */
    vertical-align: baseline;
    /* Move the superscripted text up */
    top: -0.4em;
    cursor: pointer;
}


.banner{    
    img{
        position:absolute;
    }
    
    div{
        position:absolute;   
        margin-left:190px; 
        h1{
            margin-top:90px;
        }      
        .underlined{
            margin-top:10px;
        }
    }
}

}


// ------- SECTIONS --------------------------------------------------------------------------------------




.nasacort-difference {


}


.dosing-and-efficacy {


}


.whats-a-clucker {


}


.science-of-allergic-rhinitis {


}



