.nasacort-difference-section {
    .container{
        @include breakpoint('mobile') {   
            overflow:hidden;
        }
    }
    

  @include breakpoint('mobile') {   
    .footnote{
      .animation {
          width: 90%!important;
          padding: 10px 10px 10px 20px;
      }
    }
    
  }
.first-container{
   @include breakpoint('mobile'){
       padding-top: 128px !important;
   }
}
  .hero-banner {
    background:url(../img/desktop/nasacort-difference/hero-difference.png) no-repeat top center;
    @media screen and (max-width: 640px) {
        background:url(../img/mobile/nasacort-difference/hero-difference.png) no-repeat top center;
        background-position: 50% 100% !important;
        background-size: cover !important;
    }
    .underlined{
      background-color:#7394BF;
    }
  }
  a{
    color:$color-bright-blue;
  }

  .textbox {
    padding-left:215px;
    padding-right:213px;
    position:relative;
    @include breakpoint('desktop'){
      max-width: 920px!important;
      padding-left:0;
      padding-right:0;
    }
    @include breakpoint('tablet'){
      max-width: 769px!important;
      padding-left:40px;
      padding-right:40px;
    }
    @include breakpoint('mobile'){
      clear: both;
      display: block;
      max-width: 100% !important;
      min-height: 27px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .textbox-allergy-inner{
    width: 714px;
    float: left;
    @include breakpoint('desktop'){
      width: 60%;
    }
    @include breakpoint('tablet'){
      width: 100%;
    }
    @include breakpoint('mobile'){
      max-width: 100%;
    }
  }

  h2{
    margin-top:47px;
    margin-bottom: 22px; 
    @include breakpoint('mobile'){
        width:70%;
        margin-top:18px;
    }
  }
.down-txt
  h3 {
    font-family: $font-proxima-nova-bold;
    color: #022E80;
    font-size: 25px;
    text-transform: none;
    padding-top: 9px;
    @include breakpoint('mobile'){
      font-size: 14px;
      padding-top: 12px;
    }
  }

  p.use-only{
    max-width: 100%;
    width: 100% !important;
    padding-right:20px;
    padding-left:0;
    text-align: right;
    line-height: 28px;
    font-size: 15px;
    clear: both;
    margin: 0 auto 12px;
    @include breakpoint('desktop'){
      //max-width: 920px!important;
      padding-left:0;
      padding-right:20px;
    }
    @include breakpoint('tablet'){
      //max-width: 769px!important;
      padding-left:0px;
      padding-right:20px;
    }
    @include breakpoint('mobile'){
      text-align: left;
      line-height: 17px;
      font-size: 10px;
      padding-right:20px;
      padding-left:20px;
    }
  }

  p.last-text{
    margin-bottom:6px; 
  }

  .img-spray{
    float: left;
    width: 486px;
    position: absolute;
    right: 93px;
    top: -490px;
    @include breakpoint('desktop'){
      width: 55%;
      right: -45px;
      top: -462px;
    }
    @include breakpoint('tablet'){
      width: 32%;
      right: 0;
      top: -263px;
    }
    @include breakpoint('mobile'){
      width: 200px;
      right: 1px;
      top: -240px;
    }
    
     @media screen and (max-width: 375px) {
         right: -30px;
     }
    
    img{
      width: 100%;
    }
  }
  
  .treatments{
      .footnote{
          margin-top:207px;
          @include breakpoint('mobile'){
            margin-top: 0;
        }
        @media screen and (max-width: 1210px) {
           margin-top:320px; 
        }
        @include breakpoint('tablet'){
             margin-top:270px; 
        }
        @include breakpoint('mobile'){
             margin-top:10px; 
             margin-bottom:15px;
        }
      }
      .use-only{
          @media screen and (max-width: 1210px) {
           margin-top:360px; 
        }
        @include breakpoint('tablet'){
             margin-top:300px; 
        }
        @include breakpoint('mobile'){
             margin-top:0; 
        }
      }
  }

  //  Comparing OTC INS -------------------------------------------------------------------------------

  .comparing {
    background-color: $color-blue-light-container;
    padding-top: 45px;
    overflow: hidden;
    @include breakpoint('mobile'){
      padding-top: 17.5px;
    }
    .textbox{
      h2 {
        margin-top: 2px;
        @include breakpoint('mobile'){
          margin-bottom: 0;
        }
      }
    }
    .comparin-inner{
      p{
        margin-bottom:26px; 
        @include breakpoint('mobile'){
          margin-bottom: 11px;
        }
      }
    }
    .footnote{
        margin-top:-128px;
        @media screen and (max-width: 1210px) {
             margin-top:0px;
        }
          @include breakpoint('mobile'){
          margin-top: 0;
        }
    }
    .use-only{
        @media screen and (max-width: 1210px) {
             margin-top:60px;
        }
         @include breakpoint('tablet'){
             margin-top:40px;
         }
    }
  }

  .compare-otc {
    background: url("../img/desktop/nasacort-difference/compare-otc.png") no-repeat top center;
    background-size: contain;
    margin: auto;
    width: 786px; //100%;
    padding-bottom:27%;
    margin-bottom:12px; 
    @include breakpoint('mobile'){
      min-height: 75px;
      height: auto;
    }
    @include breakpoint('mobile'){
        padding-bottom:27%;
        background-size: contain;
    }
  }

  .options{
      .footnote{
        z-index:2;
         @include breakpoint('mobile'){
             margin-left:0 !important;
             margin-bottom:15px;
         }
    }
    h2{
      @include breakpoint('mobile'){
        margin-top: 19px; 
        margin-bottom:0;
      }
    }
    p{
      margin-bottom:25px; 
      width:90%;
    }
    p.use-only{
      margin-bottom: 9px;
      @include breakpoint('mobile'){
            padding-left:0;
            width:100%;
            margin-left:20px;
        }
    }
    h3{
        @include breakpoint('mobile'){
            width:68%;
        }
        .grey{
              @include breakpoint('mobile'){
                color:#6e6e6e;
            }
        }
    }
  }




  .download-cta-button {
    @include breakpoint("mobile") {
      padding-left: 1%;
      padding-right: 1%;
     }


    @include breakpoint("pp-mobile") {
      padding-left: 10px;
      padding-right: 10px;
    }



  }


  //  stats table -------------------------------------------------------------------------------------


  .invisible {
    display: none;
  }

  #brand-compare {
    height: 66px;
    width: 36.7%;
    right: 0; //-98px;
    position: absolute;
    top: 1px;
    padding: 0px;
    margin: 0px;
    z-index: 10;
    list-style: none;
    overflow: hidden;
    min-width:209px;
    @include breakpoint('mobile'){
      overflow:visible;
      //max-width:209px;
      min-width:200px;
      height:53px;
      right:19px !important;
    }
    .inner-logos{
        padding-bottom:14px;
        background-color: #497ebf;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.6);
        -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.6);
        box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.6);
        margin-right:3px;
        margin-bottom:10px;
        padding-top:12px;
      @include breakpoint('mobile'){
        //width:237%;
        //max-width:208px;
        float:right;
        background-color: #497ebf;
        padding-bottom:1px;
        padding-left:12px;
        margin-right:2px;
        min-width:209px;
        border-top: 1px solid #94bed3;
      }
      .two-logos{
        @include breakpoint('mobile'){
          width:100%;
          float:right;
        }
      }
      a{
        @include breakpoint('mobile'){
          float: left;
          position: relative;
          width: auto;
          padding-right:12px;
          margin-top:6px;
        }
        img{
            @include breakpoint('mobile'){
                width:86px;
                max-height:48px;
            }
        }
      }
      .logos-1{
          a{
               @include breakpoint('mobile'){
                 margin-top:0px;
                 margin-bottom:0;
                }
           }
      }
      .logos-2{
          a{
              @include breakpoint('mobile'){
                 margin-bottom:0;
                }
          }
      }
      .logos-3{
          .brand{
               @include breakpoint('mobile'){
                    padding-bottom:10px;
                    margin-bottom:0;
                }
          }
      }
    }
    @include breakpoint('tablet'){
      right: 38px;
      top: 1px;
      width: 29.5%;
    }
    @include breakpoint('mobile'){
      right: 18px;
      top: 1px;
      width: 30.7%;
    }


    .brand,  .open,.instruccion {
      width: 99%;
      text-align: center;
      background-color: #497ebf;
      cursor: hand;
      display: block;
    }
    .open{
      height: 78px;
      @include breakpoint('tablet'){
        //height: 5px;
      }
      @include breakpoint('mobile'){
        height: 53px;
      }
      &.start{
        background-color: #d9d9d9;
        border-left: solid #497ebf 3px;
        border-right: solid #497ebf 3px;
        border-top: solid #497ebf 3px;
        @include breakpoint('mobile'){
            border-left: solid #497ebf 2px;
            border-right: solid #497ebf 2px;
            border-top: solid #497ebf 2px;
        }
      }
    }
    .instruccion{
      height: auto;
      margin-bottom: 1px; 
      padding-top: 20px;
      text-align: left;
      @include breakpoint('mobile'){
        float: right;
        height: auto;
        padding: 8px 0 1px;
       // width: 237%;
       // max-width:208px;
       min-width:209px;
        margin-bottom:0;
        //border: 1px solid #94bed3;
        margin-right:2px;
      }
      p{
        padding: 0 15px;
        color: #dfefff;
        font-size: 19px;
        margin-bottom: 1px;
        font-weight:lighter;
        @include breakpoint('mobile'){
          font-size: 12px;
        }
        &.head{
          font-size: 22px;
          margin-bottom: 0;
          font-weight:bold;
          @include breakpoint('mobile'){
            font-size: 14px;
          }
        }
      }
    }
    .brand{
        margin-top:12px;
        margin-bottom:2px;
      img{
        @include breakpoint('mobile'){
          width: 80%;
        }
      }
      
      .shadow-logo{
        -webkit-box-shadow: 0px 5px 4px 0px rgba(50, 50, 50, 0.5);
        -moz-box-shadow:    0px 5px 4px 0px rgba(50, 50, 50, 0.5);
        box-shadow:         0px 5px 4px 0px rgba(50, 50, 50, 0.5);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,323232+100&amp;0+0,0.4+100 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(50,50,50,0.4) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(50,50,50,0.4))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(50,50,50,0.4) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(50,50,50,0.4) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(50,50,50,0.4) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(50,50,50,0.4) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66323232',GradientType=0 ); /* IE6-9 */


      }
    }

    .sprite-bg-afrin{
      background: url("../img/desktop/nasacort-difference/bg-afrin.png") no-repeat top center;
      background-size: contain;
      @include breakpoint('tablet'){
          //background-size: contain;
      }
      @include breakpoint('mobile'){
        background-position: center;
        background-size: 100% auto;
        overflow: hidden;
        width: 100%;
        margin-left:0%;
        float:right;
        margin-right:2px;
      }
    }

    .sprite-bg-benadryl{
      background: url("../img/desktop/nasacort-difference/bg-benadryl.png") no-repeat top center;
      background-size: contain;
      @include breakpoint('tablet'){
          background-size: contain;
      }
      @include breakpoint('mobile'){
          background-position: 5px center;
            background-size: 100% auto;
            overflow: hidden;
            width: 100%;
            margin-left:0%;
            float:right;
            margin-right:2px;
      }
    }

    .sprite-bg-flonase {
      background: url("../img/desktop/nasacort-difference/bg-flonase.png") no-repeat top center;
      background-size: contain;
      @include breakpoint('tablet'){
          background-size: contain;
      }
      @include breakpoint('mobile'){
          background-position: 8px center;
            background-size: 100% auto;
            overflow: hidden;
            width: 100%;
            margin-left:0%;
            float:right;
            margin-right:2px;
      }
    }

    .sprite-bg-sudafed {
      background: url("../img/desktop/nasacort-difference/bg-sudafed.png") no-repeat top center;
      background-size: contain;
      @include breakpoint('tablet'){
          background-size: contain;
      }
      @include breakpoint('mobile'){
          background-position: 5px center;
            background-size: 100% auto;
            overflow: hidden;
            width: 100%;
            margin-left:0%;
            float:right;
            margin-right:2px;
      }
    }

    .sprite-bg-zyrtec {
      background: url("../img/desktop/nasacort-difference/bg-zyrtec.png") no-repeat top center;
      background-size: contain;
      @include breakpoint('tablet'){
          background-size: contain;
      }
      @include breakpoint('mobile'){
          background-position: 5px center;
            background-size: 100% auto;
            overflow: hidden;
            width: 100%;
            margin-left:0%;
            float:right;
            margin-right:2px;
      }
    }

    .sprite-bg-claritin {
      background: url("../img/desktop/nasacort-difference/bg-claritin.png") no-repeat top center;
      background-size: contain;
      @include breakpoint('tablet'){
          background-size: contain;
      }
      @include breakpoint('mobile'){
          background-position: 5px center;
            background-size: 100% auto;
            overflow: hidden;
            width: 100%;
            margin-left:0%;
            float:right;
            margin-right:2px;
      }
    }

  }

  .brand-compare-open {
    height: auto !important;
  }

  .info-small-chart{
    margin-top:17px; 
    p{
      font-size: 13px;
      line-height: 14px;
      @include breakpoint('mobile'){
        font-size: 10px;
        line-height: 15px;
      }
    }
  }

  .charts {
    width: 786px;
    border-collapse: collapse;
    font-size: 12px;
    font-family: arial, sans-serif;
    border: 1px solid #c0d3df;
    margin: auto;
    position:relative;
    .chart-logo{
        border-right:none;
      img{
        @include breakpoint('tablet'){
          width:40%;
        }
        @include breakpoint('mobile'){
          width:70%;
          right:5%;
          position:relative;
          height:auto;
          max-height:44px;
          max-width: 120px;
        }
      }
      @include breakpoint('mobile'){
          //padding-top:6px;
        }
    }
    @include breakpoint('tablet'){
      width: 100%;
    }
    @include breakpoint('mobile'){
      width: 100%;
    }

    th, td {
      border: 1px solid #c0d3df;
    }

    td {
      height: 48px;
      border-bottom: none;
      border-top: none;
      font-size:11px;
      br{
          display:none;
          @include breakpoint('mobile'){
            display:block;
        }
      }
      @include breakpoint('mobile'){
          height:37px;
      }
    }

    tr:nth-child(even) {
      background-color: #e7eff4;
    }

    tr:nth-child(odd) {
      background-color: #fff;
    }

   .greybar td {
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #c0d3df;
      border-top: 1px solid #c0d3df;
    }

    tr:nth-child(1) {
      height: 78px;
      @include breakpoint('mobile'){
          height:53px;
      }
    }

    td:nth-child(1) {
      width: 47px;
      vertical-align: middle;
      text-align: center;
      border-right: none;
      img{
          @include breakpoint('mobile'){
            display:none;
        }
      }
       @include breakpoint('mobile'){
            width:8px;
        }
    }

    td:nth-child(2) {
      border-left: none;
      vertical-align: middle;
    }

    td:nth-child(3), td:nth-child(4) {
      width: 32%;
      text-align: center;
      vertical-align: middle;
      border-left: none;
    }
    td:nth-child(4) {
        
    }

    td:nth-child(3){
      border-left: none;
      //border-right: none;
    }
    .non-brd{
      border-right:none;
    }

    .greybar {
      background-color: #f2f0ee !important;
      height: 40px;
      @include breakpoint('mobile'){
          height:20px;
      }
      td{
              @include breakpoint('mobile'){
              height:20px;
          }
      }
    }

  }

  .chart-table-container {
    position: relative;
    width: 786px; // 690px;
    margin: auto;
    @include breakpoint('tablet'){
      width: 100%;
      padding-left: 40px;
      padding-right: 40px;
    }
    @include breakpoint('mobile'){
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
    
    .vrs {
      position: absolute;
      //right: 17.4%;
      top: 13px;
      border: none;
      z-index: 12;
      @include breakpoint('tablet'){
        //right: 30.3%;
        top: 14px;
        width: 55px;
        img{
          width:55px;
        }
      }
      @include breakpoint('mobile'){
        //right: 31.3%;
        top: 13px;
        width: 29px;
        img{
          width: 29px;
        }
      }
    }

    .arrow {
      display: none;
      position: absolute;
      right: 0; //-95px;
      border: medium none;
      z-index: 11;
      top: 68px;
      background: url("../img/desktop/nasacort-difference/charts-arrow.png") no-repeat center bottom;
      height: 25px;
      width: 36.7%;
      @include breakpoint('tablet'){
        right: 41px;
        top: 68px;
        width: 29.5%;
      }
      @include breakpoint('mobile'){
        right: 21px;
        top: 43px;
        width: 27.7%;
      }

    }
    .gray-arrow {
      position: absolute;
      right: 50%;
      border: medium none;
      z-index: 11;
      top: 78px;
      background: url("../img/desktop/nasacort-difference/gray-arrow.png") no-repeat center bottom;
      height: 15px;
      width: 20px;
      @include breakpoint('mobile'){
        right: 43%;
        top: 53px;
      }
    }

  }

  //  FAQ Banner -------------------------------------------------------------------------------------
    .cta-center{
        @include breakpoint('mobile'){
            float:left;
            padding-left: 3.125%;
            padding-right: 3.125%;
        }
    }
  .download-cta-button{
    margin-bottom:0px;
    margin-top: 3px; 
    @include breakpoint('mobile'){
        //margin-left: 5px;
     }
    .sympt{
        .down-txt{
             @include breakpoint('mobile'){
                //max-width: 184px;
                //padding: 7px 13px 0 20px;
            }
            br{
                display:none;
                @include breakpoint('mobile'){
                    //display:block;
                }
            }
        }
    }
  }
  .faq-banner{
    background-color: $color-blue-light-container;
    height: 241px;
    position:relative;
    @include breakpoint('mobile'){
        height: 204px;
    }
    .content{
      overflow: hidden;
      @include breakpoint('desktop'){
        max-width: 920px!important;
        padding-left:0;
        padding-right:0;
      }
      @include breakpoint('tablet'){
        max-width: 769px!important;
        padding-left:40px;
        padding-right:40px;
      }
      @include breakpoint('mobile'){
        clear: both;
        display: block;
        max-width: 100% !important;
        min-height: 27px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .inner-faq-banner{
      width: 981px;
      height: 200px;
      margin: 20px auto;
      display: block;
      border:3px solid $color-white;
      border-radius:9px;
      background:url("../img/desktop/nasacort-difference/cta-faqbanner.png") no-repeat 100% 135px;
      text-align: center;
      position:relative;
      @include breakpoint('desktop'){
        max-width: 920px!important;
        padding-left:0;
        padding-right:0;
      }
      @include breakpoint('tablet'){
        max-width: 100%!important;
        padding-left:0;
        padding-right:0;
      }
      @include breakpoint('mobile'){
        max-width: 290px !important;
        background:none;
        height: 150px;
        margin-top: 25px;
      }
      &:hover{
        background:url("../img/desktop/nasacort-difference/cta-faqbanner-hover.png") no-repeat 100% 135px;
        @include breakpoint('mobile'){
          background:none;
        }
      }
    }
    .components-faq-banner{
      display: inline-block;
      margin-top: 35px;
      @include breakpoint('tablet'){
        width: 75%;
      }
      @include breakpoint('mobile'){
        margin-top:12px;
      }
      img{
        float: left;
        @include breakpoint('mobile'){
          width: 88px;
        }
      }
      .text-components-faq{
        display: inline-block;
        float: left;
        width: 522px;
        text-align: left;
        margin-left:20px;
        @include breakpoint('tablet'){
          width: 58%;
        }
        @include breakpoint('mobile'){
          width: 160px;
        }
        p{
          color:$color-dark-blue;
          font-size: 31px;
          line-height: 35px;
          margin: 0;
          @include breakpoint('tablet'){
            font-size: 16px;
            line-height: 18px;
          }
          @include breakpoint('mobile'){
            font-size: 18px;
            line-height: 21px;
          }
          &:first-of-type{
            margin-top: 23px;
            @include breakpoint('mobile'){
              margin-top: 13px;
            }
          }
        } 
      }
    }
    .btt-faq{
      display: none;
      @include breakpoint('mobile'){
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        background:$color-white url("../img/desktop/nasacort-difference/cta-faq-bottom.png") no-repeat 95% 2px;
        height: 40px;
        p{
          font-family: $font-proxima-nova-bold;
          font-size: 16px;
          line-height: 30px;
          margin-bottom:0;
          color: $color-blue-titles;
          text-align: left;
          padding-left: 12px; 
          padding-top: 6px;
        }
      }
    }
  }

}

