.nasacort-difference-section {

  .hero-banner {
    background:url(../img/desktop/nasacort-difference/hero-difference.png) no-repeat top center;
    .underlined{
      background-color:#7394BF;
    }
  }

  .textbox {
    padding-left:215px;
    padding-right:213px;
    position:relative;
    @include breakpoint('desktop'){
      max-width: 920px!important;
      padding-left:0;
      padding-right:0;
    }
    @include breakpoint('tablet'){
      max-width: 769px!important;
      padding-left:0;
      padding-right:0;
    }
    @include breakpoint('mobile'){
      clear: both;
      display: block;
      max-width: 100% !important;
      min-height: 27px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .textbox-allergy-inner{
    width: 714px;
    float: left;
    @include breakpoint('desktop'){
      width: 60%;
    }
    @include breakpoint('tablet'){
      width: 100%;
    }
    @include breakpoint('mobile'){
      max-width: 100%;
    }
  }

  h3 {
    font-family: $font-proxima-nova-bold;
    color: #022E80;
    font-size: 25px;
    text-transform: none;
    padding-top: 15px;
    @include breakpoint('mobile'){
      font-size: 14px;
    }
  }

  p.use-only{
    max-width: 1400px;
    padding-right:0;
    padding-left:0;
    text-align: right;
    line-height: 28px;
    font-size: 15px;
    clear: both;
    margin: 0 auto 12px;
    @include breakpoint('mobile'){
      text-align: left;
      line-height: 17px;
      font-size: 10px;
      padding-right:20px;
      padding-left:20px;
    }
  }

  .img-spray{
    float: left;
    width: 486px;
    position: absolute;
    right: 77px;
    top: -462px;
    @include breakpoint('desktop'){
      width: 55%;
      right: -45px;
      top: -462px;
    }
    @include breakpoint('tablet'){
      width: 32%;
      right: 0;
      top: -263px;
    }
    @include breakpoint('mobile'){
      width: 200px;
      right: 0;
      top: -240px;
    }
    img{
      width: 100%;
    }
  }

  //  Comparing OTC INS -------------------------------------------------------------------------------

  .comparing {
    background-color: $color-blue-light-container;
    padding-top: 45px;
    overflow: hidden;
    .textbox{
      h2 {
        margin-top: 0;
        @include breakpoint('mobile'){
          margin-bottom: 0;
        }
      }
    }
  }

  .compare-otc {
    background: url("../img/desktop/nasacort-difference/compare-otc.png") no-repeat top center;
    background-size: contain;
    margin: auto;
    width: 100%;
    height: 278px;
    margin-bottom:20px; 
  }


  //  stats table -------------------------------------------------------------------------------------


  .invisible {
    display: none;
  }

  #brand-compare {
    height: 66px;
    width: 36.7%;
    right: -98px;
    position: absolute;
    top: 1px;
    padding: 0px;
    margin: 0px;
    z-index: 10;
    list-style: none;
    overflow: hidden;


    .brand,  .open,.instruccion {
      width: 99%;
      text-align: center;
      background-color: #497ebf;
      cursor: hand;
      display: block;
    }
    .open{
      height: 60px;
      &.start{
        background-color: #d9d9d9;
        border-left: solid #497ebf 3px;
        border-right: solid #497ebf 3px;
        border-top: solid #497ebf 3px;
      }
    }
    .instruccion{
      height: 100px;
      margin-bottom: 1px; 
      padding-top: 20px;
      text-align: left;
      p{
        padding: 0 15px;
        color: #dfefff;
        font-size: 19px;
        margin-bottom: 15px;
        &.head{
          font-size: 22px;
          margin-bottom: 3px;
        }
      }
    }
    .brand{
      img{
        padding:12px 0;
      }
    }

    .sprite-bg-afrin{
      background: url("../img/desktop/nasacort-difference/bg-afrin.png") no-repeat top center;
      background-size: cover;
    }

    .sprite-bg-benadryl{
      background: url("../img/desktop/nasacort-difference/bg-benadryl.png") no-repeat top center;
      background-size: cover;
    }

    .sprite-bg-flonase {
      background: url("../img/desktop/nasacort-difference/bg-flonase.png") no-repeat top center;
      background-size: cover;
    }

    .sprite-bg-sudafed {
      background: url("../img/desktop/nasacort-difference/bg-sudafed.png") no-repeat top center;
      background-size: cover;
    }

    .sprite-bg-zyrtec {
      background: url("../img/desktop/nasacort-difference/bg-zyrtec.png") no-repeat top center;
      background-size: cover;
    }

    .sprite-bg-claritin {
      background: url("../img/desktop/nasacort-difference/bg-claritin.png") no-repeat top center;
      background-size: cover;
    }

  }

  .brand-compare-open {
    height: auto !important;
  }

  .info-small-chart{
    margin-top:17px; 
    p{
      font-size: 13px;
      line-height: 14px;
      @include breakpoint('mobile'){
        font-size: 10px;
        line-height: 15px;
      }
    }
  }

  .charts {
    width: 786px;
    border-collapse: collapse;
    font-size: 12px;
    font-family: arial, sans-serif;
    border: 1px solid #c0d3df;
    margin: auto;
    position:relative;

    th, td {
      border: 1px solid #c0d3df;
    }

    td {
      height: 41px;
      border-bottom: none;
      border-top: none;
    }

    tr:nth-child(even) {
      background-color: #e7eff4;
    }

    tr:nth-child(odd) {
      background-color: #fff;
    }

   .greybar td {
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #c0d3df;
      border-top: 1px solid #c0d3df;
    }

    tr:nth-child(1) {
      height: 67px;
    }

    td:nth-child(1) {
      width: 47px;
      vertical-align: middle;
      text-align: center;
      border-right: none;
    }

    td:nth-child(2) {
      border-left: none;
      vertical-align: middle;
    }

    td:nth-child(3), td:nth-child(4) {
      width: 32%;
      text-align: center;
      vertical-align: middle;
    }

    td:nth-child(3){
      border-left: none;
    }
    .non-brd{
      border-right:none;
    }

    .greybar {
      background-color: #f2f0ee !important;
      height: 40px;
    }

  }

  .chart-table-container {
    position: relative;
    width: 690px;
    margin: auto;
    @include breakpoint('tablet'){
      width: 100%;
    }
    @include breakpoint('mobile'){
      width: 100%;
    }

    .vrs {
      position: absolute;
      right: 17.4%;
      top: 6px;
      border: none;
      z-index: 12;
    }

    .arrow {
      display: none;
      position: absolute;
      right: -96px;
      border: medium none;
      z-index: 11;
      top: 57px;
      background: url("../img/desktop/nasacort-difference/charts-arrow.png") no-repeat center bottom;
      height: 25px;
      width: 36.5%;
    }
    .gray-arrow {
      position: absolute;
      right: 50%;
      border: medium none;
      z-index: 11;
      top: 62px;
      background: url("../img/desktop/nasacort-difference/gray-arrow.png") no-repeat center bottom;
      height: 15px;
      width: 20px;
    }

  }

  //  FAQ Banner -------------------------------------------------------------------------------------

  .faq-banner{
    background-color: $color-blue-light-container;
    height: 241px;
    @include breakpoint('mobile'){
      height: auto;
    }
    .content{
      overflow: hidden;
      @include breakpoint('desktop'){
        max-width: 920px!important;
        padding-left:0;
        padding-right:0;
      }
      @include breakpoint('tablet'){
        max-width: 769px!important;
        padding-left:0;
        padding-right:0;
      }
      @include breakpoint('mobile'){
        clear: both;
        display: block;
        max-width: 100% !important;
        min-height: 27px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .inner-faq-banner{
      width: 981px;
      height: 200px;
      overflow: hidden;
      margin-left: 219px;
      margin-top: 20px;
      @include breakpoint('desktop'){
        width: 100%;
        margin-left: 0px;
      }
      @include breakpoint('tablet'){
        width: 100%;
        margin-left: 0px;
        margin-top: 0;
      }
      @include breakpoint('mobile'){
        width: 271px;
        margin: 23px auto;
        height: 148px;
      }
    }
    a{
      background: url("../img/desktop/nasacort-difference/faq-banner-normal.png") no-repeat center bottom;
      width: 100%;
      height: 200px;
      display: block;
      background-size:100%;
      @include breakpoint('mobile'){
        background-size:100%;
        background: url("../img/desktop/nasacort-difference/faq-banner-small.png") no-repeat center top;
      }
      &:hover{
        background: url("../img/desktop/nasacort-difference/faq-banner-hover.png") no-repeat center bottom;
        background-size:100%;
        @include breakpoint('mobile'){
          background-size:100%;
          background: url("../img/desktop/nasacort-difference/faq-banner-small.png") no-repeat center top;
        }
      }
    }
  }

}

