.resources-section {
    .right-aligned{
        @include breakpoint('desktop'){
            right: 0!important;
        }
        @include breakpoint('tablet'){
            right: 0!important;
        }
        @include breakpoint('mobile'){
            right: 0!important;
        } 
    }
    .color-bann{
      background-color:$color-light-blue;  
    }
    .ncontainer{
        .copy{
            @include breakpoint('desktop'){
              float: none;
            }
           @include breakpoint('tablet'){
              float: none;
            }
            @include breakpoint('mobile'){
              float: none;
            } 
        }
        .content{
            @include breakpoint('desktop'){
              max-width: 100%;
            }
            @include breakpoint('tablet'){
              max-width: 100%;
            }
            @include breakpoint('mobile'){
              max-width: 100%;
            }
        }
    }
    .banner-prin{
        @include breakpoint('tablet'){
            min-height: 170px;
            margin-bottom: 0!important;
        }
    }
     .inner-content{
        width:100%;
        padding-left:218px;
        padding-right:#{fluid-percentage($site-max-width, 220)}; 
        @include breakpoint('desktop'){
          max-width: 920px!important;
          padding-left:0;
          padding-right:0;
          margin: auto;
        }
        @include breakpoint('tablet'){
          max-width: 769px!important;
          padding-left:40px;
          padding-right:40px;
          margin: auto;
        }
        @include breakpoint('mobile'){
          max-width: 100% !important;
          padding-left: 0;
          padding-right: 0;
          margin: auto;
        }
    }
    .banner{
        min-height:170px;
        width:100%;
        padding-left:218px;
        padding-right:#{fluid-percentage($site-max-width, 220)};
        @include breakpoint('desktop'){
          max-width: 920px!important;
          width: 100%;
          padding-left:0;
          padding-right:0;
          margin: auto;
        }
        @include breakpoint('tablet'){
          max-width: 769px!important;
          width: 100%;
          padding-left:40px;
          padding-right:40px;
          margin: auto;
        }
        h1{
            padding-top:63px;
        }
    }
    
    h2{
        font-family:Arial, Helvetica, sans-serif;  
        font-size:32px;
        color:#6d6e6e;
        margin-top:0;
        margin-bottom:0;
        .icon{
            display: inline-block;
            position: relative;
            margin-right: 10px;
            top: 4px;
        }   
    }
    
    .videos{
        padding-top:36px;
        h2{
            margin-bottom:29px;
            margin-top:9px;
            .icon{
                background:url("../img/desktop/resources/icon-videos.png") no-repeat;
                width:53px;
                height:38px;
            }
        }
        
        .thumbnails{
            .video-thumbnail{
                width:33%;
                float:left;
                margin-right:2%;
                max-width:300px;
                &:last-child{
                    margin-right:0;
                }
                .thumb{
                    width:100%;
                    height:auto;
                    padding-bottom:56.95%;
                    
                    &.thumb-1{
                        background:url("../img/desktop/resources/video-thumb-1.jpg") no-repeat;
                        background-size:contain;
                    }
                    &.thumb-2{
                        background:url("../img/desktop/resources/video-thumb-2.jpg") no-repeat;
                        background-size:contain;
                    }
                }
                h3{
                    font-family:Arial, Helvetica, sans-serif;  
                    font-size:22px;
                    color:$color-blue;
                    width:100%;
                    margin-top:12px;
                    margin-bottom:7px;
                    font-weight:bold;
                }
                p{
                    font-family:Arial, Helvetica, sans-serif;  
                    font-size:16px;
                    color:#5a5e5f;
                    width:100%;
                    line-height:22px;
                    margin-bottom:24px;
                }
            }
        }
    }
        
    .for-your-patients{
        width:100%;
        background-color:#ebeff4;
        float:left;
        padding-top:28px;
        padding-bottom:44px;
        h2{
            margin-bottom:32px;
            .icon{
                background:url("../img/desktop/resources/icon-for-your-patients.png") no-repeat;
                width:47px;
                height:47px;
                top:12px;
            }
        }
        .resource-container{
            background-color:$color-white;
            width:49%;
            max-width:472px;
            padding-left:1.5%;
            padding-right:1%;
            margin-right:#{fluid-percentage($site-max-width, 28)};
            margin-bottom:#{fluid-percentage($site-max-width, 33)};
            padding-top:20px;
            padding-bottom:20px;
            max-height:200px;
            @include border-radius(5px);
            border: 1px solid #c5c7c9;
            float:left;
            position:relative;
            &:hover{
                border: 5px solid orange;
            }
            .preview{
                width:26.38%;
                height:auto;
                padding-bottom:39.35%;
                max-height:160px;
                float:left;
                max-width:114px;
                &.preview-1{
                    background:url("../img/desktop/resources/resource-thumb-1.png") no-repeat;
                    background-size:contain;
                }
                &.preview-2{
                    background:url("../img/desktop/resources/resource-thumb-2.png") no-repeat;
                    background-size:contain;
                }
                &.preview-3{
                    background:url("../img/desktop/resources/resource-thumb-3.png") no-repeat;
                    background-size:contain;
                }
                &.preview-4{
                    background:url("../img/desktop/resources/resource-thumb-4.png") no-repeat;
                    background-size:contain;
                }
            }
            .content{
                width: 70%;
                margin-left: 3%;
                float:left;
                h3{
                    font-family:Arial, Helvetica, sans-serif;  
                    font-size:22px;
                    color:$color-blue;
                    width:auto;
                    margin-top:0;
                    margin-bottom:7px;
                    font-weight:bold;
                    text-transform:none;
                }
                p{
                    font-family:Arial, Helvetica, sans-serif;  
                    font-size:16px;
                    color:#5a5e5f;
                    line-height:22px;
                    margin-bottom:11px;
                    width:99%;
                }
            }
            &.last{
                margin-right:0;
                padding-right:0.5%;
                p{
                    width:100%;
                }
            }
            &.highlighted{
                //outline: 10px solid #eb5d2b;
                //box-shadow: 0 0 3pt 2pt red;
                box-shadow:0px 0px 0px 12px #eb5d2b;
                @include border-radius(12px);
            }
        }
    }
    
    .for-your-practice{
        width:100%;
        background-color:$color-white;
        float:left;
        padding-top:26px;
        @include breakpoint('tablet'){
            padding-bottom:0;
        }
        @include breakpoint('mobile'){
            padding-bottom:0;
        }
        h2{
            margin-bottom:26px;
            .icon{
                background:url("../img/desktop/resources/icon-for-your-practice.png") no-repeat;
                width:47px;
                height:47px;
                top:12px;
            }
        }
         .resource-container{
            background-color:$color-white;
            width:49%;
            max-width:472px;
            min-height:294px;
            padding-left:1.5%;
            padding-right:1%;
            margin-right:#{fluid-percentage($site-max-width, 28)};
            margin-bottom:#{fluid-percentage($site-max-width, 33)};
            padding-top:20px;
            padding-bottom:20px;
            @include border-radius(5px);
            border: 1px solid #c5c7c9;
            float:left;
            position:relative;
            .preview{
                width:26.38%;
                height:auto;
                padding-bottom:37.25%;
                max-height:160px;
                float:left;
                max-width:114px;
                min-height:220px;
                &.preview-1{
                    background:url("../img/desktop/resources/resource-thumb-5.png") no-repeat;
                    background-size:contain;
                }
                &.preview-2{
                    background:url("../img/desktop/resources/resource-thumb-6.png") no-repeat;
                    background-size:contain;
                }
            }
            .content{
                width: 70.4%;
                margin-left: 3.2%;
                float:left;
                h3{
                    font-family:Arial, Helvetica, sans-serif;  
                    font-size:22px;
                    color:$color-blue;
                    width:92%;
                    margin-top:0;
                    margin-bottom:4px;
                    font-weight:bold;
                    text-transform:none;
                }
                p{
                    font-family:Arial, Helvetica, sans-serif;  
                    font-size:16px;
                    color:#5a5e5f;
                    line-height:22px;
                    margin-bottom:16px;
                }
            }
            &.last{
                margin-right:0;
                .content{
                    margin-bottom: 110px;
                }
            }
        }
    }    
}

/*CTA download*/
.resources-section {
.download-cta-button{
    margin: 0;
    width:280px;
    margin-left: 3%;
    .sympt{
        height:50px;
        width:180px;
        min-width: 0;
        img{
            margin-top: 4px;
        }
        .show-dsk{
            display: none;
        }
        .show-mbl{
            display: block;
        }
        .down-txt{
            font-size: 18px;
            line-height: 18px;
            padding: 15px 4px 0 20px;
            text-align: left;
            max-width: 162px;
             &:before{
                  height: 39px;
             }
        }
    }
    .shareSympt{
        background:url('../img/global/mobile/share-btn-medium.png')no-repeat;
        width: 100px;
        font-size: 16px;
        height: 51px;
        padding-top:14px;
        .shareSympt-icon{
            background-size:100%;
            top: 4px;
        }
    }
    
}
}


/******************************************************** Media Qeueries **********************************************************/

@include breakpoint('desktop') {
.resources-section {
    .preview{
        margin-bottom: 15%;
    }
    .content{
        /*margin-bottom: 22%;*/
      
    }
    .for-your-patients{
        .resource-container{   
            max-height:100%;  
        }
    } 
    .for-your-practice{
        .resource-container{   
            @media screen and (max-width: 1110px) {
                .preview{
                    margin-bottom: 18%;
                }
            }
        }
    }
    
    .download-cta-button{
         margin-bottom:20px;
         margin-left: auto;
         margin-right: auto;
         position:absolute;
         bottom:0;
         left:0;
         right:0;
    }
} 
}

@include breakpoint('tablet') {
.resources-section {
    .banner{
        h3{
            font-size:21px;
        }
        p{
            font-size:15px;
        }
    }
    .for-your-patients{
        .resource-container{
            min-width:300px;
            max-width:100%;
            width:100%;
            max-height:100%;
            .preview{
                padding-bottom:29.35%;
            }
            .content{
                margin-bottom:0;
            }
        }
         h3{
            font-size:21px;
        }
        p{
            font-size:15px;
        }
    }
    .for-your-practice{
        .resource-container{
            min-width:300px;
            max-width:100%;
            width:100%;
            .preview{
                
                padding-bottom:29.35%;
            }
            .content{
                margin-bottom:0;
            }
            &.last{
                .content{
                   margin-bottom:0; 
                }
            }
        }
         h3{
            font-size:21px;
        }
        p{
            font-size:15px;
        }
    }
    
    .preview{
        margin-bottom:0;
        min-height: 190px;
    }
    .content{
        margin-bottom: 17%;
    }
    .download-cta-button{
         margin-bottom:20px;
         margin-left: auto;
         margin-right: auto;
         position:absolute;
         bottom:0;
         left:3.2%;
         right:0;
         min-width:280px;
    }
} 
}

@include breakpoint('mobile') {
.resources-section {
    .banner{
        padding-left:#{fluid-percentage($site-max-width-mobile, 50)};
        padding-right:#{fluid-percentage($site-max-width-mobile, 50)};
        height:66px;
        min-height:56px;
        h1{
            font-size: 19px;
            padding-top:24px;
        }
    }
    .videos{
        padding-left:25px;
        padding-right:25px;
        padding-top: 14px;
        float:left;
        h2{
            font-size:17px;
            margin-bottom:12px;
            margin-top:2px;
            .icon{
                background:url("../img/mobile/resources/icon-videos.png") no-repeat;
                width:30px;
                height:21px;
                background-size:contain;
                margin-right:6px;
            }
        }
        .thumbnails{
             float: left;
             margin-bottom: 12px;
            .video-thumbnail{
                max-width: 540px;
                width: 100%;
                .thumb{
                    min-width:270px;
                    width:100%;
                    height:152px;
                    &.thumb-1{
                         background:url("../img/mobile/resources/video-thumb-1.jpg") no-repeat;
                         background-size:contain;
                    }
                    &.thumb-2{
                         background:url("../img/mobile/resources/video-thumb-2.jpg") no-repeat;
                         background-size:contain;
                    }
                }
                h3{
                    font-size:15px;
                    margin-bottom:0;
                }
                p{
                    font-size:12px;
                    margin-bottom:18px;
                }
            }
        }
    }
    
    .for-your-patients{
        padding-top:19px;
        padding-left:#{fluid-percentage($site-max-width-mobile, 50)};
        padding-right:#{fluid-percentage($site-max-width-mobile, 50)};
        h2{
            font-size:17px;
            margin-bottom:12px;
            margin-bottom:14px; 
            .icon{
                background:url("../img/mobile/resources/icon-for-your-patients.png") no-repeat;
                width:28px;
                height:28px;
                background-size:contain;
                top:7px;
                margin-right:6px;
            }
        }
        .resource-container{
            width:100%;
            max-width:100%;
            min-width:100%;
            padding-left: 3.93%;
            padding-right: 3.93%;
            padding-top: 12px;
            padding-bottom:9px;
            margin-bottom:21px;
            margin-right:0;
            .preview{
                padding-bottom: 39%;
                min-width:68px;
                min-height: 95px;
                &.preview-1{
                    background:url("../img/mobile/resources/resource-thumb-1.png") no-repeat;
                    background-size:contain;
                }
                &.preview-2{
                    background:url("../img/mobile/resources/resource-thumb-2.png") no-repeat;
                    background-size:contain;
                }
                &.preview-3{
                    background:url("../img/mobile/resources/resource-thumb-3.png") no-repeat;
                    background-size:contain;
                }
                &.preview-4{
                    background:url("../img/mobile/resources/resource-thumb-4.png") no-repeat;
                    background-size:contain;
                }
            }
            .content{
                margin-left: 5.11%;
                width: 67%;
                h3{
                    font-size:13px;
                }
                p{
                    font-size:12px;
                    line-height:17px;
                }
            }
            &:last-child{
                margin-bottom:0;
            }
        }
    }
    
    .for-your-practice{
        padding-top:19px;
        padding-left:#{fluid-percentage($site-max-width-mobile, 50)};
        padding-right:#{fluid-percentage($site-max-width-mobile, 50)};
        padding-bottom:52px;
        h2{
            font-size:17px;
            margin-bottom:12px;
            margin-bottom:14px; 
            .icon{
                background:url("../img/mobile/resources/icon-for-your-practice.png") no-repeat;
                width:28px;
                height:28px;
                background-size:contain;
                top:7px;
            }
        }
        .resource-container{
            width:100%;
            max-width:100%;
            padding-left: 3.93%;
            padding-right: 3.93%;
            padding-top: 12px;
            padding-bottom:9px;
            margin-bottom:21px;
            min-height:100%;
            &.last{
                .content{
                    margin-bottom: 0;
                }
            }
            &.huge{
                 .preview{
                    min-height: 130px;
                    margin-bottom: 18%;
                }
                .download-cta-button{
                    @include breakpoint('mobile') {
                        //margin-left:31.49%;
                    }
                }
            }
            .preview{
                padding-bottom: 39%;
                min-width:68px;
                min-height: 95px;
                &.preview-1{
                    background:url("../img/mobile/resources/resource-thumb-5.png") no-repeat;
                    background-size:contain;
                }
                &.preview-2{
                    background:url("../img/mobile/resources/resource-thumb-6.png") no-repeat;
                    background-size:contain;
                }
            }
            .content{
                margin-left: 5.11%;
                width: 67%;
                h3{
                    font-size:13px;
                }
                p{
                    font-size:12px;
                    line-height:17px;
                }
            }
            &:last-child{
                margin-bottom:0;
            }
        }
    }
    
    .download-cta-button{
        margin: 0;
        width:177px;
        margin-left: 5.11%;
         @media screen and (max-width: 320px) {
            margin-left: 31.49%;
         }
        .sympt{
            height:35px;
            width:100px;
            &:hover{
                background-color: #eb5d2b;
                .down-txt{
                    color:#FFFFFF;
                }
            }
            img{
                margin-top: 4px;
                margin-left: 5px;
            }
            .show-dsk{
                display: none;
            }
            .show-mbl{
                display: block;
                width: 30px;
            }
            .down-txt{
                font-size: 12px;
                line-height: 18px;
                padding: 7px 0 0 4px;
                text-align: left;
                max-width: 162px;
                 &:before{
                      height: 30px;
                      background-size:contain;
                      left:0px;
                      top:1px;
                 }
            }
        }
        .shareSympt{
            background:url('../img/global/mobile/share-btn-small.png')no-repeat;
            width: 77px;
            font-size: 12px;
            height: 35px;
            padding-top:9px;
            background-size:100%;
            padding-left: 11px;
            @include border-top-right-radius(6px);
            @include border-bottom-right-radius(6px);
            .shareSympt-icon{
                background-size: contain;
                height: 13px;
                width: 13px;
                top: 4px;
            }
        }
    }
}
}
                
