.science-of-allergic-rhinitis-section{
  //Banner Section
  .hero-banner {
    background:url("../img/desktop/science-of-allergic-rhinitis/hero-rhinitis.png") no-repeat top center;
    @include breakpoint('mobile') {
        background:url("../img/mobile/science-of-allergic-rhinitis/hero-rhinitis.jpg") no-repeat top center;
    }
    h1{
         @include breakpoint('mobile'){
             width:100%;
         }
    }
  }
  .right-align{
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    padding-right:50px;
    min-height: 35px;
    @include breakpoint('desktop'){
       // max-width: 920px!important;
        padding-left:0;
        padding-right:0;
      }
      @include breakpoint('tablet'){
       // max-width: 769px!important;
        padding-left:40px;
        padding-right:40px;
      }
      @include breakpoint('mobile'){
        clear: both;
        display: block;
        max-width: 100% !important;
        min-height: 27px;
        padding-left: 20px;
        padding-right: 20px;
      }
  }
  

  //Stats Section
  .stats{
    padding-left: 216px;
    padding-right:213px;
    overflow: hidden;
    .footnote{
        margin-top:-85px !important;
        @include breakpoint('mobile'){
          margin-bottom: 0!important;
          margin-top: 0!important;
        }
        @include breakpoint('desktop'){
             margin-top:-80px !important;
        }
        @media screen and (max-width: 1210px) {
             margin-top:-38px !important;
        }
    }
    @include breakpoint('desktop'){
      max-width: 920px!important;
      padding-left:0;
      padding-right:0;
    }
    @include breakpoint('tablet'){
      max-width: 769px!important;
      padding-left:40px;
      padding-right:40px;
    }
    @include breakpoint('mobile'){
      max-width: 100%!important;
      padding-left:25px;
      padding-right:25px;
    }
    h2.first-title {
      margin-bottom: 22px;
      @include breakpoint('mobile'){
        margin-bottom: 8px;
        margin-top:22px;
        max-width: 280px;
      }
    }
    p.first {
      margin-bottom: 26px;
      @include breakpoint('mobile'){
        margin-bottom: 21px;
      }
    }
    .last-par{
      margin-bottom: 6px;
      @media screen and (max-width: 1210px) {
              margin-bottom: 60px;
          }
    }
    .chart-head{
      font-family:Arial, Helvetica, sans-serif;
      color:$color-dark-grey;
      font-size:20px;
      margin-bottom:6px;
      font-weight:bold;
      display:block;
      @include breakpoint('mobile'){
        font-size: 12px;
        margin-bottom: 21px;
      }
    }
    .graph{
      position:relative;
      margin-bottom: 42px;
      text-align: center;
      z-index:0;
      @include breakpoint('mobile'){
        margin-bottom: 10px;
        z-index: 0;
      }
      .clear{
        clear: both;
      }
      .panel{
        vertical-align: bottom;
        display: inline-block;
        @media screen and (max-width: 900px) {
          display: block;
        }
        .head {
          overflow: hidden;
          text-align: center;
          font-family: $font-proxima-nova-extrabold;
          font-size: 120px;
          color: #FF882D;
          @include breakpoint('mobile'){
            height: 110px;
            }
          p{
            display: inline-block;
            margin: 0;
            line-height: normal;
            float: none;
            font-family: $font-proxima-nova-extrabold;
            font-size: 120px;
            color: #FF882D;
            @include breakpoint('mobile'){
              line-height: 20px;
            }
            @media screen and (max-width: 1190px) {
              font-size: 90px;
            }
            @media screen and (max-width: 900px) {
              font-size: 120px;
              line-height: 120px;
            }
          }
          sup{
            top: -45px;
            font-size: 50px;
            cursor: initial;
            @media screen and (max-width: 1190px) {
              top: -35px;
              font-size: 40px;
            }
            @media screen and (max-width: 900px) {
              top: -45px;
              font-size: 50px;
            }
          }
          .in{
            font-size: 45px;
            top: -25px;
            position: relative;
            @media screen and (max-width: 1190px) {
              top: -20px;
              font-size: 40px;
            }
            @media screen and (max-width: 900px) {
              top: -20px;
              font-size: 45px;
            }
          }
        } 

        .quote{
          padding: 0 12px;
          width: 240px;
          min-height: 60px;
          margin: 0 auto;
          text-align: left;
          @media screen and (max-width: 1190px) {
            padding: 0 17px;
            width: 200px;
            min-height: 55px;
          }
          @media screen and (max-width: 900px) {
            padding: 0 12px;
            width: 240px;
            min-height: 40px;
          }
          @include breakpoint('mobile'){
            min-height: 16px;
          }
            p{
              margin-bottom: 0px;
              line-height: normal;
              float: none;
              color: #7E7E7E;
              font-size: 15px;
              @include breakpoint('mobile'){
                font-size: 12px;
              }
            }
          } 

          .chart{
              height: 120px;
              position: relative;
              background-color: #d6d6d6;
              overflow: hidden;
              width: 240px;
              margin: 0 auto;
              text-align: left;
              @media screen and (max-width: 1190px) {
                height: 90px;
                width: 180px;
              }
              @media screen and (max-width: 900px) {
                height: 120px;
                width: 240px;
              }
              img{
                height: 120px;
                width: 100%;
                position: absolute;
                z-index: 2;
                @media screen and (max-width: 1190px) {
                  height: 90px;
                }
                @media screen and (max-width: 900px) {
                  height: 120px;
                }
              }
              .line{
                position: relative;
                background-color: #FF882D;
                left: 100%;
                // width: 240px;
                height: 60px;
                @media screen and (max-width: 1190px) {
                  height: 45px;
                }
                @media screen and (max-width: 900px) {
                  height: 60px;
                }
              }
            }
      }
      #panel_1 {
        .line1{
          left: 0%;
        }
        .line2{
          left: -65%;
        }
      }
      #panel_2{
        margin: 0 41px;
        @media screen and (max-width: 1190px) {
          margin: 0 0.5%;
        }
        @media screen and (max-width: 900px) {
          margin: 0 5.5%;
        }
        @include breakpoint('mobile'){
          border-top: 1px solid #dadada;
          margin-top: 10px!important;
          padding-top: 21px;
          margin:0;
        }
        
        .line1{
          left:-35%;
        }
      }
      #panel_3{
        @include breakpoint('mobile'){
          border-top: 1px solid #dadada;
          margin: 8px 0 0;
          padding-top: 19px;
        }
        .line{
          height: 45px;
          @media screen and (max-width: 1190px) {
            height: 35px;
          }
          @media screen and (max-width: 900px) {
            height: 45px;
          }
        }

        .line1{
          left:0%
        }
        .line2{
          height: 30px;
          left:-90%;
          @media screen and (max-width: 1190px) {
            height: 20px;
          }
          @media screen and (max-width: 900px) {
            height: 30px;
          }
        }
        .line3{
          left:-100%
        }
      }
    }
  }

  //About Section
  .about{
    background-color:$color-blue-light-container;
    height:auto;
    width:100%;
    @include breakpoint('desktop'){
      max-width: 100%!important;
      padding-left:0;
      padding-right:0;
    }
    @include breakpoint('tablet'){
      max-width: 100%!important;
      padding-left:0;
      padding-right:0;
    }
    @include breakpoint('mobile'){
      max-width: 100%!important;
      padding-left:0;
      padding-right:0;
    }
    .right-align{
      min-height: 36px;
      @include breakpoint('desktop'){
        //max-width: 920px!important;
        padding-left:0;
        padding-right:0;
      }
      @include breakpoint('tablet'){
        //max-width: 769px!important;
        padding-left:0;
        padding-right:0;
      }
      @include breakpoint('mobile'){
        max-width: 100%!important;
        padding-left:20px;
        padding-right:20px;
        min-height: 27px;
        margin-top:5px;
        text-align: left;
      }
    }
  }

  .description{
    padding-left:213px;
    overflow: hidden;
    padding-top: 50px;
    @include breakpoint('desktop'){
      max-width: 920px!important;
      padding-left:0;
      padding-right:0;
    }
    @include breakpoint('tablet'){
      max-width: 769px!important;
      padding-left:40px;
      padding-right:40px;
      margin-bottom:20px;
    }
    @include breakpoint('mobile'){
      max-width: 100%!important;
      padding-left: 12px;
      padding-right: 11px;
      padding-top: 25px;
    }
    h2{
      margin-bottom: 27px;
      margin-top: 0;
      @include breakpoint('mobile'){
        margin-bottom: 10px;
        padding-left: 13px;
        padding-right: 13px;
      }
    }
    div{
      width: 488px;
      float: left;
      margin-right: 42px; 
      @include breakpoint('desktop'){
        width: 47%;
        float: left;
        margin-right: 0;
        padding-right: 23px;
      }
      @include breakpoint('tablet'){
        width: 100%;
        float: none;
        margin-right: 0;
        margin-bottom: 25px;
      }
      @include breakpoint('mobile'){
        width: 100%;
        padding-left:0;
        padding-right:0;
      }
      p{
        margin-bottom: 8px;
        @include breakpoint('mobile'){
          margin-bottom: 23px;
          padding-left: 13px;
          padding-right: 13px;
        }
      }
    }
    img{
         
      @include breakpoint('tablet'){
        display: block;
        margin: 0 auto;
      }
      @include breakpoint('desktop'){
        width: 53%;
      }
      @media screen and (max-width: 1210px) {
             width:52%;
         }
      @include breakpoint('mobile'){
        max-width: 100%!important;
        padding-left:0;
        padding-right:0;
        width:100%;
      }
    }
  }

  //Carousel Section
  .carousel{
    width:100%;
    height:auto;
    position:relative;
    overflow:hidden;
    padding-bottom:48px;


    @include breakpoint('mobile'){
        max-width: 100%!important;
        //padding-left:20px;
        //padding-right:20px;
        padding-bottom: 24px;
    }
    .container-carousel{
        margin-bottom:17px;
        width:100%;
        padding-left:213px;
        @include breakpoint('desktop'){
          max-width: 920px!important;
          padding-left:0;
          padding-right:0;
        }
        @include breakpoint('tablet'){
          max-width: 769px!important;
          padding-left:40px;
          padding-right:40px;
        }
        @include breakpoint('mobile'){
          padding-left: 0;
        }
        h2{
          margin-bottom: 30px;
          @include breakpoint('mobile'){
            margin-bottom: 22px;
            margin-top: 20px;
            padding-left: 25px;
          }
        }
    }
    .content-ui{
        width:100%;
        margin-top: 13px;
        max-width:993px;
        //background-color: yellowgreen;
        overflow: hidden;
        @include breakpoint('mobile'){
          min-width:300px;
          max-width: 100%;
          margin-left:auto;
          margin-right:auto;
        }
    }
  }
  .cycle-slideshow{
    float:left;
    overflow:hidden;
    width:79%;


    @include breakpoint('tablet'){
      width: 72%;
    }
    
    @include breakpoint('mobile'){
      width: 81%;
    }

    @include breakpoint('pp-mobile'){
      width: 81%;
    }



    .item{
        float:left;
      width: 100%;
     // background-color: yellowgreen;



        p{
            margin-top:9px;
            margin-bottom:18px;
            width:100%;
            line-height: 16px;
        }
        img{
           width:100%; // 796px;


//           @include breakpoint('pp-mobile'){
//            width: 95%;
//          }




          //
          //@media  screen and (min-width : 769px) and (max-width : 795px)  {
          //width: 495px;
          //}
          //
          //@media  screen and (min-width : 796px) and (max-width : 810px)  {
          //  width: 520px;
          //}
          //
          //@media  screen and (min-width : 811px) and (max-width : 849px)  {
          //  width: 540px;
          //}
          //
          //
          //@media  screen and (min-width : 850px) and (max-width : 920px)  {
          //  width: 555px;
          //}
          //
          //@include breakpoint('desktop'){
          //  max-width: 99.5%;
          //}






        }
        @include breakpoint('mobile'){
            width:100%;
        }
    }
  }
  .arrow-left{
    background:url("../img/desktop/science-of-allergic-rhinitis/arrow-left.png") no-repeat;
    width:87px;
    height:434px; 
    display:block;
    float:left;
    margin-right: 9px;
    background-size:100% 100%;
    &:hover{
        background:url("../img/desktop/science-of-allergic-rhinitis/arrow-left-hover.png") no-repeat;
        background-size:100% 100%;
    }
    @include breakpoint('mobile'){
      height:140px;
    }


    @include breakpoint("mobile") {
      width: 7.8%;
      margin-right: 1.7%;
    }



  }
  .arrow-left.disabled{
    background:url("../img/desktop/science-of-allergic-rhinitis/arrow-left-disable.png") no-repeat;
    background-size:100% 100%;
  }

  .arrow-right{
    background:url("../img/desktop/science-of-allergic-rhinitis/arrow-right.png") no-repeat;
    width:87px;
    height:434px; 
    display:block;
    float: left;
    margin-left: 9px;
    background-size:100% 100%;
    &:hover{
        background:url("../img/desktop/science-of-allergic-rhinitis/arrow-right-hover.png") no-repeat;
        background-size:100% 100%;
    }

    @include breakpoint("mobile") {
      width: 7.8%;
      margin-left: 1.7%;
    }


  }
  .arrow-right.disabled{
    background:url("../img/desktop/science-of-allergic-rhinitis/arrow-right-disable.png") no-repeat;
    background-size:100% 100%;
  }
  .cycle-pager{
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    position: relative;
    width: 165px;
 
    span{
      background:url("../img/desktop/science-of-allergic-rhinitis/paging.png") no-repeat;
      width:16px;
      height:16px;
      display:block;
      text-indent:-9999px;
      float:left;
      margin-right:20px;
      cursor: pointer;
      &.cycle-pager-active{
        background:url("../img/desktop/science-of-allergic-rhinitis/paging-active.png") no-repeat;
        position: relative;
        top: -1px;
      }
      &:last-child{
        margin-right:0;
      }
    }   
  }

  //Video Callout Section
  .video-callout-container{
    background-color:$color-blue-light-container;
    width:100%;
    .content{
      overflow: hidden;
      @include breakpoint('desktop'){
        max-width: 920px!important;
        padding-left:0;
        padding-right:0;
      }
      @include breakpoint('tablet'){
        max-width: 769px!important;
        padding-left:40px;
        padding-right:40px;
      }
      @include breakpoint('mobile'){
        max-width: 100%!important;
        padding-left:0;
        padding-right:0;
      }
    }
    .video-callout{
      background:url("../img/desktop/science-of-allergic-rhinitis/callout-bg.png") no-repeat;
      width:981px;
      margin:30px auto 0;
      cursor:pointer;  
      padding-bottom: 14%;
      @include breakpoint('desktop'){
        padding-bottom: 22%;
        background-size: 100%;
        width:100%;
      }
      @include breakpoint('tablet'){
        width: 100%;
        margin: 30px auto 0;
        padding-bottom: 21%;
        background-size: 100%;
      }
      @include breakpoint('mobile'){
        background:url("../img/mobile/science-of-allergic-rhinitis/callout-bg.png") no-repeat;
         background-size:contain;
         width:100%;
         min-height: 148px;
         padding-bottom:0;
         background-position: center;
         margin-top: 23px;
      }   
      &:hover{
        background:url("../img/desktop/science-of-allergic-rhinitis/callout-bg-hover.png") no-repeat;
        @include breakpoint('desktop'){
          padding-bottom: 22%;
          background-size: 100%;
          width:100%;
        }
        @include breakpoint('tablet'){
          width: 100%;
          padding-bottom: 21%;
          background-size: 100%;
        }
        @include breakpoint('mobile'){
          background:url("../img/mobile/science-of-allergic-rhinitis/callout-bg.png") no-repeat;
          background-size:contain;
          width:100%;
          background-position: center;
        }
      }
    }
    .right-align{
      min-height: 36px;
      margin-top: 16px;
      @include breakpoint('mobile'){
        width: 100%;
        padding-right:20px;
        padding-left:20px;
        min-height: 25px;
        text-align: left;
        margin-top: 5px;
      }
    }
  }

  //Additional Information Section
  .aditional-information{
    .content{
      padding-left:213px;
      overflow: hidden;
      padding-top: 47px;
      margin-bottom: -24px;
      @include breakpoint('desktop'){
        max-width: 920px!important;
        padding-left:0;
        padding-right:0;
      }
      @include breakpoint('tablet'){
        max-width: 769px!important;
        padding-left:40px;
        padding-right:40px;
      }
      @include breakpoint('mobile'){
        max-width: 100%!important;
        padding-left:25px;
        padding-right:25px;
        padding-top: 22px;
        margin-bottom: 0;
      }
    }
    .footnote{
         margin-top: 531px;
        
        /*@include breakpoint('desktop'){
            margin-top: 531px;
        }*/
       @media screen and (max-width: 1399px) {
            margin-top: 656px;
        }
        @media screen and (max-width: 1210px) {
            margin-top: 734px;
        }
        @include breakpoint('tablet'){
             margin-top: -410px;
        }
        @include breakpoint('mobile'){
            margin-top:0;
        }
    }
    .right-align{
      margin-bottom:0;
      min-height:20px;
    }
    .copy{
      width: 587px;
      float: left;
      margin-right: 31px;
      max-width:587px;   
      .footnote{
          margin-top:-80px;
      }
        @media screen and (max-width: 1210px) {
             margin-bottom:60px;
        }
        
      @include breakpoint('desktop'){
        width: 45%;
        padding-left:0;
        padding-right:0;
      }
      
      @include breakpoint('tablet'){
        width: 100%;
        margin-right:0;
      }
      @include breakpoint('mobile'){
        max-width: 100%!important;
        margin-right:0;
        width:100%;
        margin-bottom:0px;
      }
      img{
        
        @include breakpoint('mobile'){
          display: block;
          margin: 0 auto 9px;
          width: 100%;
        }
      }
      h2{
        margin-top: 0;
        width:70%;
      }
      .footnote-info{
        margin-bottom:0; 
        @include breakpoint('mobile'){
          margin-bottom:7px;
        }
      }
    }
    img{
      @include breakpoint('tablet'){
          display: block;
          margin: 0 auto;
        }
    }
    .right-align{
      margin-bottom: 11px;
      padding-bottom:0;
      @media screen and (max-width: 1210px) {
          padding-top: 90px;
      }
      @include breakpoint('mobile'){
        text-align: left;
        padding-top:5px;
        margin-bottom: 2px;
      }
    }
  }

  //Graphic Container Section
  .graphic-container{
    background-color:$color-blue-light-container;
    .content{
      padding-left:213px;
      padding-right:209px;
      overflow: hidden;
      @include breakpoint('desktop'){
        max-width: 920px!important;
        padding-left:0;
        padding-right:0;
      }
      @include breakpoint('tablet'){
        max-width: 769px!important;
        padding-left:40px;
        padding-right:40px;
      }
      @include breakpoint('mobile'){
        max-width: 100%!important;
        padding-left:25px;
        padding-right:25px;
      }
      h2{
        margin-bottom: 29px;
        @include breakpoint('mobile'){
          margin-bottom: 6px;
          margin-top: 23px;
          padding-left: 5px;
          padding-right: 5px;    

        }
      }
      p{
        margin-bottom: 24px;
          padding-left: 5px;
          padding-right: 5px;

      }
      .graphic{
          width:100%;
          max-width:974px;
          display:block;
          margin: auto;
        @include breakpoint('tablet'){
          width: 100%;
        }
        @include breakpoint('mobile'){
          width: 100%;
        }
      }
      .marg-bttn{
        margin-bottom:36px; 
        @include breakpoint('mobile'){
          margin-bottom:20px; 
        }
      }
      .download-cta-button{
        margin-bottom: 13px;
        @include breakpoint('mobile'){
            margin-bottom: 6px;
            margin-top: 24px;
            margin-left:0;
        }
        .sympt{
            @include breakpoint('mobile'){
               //min-width:auto;  
               width:80%;
             }
            .down-txt{
              //padding: 28px 22px!important;
                @include breakpoint('tablet'){
                 // line-height: 38px !important;
                  //padding-top: 18px !important;
                }
                @include breakpoint('mobile'){
                  line-height: 50px !important;
                  padding-top:0;
                  //padding: 5px 29px 5px 29px !important;
                  //max-width:180px;
                }
            }
        }
      }
    }
    .right-align{
      padding-left: 213px;
      padding-right:50px;
      @include breakpoint('desktop'){
        padding-left:0;
        padding-right:0;
      }
      @include breakpoint('tablet'){
        padding-left:40px;
        padding-right:40px;
      }
      @include breakpoint('mobile'){
        padding-left:20px;
        padding-right:20px;
        width: 100%;
        text-align: left;
      }
    }
  }
  
  .inn-left{
      @media screen and (max-width: 1210px) {
         margin-top:50px;
    }
    @include breakpoint('mobile'){
        text-align: left;
        padding-top:5px;
        margin-bottom: 4px;
        padding-left: 26px;
        margin-top:10px;
    }
  }
}



@include breakpoint('mobile'){
  .science-of-allergic-rhinitis-section{
    .wac-indication{
      margin-top: 9px;
    }

    .wac-indication.wac-indication-last{
      margin-top: 0;
      padding-bottom: 14px;
    }
  }
}

.use-only-placement,
.science-of-allergic-rhinitis-section .aditional-information .right-align,
.science-of-allergic-rhinitis-section .graphic-container .right-align,
.science-of-allergic-rhinitis-section .video-callout-container .right-align {


  @include breakpoint("tablet-n-up") {
    width: 100%;
    margin-left: 0px;
    max-width: 3000px !important;
    padding-right: 20px !important;
  }


}

.ie9 .science-of-allergic-rhinitis-section .aditional-information .copy{
    width:46%;
}

/*IE10 and IE11*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */  
   .science-of-allergic-rhinitis-section .aditional-information .copy{
        width:47%;
    }
    
    .science-of-allergic-rhinitis-section .aditional-information .footnote{
        margin-top:662px;
    }
}