.science-of-allergic-rhinitis-section {




.hero-banner {
  background:url("../img/desktop/science-of-allergic-rhinitis/hero-rhinitis.png") no-repeat top center;
  @include breakpoint('mobile') {
      background:url("../img/mobile/science-of-allergic-rhinitis/hero-rhinitis.jpg") no-repeat top center;
  }

}




.banner{    
     height: 326px;
     background:url("../img/desktop/science-of-allergic-rhinitis/hero-rhinitis.png") no-repeat;
     background-position:center;
     width:100%;
     max-width: 1400px;
     margin: auto;
    
    div{ 
        margin-left: #{fluid-percentage($site-max-width, 213)};
    }
}



  .statistics {

    h2.first-title {
      margin-bottom: 14px;
    }


    p.first {
      margin-bottom: 23px;
    }

    .chart-head{
      font-family:Arial, Helvetica, sans-serif;
      color:$color-dark-grey;
      font-size:20px;
      margin-bottom:0;
      font-weight:bold;
      display:block;
    }



    .graph{
      position:relative;
      margin-bottom: 41px;
      text-align: center;
      @include breakpoint('mobile'){
        margin-bottom: 10px;
      }

      .clear{
        clear: both;
      }

      .panel{
        // float: left;
        vertical-align: bottom;
        display: inline-block;
        @media screen and (max-width: 900px) {
          display: block;
        }
        // width: 240px;
        // padding: 0 1%;
        // height: 280px;
        // margin-right:65px;
        // margin-bottom:52px;
        &:last-child{
          // margin-right:0;
        }
        .head {
          overflow: hidden;
          text-align: center;
          font-family: $font-proxima-nova-extrabold;
          font-size: 120px;
          // font-weight: bold;
          color: #FF882D;
          p{
            display: inline-block;
            margin: 0;
            line-height: normal;
            float: none;
            font-family: $font-proxima-nova-extrabold;
            font-size: 120px;
            color: #FF882D;
            @media screen and (max-width: 1190px) {
              font-size: 90px;
            }
            @media screen and (max-width: 900px) {
              font-size: 120px;
            }
          }

          span{
            // overflow: auto;

          }
          sup{
            top: -45px;
            font-size: 50px;
            cursor: initial;
            @media screen and (max-width: 1190px) {
              top: -35px;
              font-size: 40px;
            }
            @media screen and (max-width: 900px) {
              top: -45px;
              font-size: 50px;
            }
          }
          .in{
            font-size: 45px;
            top: -25px;
            position: relative;
            @media screen and (max-width: 1190px) {
              top: -20px;
              font-size: 40px;
            }
            @media screen and (max-width: 900px) {
              top: -20px;
              font-size: 45px;
            }
          }



        } .quote{
            padding: 0 12px;
            width: 240px;
            min-height: 60px;
            margin: 0 auto;
            text-align: left;
            @media screen and (max-width: 1190px) {
              padding: 0 17px;
              width: 200px;
              min-height: 55px;
            }
            @media screen and (max-width: 900px) {
              padding: 0 12px;
              width: 240px;
              min-height: 40px;
            }
            p{
              min-height: 30px;
              margin-bottom: 0px;
              line-height: normal;
              float: none;
              color: #7E7E7E;
              font-size: 15px;
            }
          } .chart{
              height: 120px;
              position: relative;
              background-color: #d6d6d6;
              overflow: hidden;
              width: 240px;
              margin: 0 auto;
              text-align: left;
              @media screen and (max-width: 1190px) {
                height: 90px;
                width: 180px;
              }
              @media screen and (max-width: 900px) {
                height: 120px;
                width: 240px;
              }
              img{
                height: 120px;
                width: 100%;
                position: absolute;
                z-index: 2;
                @media screen and (max-width: 1190px) {
                  height: 90px;
                }
                @media screen and (max-width: 900px) {
                  height: 120px;
                }
              }
              .line{
                position: relative;
                background-color: #FF882D;
                left: 100%;
                // width: 240px;
                height: 60px;
                @media screen and (max-width: 1190px) {
                  height: 45px;
                }
                @media screen and (max-width: 900px) {
                  height: 60px;
                }
              }
            }
      }
      #panel_1 {
        .line1{
          left: 0%;
        }
        .line2{
          left: -65%;
        }
      }
      #panel_2{
        margin: 0 41px;
        @media screen and (max-width: 1190px) {
          margin: 0 0.5%;
        }
        @media screen and (max-width: 900px) {
          margin: 0 5.5%;
        }
        .line1{
          left:-35%;
        }
      }
      #panel_3{
        .line{
          height: 45px;
          @media screen and (max-width: 1190px) {
            height: 35px;
          }
          @media screen and (max-width: 900px) {
            height: 45px;
          }
        }

        .line1{
          left:0%
        }
        .line2{
          height: 30px;
          left:-90%;
          @media screen and (max-width: 1190px) {
            height: 20px;
          }
          @media screen and (max-width: 900px) {
            height: 30px;
          }
        }
        .line3{
          left:-100%
        }
      }

      img{
        // margin-right:64px;
        // margin-bottom:52px;
        // float:left;
        &:last-child{
          // margin-right:0;
        }
      }
    }




  }


















.statistics{    
   height:auto;
    max-width: 1400px;
    margin: auto;

   .footnote{
            margin-top: -22px;
        }
    
    .stats{
        margin-left:#{fluid-percentage($site-max-width, 213)};
        margin-right:#{fluid-percentage($site-max-width, 213)};
        float:left;
        h2{
        }      
        p{
           
        }

    }
}

.about{
    background-color:$color-blue-light-container;
    height:auto;
    width:100%;
    float:left;
    
    .description{
        margin-left:#{fluid-percentage($site-max-width, 213)};
        margin-right:#{fluid-percentage($site-max-width, 213)};
        float: left;
        
        div{
            width:48%;
            float:left;
            margin-right:2px;
            h2{
            }
            p{
                width:auto;
                float:left;
            }
        }
    }
    
    img{
        float:right;
        margin-right:0;
        margin-top:50px;
        margin-bottom:35px;
        max-width:574px;
        width:50%;
    }
}

.carousel{
    width:100%;
    height:auto;
    position:relative;
    float:left;
    overflow:hidden;
    padding-left:#{fluid-percentage($site-max-width, 213)};
    padding-right:#{fluid-percentage($site-max-width, 213)};
    padding-bottom:24px;
    
    p{
        font-family:$font-proxima-nova-regular;
    }
    
    .container-carousel{
        float:left;
        margin-bottom:24px;
        width:100%;
    }
    .content-ui{
        width:100%;
        margin:0 auto;
        margin-top: 13px;
        max-width:980px;
    }
}

.cycle-slideshow{
    float:left;
    overflow:hidden;
    width:81.2%;
    .item{
        float:left;
        p{
            margin-top:16px;
            margin-bottom:18px;
            width:100%;
            line-height: 16px;
        }
        img{
           width:796px;
        }
    }
}


.arrow-left{
    background:url("../img/desktop/science-of-allergic-rhinitis/arrow-left.png") no-repeat;
    width:8%;
    height:434px; 
    display:block;
    float:left;
    margin-right:0.8%;
    background-size:100% 100%;
    &:hover{
        background:url("../img/desktop/science-of-allergic-rhinitis/arrow-left-hover.png") no-repeat;
        background-size:100% 100%;
    }
}
.arrow-left.disabled{
    background:url("../img/desktop/science-of-allergic-rhinitis/arrow-left-disable.png") no-repeat;
    background-size:100% 100%;
}

.arrow-right{
    background:url("../img/desktop/science-of-allergic-rhinitis/arrow-right.png") no-repeat;
    width:8%;
    height:434px; 
    display:block;
    float:left;
    margin-left:0.8%;
    background-size:100% 100%;
    &:hover{
        background:url("../img/desktop/science-of-allergic-rhinitis/arrow-right-hover.png") no-repeat;
        background-size:100% 100%;
    }
}
.arrow-right.disabled{
    background:url("../img/desktop/science-of-allergic-rhinitis/arrow-right-disable.png") no-repeat;
    background-size:100% 100%;
}

.cycle-pager{
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    position: relative;
    width: 165px;
 
    span{
         background:url("../img/desktop/science-of-allergic-rhinitis/paging.png") no-repeat;
         width:16px;
         height:16px;
         display:block;
         text-indent:-9999px;
         float:left;
         margin-right:20px;
         cursor: pointer;
         &.cycle-pager-active{
             background:url("../img/desktop/science-of-allergic-rhinitis/paging-active.png") no-repeat;
             position: relative;
             top: -1px;
         }
         &:last-child{
             margin-right:0;
         }
    }   
}

.video-callout-container{
    background-color:$color-blue-light-container;
    width:100%;
    float:left;
    padding-left:#{fluid-percentage($site-max-width, 213)};
    padding-right:#{fluid-percentage($site-max-width, 213)};
}

.video-callout{
     background:url("../img/desktop/science-of-allergic-rhinitis/callout-bg.png") no-repeat;
     width:981px;
     /*height:200px;*/
     margin:30px auto 15px;
     cursor:pointer;  
     padding-bottom: 20.5%;   
     &:hover{
         background:url("../img/desktop/science-of-allergic-rhinitis/callout-bg-hover.png") no-repeat;
     }
}

.aditional-information{
    height:auto;
    float: left;
    padding-left:#{fluid-percentage($site-max-width, 213)};
    padding-right:#{fluid-percentage($site-max-width, 213)};
    padding-bottom:24px;
    .copy{
        width:58%;
        max-width: 620px;
        float:left;
        margin-right:2%;
        p{
            width:auto;
        }
        .footnote{
            margin-top:318px;
        }
        
    }
    img{
        margin-top:90px;
        width:40%;
        max-width:420px;
    }
    .footnote-info{
        font-size:15px;
        span{
            float: left;
            height: 45px;
            margin-right: 1px;
        }
    }
}

.graphic-container{
    background-color:$color-blue-light-container;
    height:auto;
    float:left;
    padding-left:#{fluid-percentage($site-max-width, 213)};
    padding-right:#{fluid-percentage($site-max-width, 213)};
    // padding-bottom:24px;
    .graphic{
        margin-top: 10px;
    }
    .cta-center{
         background-color:$color-blue-light-container;
    }
}

}


@include breakpoint('desktop') {
    
.science-of-allergic-rhinitis-section {  
        
    .banner{
        
    }
    .statistics{   
        height:auto;
        .stats{
           .graph{
                // width:90%;
                // margin-left:5%;
                // margin-right:5%;
                img{
                    // width:28%;
                    // margin-right:6%;
                    &:last-child{
                        // width:28%;
                    }
                }
            }
        }
    }
    .about{
        height:auto;
        .description{
           div{
               width:48%;
               margin-right:2%;
           }
        }
        img{
            width: 50%;
        }
        
    }
    
    
    
    .carousel{
        .container-carousel{
            .cycle-slideshow{              
                .item{
                    width:100%;
                    img{
                        width:100%;
                    }
                    p{
                    }
                }
            }
        }
    }
    
    .video-callout-container{
        height:auto;
        .video-callout{
            width:100%;
            height:auto;
            /*min-height:150px;*/
            background-size:contain;
        }
    }
    
    .aditional-information{
        .copy{
            margin-right:2%;
            width:50%;
            p{
                
            }
            .footnote-info{
                font-size:1em;
                line-height:1.3em;
                margin-bottom:1em;
            }
        }
        img{
                width:48%;
            }
    }
    
    .graphic-container{
        img{
            width:100%;
        }
    }
    
}
}


@include breakpoint('tablet') {
    
.science-of-allergic-rhinitis-section {  
    
    .about{
        min-width: auto;
        .description{
            div{
                width:100%;
                margin-right:0;
            }
            img{
                width:574px;
                max-width:100%;
                float:left;
                margin-left:auto;
                margin-right:auto;
            }
        }
    }
    
    .statistics{
        .stats{
            .graph{
                // width:90%;
                // margin-left:5%;
                // margin-right:5%;
                img{
                    // width:28%;
                    // margin-right:6%;
                    &:last-child{
                        // width:28%;
                    }
                }
            }
        }
    }
    
    .carousel{
        padding-bottom:15px;
        .container-carousel{
            margin-bottom:15px;
            .cycle-slideshow{
                margin-top:0;
                .item{
                    width:100%;
                    img{
                        width:100%;
                    }
                    h3{
                        margin-top:0;
                        margin-bottom:0.5em;
                    }
                    p{
                        margin-top:0;
                    }
                }
            }
        }
        .cycle-pager{
            position: relative;
            width: 103px;
         
            span{
                 width:12px;
                 height:12px;
                 margin-right:10px;
                 cursor: pointer;
                 background-size:100%;
                 &.cycle-pager-active{
                     position: relative;
                     background-size:100%;
                     top: 0px;
                 }
                 &:last-child{
                     margin-right:0;
                 }
            }   
        }
    }
    
    .video-callout-container{
        height:auto;
        .video-callout{
            width:100%;
            height:auto;
            /*min-height:132px;*/
            background-size:contain;
        }
    }
    
    .aditional-information{
        .copy{
            margin-right:0;
            width: 100%;
            h2{
                margin-bottom:0.4em;
            }
            p{
                margin-bottom:0;
            }
        }
        img{
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 40px;
            position: relative;
            width: 50%;
        }
    }
    .graphic-container{
        h2{
            margin-bottom:0.4em;
        }
        p{
            margin-bottom:0;
            
        }
        .graphic{
            width:100%;
            margin-top:2em;
        }
    }   
}
}


@include breakpoint('mobile') {
    
.science-of-allergic-rhinitis-section {
    
    .banner{
        background:url("../img/mobile/science-of-allergic-rhinitis/hero-rhinitis.jpg") no-repeat;
        background-position:center;
        background-size:cover;
        min-height: 172px;
        min-width: 320px;
        max-height:414px;
        max-width:768px;
        width: 100%;
        height: auto;
    }
    
    .statistics{
        .stats{
            width:84%;
            margin-left:#{fluid-percentage($site-max-width-mobile, 50)};
            margin-right:#{fluid-percentage($site-max-width-mobile, 50)};
            .chart-head{
                font-size:12px;
                margin-bottom:30px;
            }
            .graph{
                // margin-left:0;
                // text-align:center;
                // float:left;
                img{
                    // margin-right:0;
                    // width:100%;
                    // max-width:542px;
                    // min-width:271px;
                    // margin-bottom:26px;
                    
                    &:last-child{
                        // max-width:484px;
                        // min-width:242px;
                    }
                }  
            }
            .right-aligned{
                text-align:left;
            }
        }
    }
    
    .about{
        min-width:320px;
        .description{
            margin-left:#{fluid-percentage($site-max-width-mobile, 50)};
            margin-right:#{fluid-percentage($site-max-width-mobile, 50)};
            width:84%;
            div{
                width:100%;
                margin-right:0;
                p{
                    margin-bottom:0;
                }
            }
            img{
                width:100%;
                margin-top:22px;
                margin-bottom:22px;
                max-width:100%;
            }
            .right-aligned{
                margin-bottom:13px;
                text-align:left;
            }
        }
    }
    
    .carousel{
        padding-left:0;
        padding-right:0;
        min-width:320px;
        .container-carousel{
            width:100%;
            h2{
                 margin-left: #{fluid-percentage($site-max-width-mobile, 50)};
                 margin-right: #{fluid-percentage($site-max-width-mobile, 50)};
            }
            .content-ui{
                min-width:316px;
                margin-left:auto;
                margin-right:auto;
                .cycle-slideshow{
                    margin-top:0;
                    .item{
                        width:100%;
                        img{
                            width:100%;
                        }
                        h3{
                            margin-top:0;
                        }
                        p{
                            margin-top:0;
                            margin-bottom: 14px;
                        }
                    }
                }
            }
        }
        .cycle-pager{
            width:72px;
            span{
                width:6px;
                height:6px;
                background-size:cover;
                margin-right: 8px;
                .cycle-pager-active{
                     background-size:cover;
                }
            }
        }
    }
 
 .video-callout-container{
     padding-left: #{fluid-percentage($site-max-width-mobile, 50)};
     padding-right: #{fluid-percentage($site-max-width-mobile, 50)};
     min-width:320px;
     height:auto;
     .video-callout{
         background:url("../img/mobile/science-of-allergic-rhinitis/callout-bg.png") no-repeat;
         background-size:contain;
         width:100%;
         height:45vw;
         min-height: 148px;
         padding-bottom:0;
         &:hover{
             background:url("../img/mobile/science-of-allergic-rhinitis/callout-bg-hover.png") no-repeat;
             background-size:contain;
             width:100%;
         }
     }
 }
 
 .aditional-information{
     padding-left:#{fluid-percentage($site-max-width-mobile, 50)};
     padding-right:#{fluid-percentage($site-max-width-mobile, 50)};
     min-width:320px;
     .copy{
         width:100%;
         margin-right:0;
         margin-top:20px;
         h2{
             margin-bottom:18px;
         }
         .footnote-info{
            font-size:12px;
            line-height:18px;
         }
         .footnote{
             margin-top:-19px;
         }
     }
     img{
         width:100%;
         margin-top:0;
         margin-bottom:20px;
     }
 }
 
 .graphic-container{
     padding-left:#{fluid-percentage($site-max-width-mobile, 50)};
     padding-right:#{fluid-percentage($site-max-width-mobile, 50)};
     width:100%;
     min-width:320px;
     padding-bottom:15px;
     .graphic{
         width:100%;
         max-width:604px;
         margin-top:0;
     }
     .cntText{
        width:100%;
        float:left;
        display:block;
        .right-aligned{
            margin: 0 auto;
            width: 250px;
            display: block;
            float: none;
        }
     }
 }
 
 .download{
     .download-cta-button{
         .sympt{
             .down-txt{
                 line-height: 34px;
             }
         }
     }
 }
    
}    
}
