.science-of-allergic-rhinitis-section {

.banner{    
     height: 326px;
     margin-left:auto;
     margin-right:auto;
     background:url("../img/desktop/science-of-allergic-rhinitis/hero-rhinitis.jpg") no-repeat;
     background-position:center;
     width:100%;
    
    div{ 
        margin-left:14%; 
    }
}

.statistics{    
   height:auto;
    
    .stats{
        margin-left:14%;
        margin-right:14%;
        float:left;
        h2{
        }      
        p{
           
        }
        .graph{
            margin-left:106px;
            position:relative;
            
            img{
                margin-right:64px;
                margin-bottom:52px;
                float:left;
                &:last-child{
                    margin-right:0;
                }
            }
        }
        
    }
}

.about{
    background-color:$color-blue-light-container;
    height:auto;
    width:100%;
    float:left;
    min-width:1099px;
    
    .description{
        margin-left:14%; 
        margin-right:14%;
        float: left;
        
        div{
            width:48%;
            float:left;
            margin-right:2px;
            h2{
            }
            p{
                width:auto;
                float:left;
            }
        }
    }
    
    img{
        float:right;
        margin-right:0;
        margin-top:50px;
        margin-bottom:35px;
        max-width:574px;
        width:50%;
    }
}

.carousel{
    width:100%;
    height:auto;
    position:relative;
    float:left;
    overflow:hidden;
    padding-left:14%;
    padding-right:14%;
    padding-bottom:24px;
    
    p{
        font-family:$font-proxima-nova-regular;
    }
    
    .container-carousel{
        float:left;
        margin-bottom:24px;
    }
}

.cycle-slideshow{
    margin-top: 30px;
    float:left;
    overflow:hidden;
    width:796px;
    .item{
        float:left;
        p{
            margin-top:16px;
            margin-bottom:18px;
            width:auto;
        }
        img{
           
        }
    }
}


.arrow-left{
    background:url("../img/desktop/science-of-allergic-rhinitis/arrow-left.png") no-repeat;
    width:84px;
    height:434px; 
    display:block;
    float:left;
    margin-right:10px;
    margin-top: 118px;
    &:hover{
        background:url("../img/desktop/science-of-allergic-rhinitis/arrow-left-hover.png") no-repeat;
    }
}

.arrow-right{
    background:url("../img/desktop/science-of-allergic-rhinitis/arrow-right.png") no-repeat;
    width:84px;
    height:434px; 
    display:block;
    float:left;
    margin-left:10px;
    margin-top: 118px;
    &:hover{
        background:url("../img/desktop/science-of-allergic-rhinitis/arrow-right-hover.png") no-repeat;
    }
}

.cycle-pager{
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    position: relative;
    width: 165px;
 
    span{
         background:url("../img/desktop/science-of-allergic-rhinitis/paging.png") no-repeat;
         width:16px;
         height:16px;
         display:block;
         text-indent:-9999px;
         float:left;
         margin-right:20px;
         cursor: pointer;
         &.cycle-pager-active{
             background:url("../img/desktop/science-of-allergic-rhinitis/paging-active.png") no-repeat;
             position: relative;
             top: -1px;
         }
         &:last-child{
             margin-right:0;
         }
    }   
}

.video-callout-container{
    height:260px;
    background-color:$color-blue-light-container;
    width:100%;
    float:left;
    padding-left:14%;
    padding-right:14%;
}

.video-callout{
     background:url("../img/desktop/science-of-allergic-rhinitis/callout-bg.png") no-repeat;
     width:981px;
     height:200px;
     margin-top:30px;
     margin-bottom:30px;
     cursor:pointer;     
     &:hover{
         background:url("../img/desktop/science-of-allergic-rhinitis/callout-bg-hover.png") no-repeat;
     }
}

.aditional-information{
    height:auto;
    float: left;
    padding-left:14%;
    padding-right:14%;
    padding-bottom:24px;
    .copy{
        width:58%;
        max-width: 620px;
        float:left;
        margin-right:2%;
        p{
            width:auto;
        }
        
    }
    img{
        margin-top:90px;
        width:40%;
        max-width:420px;
    }
    .footnote-info{
        font-size:15px;
        span{
            float: left;
            height: 45px;
            margin-right: 1px;
        }
    }
}

.graphic-container{
    background-color:$color-blue-light-container;
    height:auto;
    float:left;
    padding-left:14%;
    padding-right:14%;
    padding-bottom:24px;
    img{
        margin-top: 10px;
    }
}

}


@include breakpoint('desktop') {
    
.science-of-allergic-rhinitis-section {  
        
    .banner{
        
    }
    .statistics{   
        height:auto;
        .stats{
           .graph{
                width:90%;
                margin-left:5%;
                margin-right:5%;
                img{
                    width:28%;
                    margin-right:6%;
                    &:last-child{
                        width:28%;
                    }
                }
            }
        }
    }
    .about{
        height:auto;
        .description{
           div{
               width:48%;
               margin-right:2%;
           }
        }
        img{
            width: 50%;
        }
        
    }
    
    .right-aligned{
        margin-right:14%;
        width:100%;
    }
    
    .carousel{
        .container-carousel{
            .cycle-slideshow{
                width:650px;
                margin-top:0;
                .item{
                    width:100%;
                    img{
                        width:100%;
                    }
                    h3{
                        font-size:2em;
                    }
                    p{
                        font-size:1em;
                    }
                }
            }
            .arrow-left{
                width:72px;
                height:354px;
                background-size:contain;
                margin-right:4px;
                margin-top:77px;
            }
            .arrow-right{
                width:72px;
                height:354px;
                background-size:contain;
                margin-left: 732px;
                margin-top:77px;
                position:absolute;
            }
        }
    }
    
    .video-callout-container{
        height:auto;
        .video-callout{
            width:100%;
            height:auto;
            min-height:150px;
            background-size:contain;
        }
    }
    
    .aditional-information{
        .copy{
            margin-right:2%;
            width:50%;
            p{
                
            }
            .footnote-info{
                font-size:1em;
                line-height:1.3em;
                margin-bottom:1em;
            }
        }
        img{
                width:48%;
            }
    }
    
    .graphic-container{
        img{
            width:100%;
        }
    }
    
}
}


@include breakpoint('tablet') {
    
.science-of-allergic-rhinitis-section {  
    
    .about{
        min-width: auto;
        .description{
            div{
                width:100%;
                margin-right:0;
            }
            img{
                width:574px;
                max-width:100%;
                float:left;
                margin-left:auto;
                margin-right:auto;
            }
        }
    }
    
    .statistics{
        .stats{
            .graph{
                width:90%;
                margin-left:5%;
                margin-right:5%;
                img{
                    width:28%;
                    margin-right:6%;
                    &:last-child{
                        width:28%;
                    }
                }
            }
        }
    }
    
    .carousel{
        padding-bottom:15px;
        .container-carousel{
            margin-bottom:15px;
            .cycle-slideshow{
                width:488px;
                margin-top:0;
                .item{
                    width:100%;
                    img{
                        width:100%;
                    }
                    h3{
                        font-size:1.9em;
                        margin-top:0;
                        margin-bottom:0.5em;
                    }
                    p{
                        font-size:0.7em;
                        margin-top:0;
                    }
                }
            }
            .arrow-left{
                width:53px;
                height:266px;
                background-size:contain;
                margin-right:4px;
                margin-top:66px;
            }
            .arrow-right{
                width:53px;
                height:266px;
                background-size:contain;
                margin-left: 552px;
                margin-top:66px;
                position:absolute;
            }
        }
        .cycle-pager{
            position: relative;
            width: 103px;
         
            span{
                 width:12px;
                 height:12px;
                 margin-right:10px;
                 cursor: pointer;
                 background-size:100%;
                 &.cycle-pager-active{
                     position: relative;
                     background-size:100%;
                     top: 0px;
                 }
                 &:last-child{
                     margin-right:0;
                 }
            }   
        }
    }
    
    .video-callout-container{
        height:auto;
        .video-callout{
            width:100%;
            height:auto;
            min-height:132px;
            background-size:contain;
        }
    }
    
    .aditional-information{
        .copy{
            margin-right:0;
            width: 100%;
            h2{
                margin-bottom:0.4em;
            }
            p{
                margin-bottom:0;
            }
        }
        img{
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 40px;
            position: relative;
            width: 50%;
        }
    }
    .graphic-container{
        h2{
            margin-bottom:0.4em;
        }
        p{
            margin-bottom:0;
            
        }
        img{
            width:100%;
            margin-top:2em;
        }
    }   
}
}


@include breakpoint('mobile') {
    
.science-of-allergic-rhinitis-section {
    
    .banner{
        background:url("../img/mobile/science-of-allergic-rhinitis/hero-rhinitis.jpg") no-repeat;
        background-position:center;
        background-size:cover;
        min-height: 172px;
        min-width: 320px;
        max-height:414px;
        max-width:768px;
        width: 100%;
        height: auto;
    }
    
    .statistics{
        .stats{
            width:84%;
            margin-left:8%;
            margin-right:8%;
            .chart-head{
                font-size:12px;
                margin-bottom:30px;
            }
            .graph{
                margin-left:0;
                text-align:center;
                img{
                    margin-right:0;
                    width:100%;
                    max-width:542px;
                    min-width:271px;
                    margin-bottom:26px;
                    
                    &:last-child{
                        max-width:484px;
                        min-width:242px;
                    }
                }  
            }
            .right-aligned{
                text-align:left;
            }
        }
    }
    
    .about{
        min-width:320px;
        .description{
            margin-left:8%;
            margin-right:8%;
            width:84%;
            div{
                width:100%;
                margin-right:0;
                p{
                    margin-bottom:0;
                }
            }
            img{
                width:100%;
                margin-top:22px;
                margin-bottom:22px;
                max-width:100%;
            }
            .right-aligned{
                margin-bottom:24px;
                text-align:left;
            }
        }
    }
    
    .carousel{
        padding-left:0;
        padding-right:0;
        min-width:320px;
        .container-carousel{
            width:100%;
            h2{
                 margin-left: 8%;
                 margin-right: 8%;
            }
            .content-ui{
                width:316px;
                margin-left:auto;
                margin-right:auto;
                .cycle-slideshow{
                    width:266px;
                    margin-top:0;
                    .item{
                        width:100%;
                        img{
                            width:100%;
                        }
                        h3{
                            margin-top:0;
                        }
                        p{
                            margin-top:0;
                            margin-bottom: 14px;
                            height:50px;
                        }
                    }
                }
                .arrow-left{
                    background:url("../img/mobile/science-of-allergic-rhinitis/arrow-left.png") no-repeat;
                    width:22px;
                    height:144px;
                    margin-right:3px;
                    background-size:100% 100%;
                    margin-top:89px;
                }
                .arrow-right{
                    background:url("../img/mobile/science-of-allergic-rhinitis/arrow-right.png") no-repeat;
                    width:22px;
                    height:144px;
                    margin-left:3px;
                    background-size:100% 100%;
                    margin-top:89px;
                }
            }
        }
        .cycle-pager{
            width:72px;
            span{
                width:6px;
                height:6px;
                background-size:cover;
                margin-right: 8px;
                .cycle-pager-active{
                     background-size:cover;
                }
            }
        }
    }
 
 .video-callout-container{
     padding-left: 8%;
     padding-right: 8%;
     min-width:320px;
     height:auto;
     .video-callout{
         background:url("../img/mobile/science-of-allergic-rhinitis/callout-bg.png") no-repeat;
         background-size:contain;
         width:100%;
         height:45vw;
         min-height: 148px;
         &:hover{
             background:url("../img/mobile/science-of-allergic-rhinitis/callout-bg-hover.png") no-repeat;
             background-size:contain;
             width:100%;
         }
     }
 }
 
 .aditional-information{
     padding-left:8%;
     padding-right:8%;
     min-width:320px;
     .copy{
         width:100%;
         margin-right:0;
         margin-top:20px;
         h2{
             margin-bottom:18px;
         }
         .footnote-info{
            font-size:12px;
            line-height:18px;
         }
     }
     img{
         width:100%;
         margin-top:0;
         margin-bottom:20px;
     }
 }
 
 .graphic-container{
     padding-left:8%;
     padding-right:8%;
     width:100%;
     min-width:320px;
     img{
         width:100%;
         max-width:604px;
         margin-top:0;
     }
     .right-aligned{
         text-align:left;
     }
 }
    
}    
}
