$subheader-text: #1b4089;
$bg-greyColor:#e5e6e8;
$light-blue:#54acda;
$black-letter:#5a5e5f;
$yellow-color:#f39d28;
$grey-innerTxt:#575a5c;
$beige-color:#ffca82;
$grey-bg:#e7eef2;
$grey-button:#f8f8f8;

.download{
    background-color:$grey-button;
    border-top:1px solid #e5ebf0;
}
.cta-center{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.wac-cta-button{
    min-width: 550px; 
    display: inline-block;
    margin: 39px 0;
    @include breakpoint('mobile'){
        min-width: 278px;
    } 
    .wac-shareSympt{
        background:url('../img/desktop/clucker/share-btn.png')no-repeat;
        float: left;
        height: 75px;
        position: relative;
        right: 4px;
        width: 114px;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        color:$beige-color;
        text-decoration: none;
        padding-left: 5px;
        padding-top: 28px;
        @include breakpoint('mobile'){
            background:url('../img/mobile/clucker/share-btn-small.png')no-repeat;
            width: 55px;
            font-size: 14px;
            height: 51px;
        }
        .shareSympt-icon{
            background:url('../img/desktop/clucker/shareSympt-icon.png')no-repeat;
            width: 17px;
            height: 18px;
            display: inline-block;
            position: relative;
            top: 3px;
            @include breakpoint('mobile'){
                background-size:100%;
                top: -34px;
            }
        }
        &:hover{
            color:$color-white;
            .shareSympt-icon{
                background:url('../img/desktop/clucker/shareSympt-icon-hover.png')no-repeat;  
            }
        } 
    }     
    .wac-sympt{
        background-color:$color-orange;
        height: 75px;
        display: inline-block;
        border-radius: 6px 6px;
        text-decoration: none;
        border:1px solid $color-orange;
        float: left;
        position:relative;
        z-index: 1;
        @include breakpoint('mobile'){
            height: 50px;
        }
        img{
            position: relative;
            margin-top: 7px;
            float: left;
            margin-left: 13px;
        }
        span{
            color:$color-white;
            font-weight: bold;
            font-size: 20px;
            padding: 28px 22px;
            float: left;
            display: inline-block;
            position:relative;
            @include breakpoint('mobile'){
                font-size: 14px;
                line-height: 18px;
                padding: 7px 22px;
                text-align: left;
            }
            &:before{
                content:" ";
                background:url('../img/desktop/clucker/downl-cta-line.png')no-repeat;
                width: 2px;
                height: 66px;
                position: absolute;
                display: inline-block;
                left: 9px;
                top: 4px;
                @include breakpoint('mobile'){
                    height: 39px;
                }
            }
        }
        &:hover{
            background-color:$color-white;
                span{
                color:$color-orange;
            }
        }
    }
}


.content-whats-a-clucker{
    max-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    @include breakpoint('tablet'){
        padding: 0 2%;
        max-width: 100%;
    }
    @include breakpoint('mobile'){
        padding: 0 5%;
        max-width: 100%;
    }
}

.show-dsk{
    @include breakpoint('mobile'){
        display: none;
    }
}

.show-mbl{
    display: none;
    @include breakpoint('mobile'){
        display: block;
    }
}

.hero-whats-a-clucker{
    background: url('../img/desktop/clucker/bg-hero.jpg') no-repeat;
    min-height: 470px;
    width: 100%;
    position: relative;
    top: -10px;
    background-size:100% 100%;
    @include breakpoint('desktop'){
        margin-top: -152px;
    }
    @include breakpoint('tablet'){
        margin-top: -32px;
    }
    @include breakpoint('mobile'){
        top: 0;
        min-height: 169px;
    }
    .blueLine{
        height: 105px;
        width: 100%;
        background: url('../img/desktop/clucker/bg-lineTop.jpg') repeat-x bottom;
        position: absolute;
        bottom: 12px;
        @include breakpoint('mobile'){
            display: none;
        }
    }
    .info-text{
        position:relative;
        padding-top: 25px;
        height: 105px;
        display: table;
        margin: 0 auto;
        ul > li{
            display: inline;
            font-size: 28px;
            font-family: $font-proxima-nova-regular;
            text-align: center;
            position: relative;
            float: left;
            @include breakpoint('tablet'){
                font-size: 20px;
            }
            a{
               color:$color-white; 
               padding: 6px 30px;
               display: inline-block;
               @include breakpoint('tablet'){
                    padding: 14px 30px;
                }
               &:hover > .arrow-upMenu{
                    background: url('../img/desktop/clucker/arrowUp-firstmenu.png') no-repeat;
                    position:absolute;
                    width: 51px;
                    height: 25px;
                    display: inline-block;
                    top: -25px;
                    right: 38%;
               }
            }
            &:hover{
                background-image: linear-gradient(to bottom, #0f58a5 0%,#54acda 100%);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f58a5', endColorstr='#54acda',GradientType=0 )";
                // background: url('../img/desktop/clucker/arrowUp-firstmenu.png') no-repeat;
                // position:absolute;
            }
            span{
                font-family: $font-proxima-nova-bold;
            }
            &:after{
                content:" ";
                background: url('../img/desktop/clucker/line-topLine.jpg') repeat-x;
                width: 1px;
                height: 38px;
                display: block;
                position: absolute;
                top: 21px;
            }
        }
        .no-img{
            &:after{
                content:" ";
                background-image: none;
            }
        }
    }
}

.wac-topHead{
    h2{
      @include breakpoint('mobile'){
            margin-top: 33px;
        }  
    }
}

.wac {
    margin-top: 0;
    h2{
        color:$color-blue;
        font-size: 32px;
        font-weight: bold;
        @include breakpoint('mobile'){
            font-size: 17px;
        }

    }
    h3{
        font-size: 23px;
        color:$light-blue;
        text-transform: none;
        margin-bottom: 15px;  
    }
    .wac-boxes{
        @include breakpoint('tablet'){
            padding: 28px 0;
        } 
        @include breakpoint('mobile'){
            padding: 28px 0;
        } 
        h2{
           font-family:$font-proxima-nova-regular;
            color:$subheader-text;
            font-size: 34px; 
            margin-bottom:57px; 
            @include breakpoint('tablet'){
                display: none;
            } 
            @include breakpoint('mobile'){
                display: none;
            } 
        }
        
    }
    .bg-gray{
        background-color: $bg-greyColor;
    }
    sup{
        font-size: 56%;
        position: relative;
        top: -0.6em;
        left: 0.2em;
    }
    i{
        font-style: italic;
    }
    strong{
        font-weight: bold;
        font-family: $font-proxima-nova-bold;
    }
    p{
        margin-bottom: 18px;
        line-height: 24px;
        letter-spacing: 0px;
        font-size: 16px;
        color:$black-letter;
        @include breakpoint('mobile'){
            line-height: 17px;
            font-size: 12px;
        }
    }
    a{
        color:$color-dark-grey;
        text-decoration: underline;
    }
    li{ 
        font-size: 16px;
        letter-spacing: 1.3px;
        line-height: 24px;
        padding-left: 26px;
        position: relative;
        display: inline-block;
        float: left;
        width: 50%;
        margin-bottom: 7px; 
        @include breakpoint('mobile'){
            line-height: 17px;
            font-size: 12px;
            margin-bottom: 15px;
        }
    }
    .unselected{
        color:$color-dark-grey;
        &:before{
            content: " ";
            background: url('../img/desktop/clucker/unchecked-list.png') no-repeat;
            width: 24px;
            height: 24px;
            display: inline-block;     
            position: absolute;
            left: 0px;
        }
    }
    .selected{
        color:$light-blue;
        &:before{
            content: " ";
            background: url('../img/desktop/clucker/checked-list.png') no-repeat;
            width: 24px;
            height: 24px;
            display: inline-block;     
            position: absolute;
            left: 0px;
        }
    }
    p{
        padding-left: 5px;
    }
    ul{
        margin-bottom: 18px;
        padding-left: 0;
        display: block;
        overflow: hidden;
    }

    .wac-boxmobile{
        @include breakpoint('mobile'){
            border:1px solid $color-black;
            padding:13px;
            background-color:$color-white;
        }
    }

    .wac-elements{
        position:relative;
        @include breakpoint('tablet'){
            max-width: 400px;
            margin: 0 auto;
        }
        h3{
            @include breakpoint('mobile'){
                font-size: 14px;
                background-color:$grey-bg;
                border-radius:3px;
                padding:11px;
            }
        }
    }

    .align-img{
        @include breakpoint('tablet'){
            margin: 0 auto;
            max-width: 400px;
        }
        @include breakpoint('mobile'){
            width: 100%;
            img{
                width: 100%;
                cursor: pointer;
            }
        }
    }

    .align-cta{
       @include breakpoint('tablet'){
            margin: 0 auto;
            max-width: 400px;
        } 
    }

    .wac-info{
        width: 100%;
        display: block;
        height: auto;
        padding-bottom: 25px;
        overflow: hidden;
        .wac-into-1{
            width: 60%;
            float: left;
            position:relative;
            @include breakpoint('tablet'){
                display: block;
                float: none;
                overflow: hidden;
                width: 80%;
                margin: 0 auto;
            }
            @include breakpoint('mobile'){
                width: 100%;
                img{
                    max-width: 114px;
                }
            }
            img{
                float: left;
            }
            .wac-hiddenTxt{
                display: none;
                @include breakpoint('tablet'){
                   color:$subheader-text;
                    display: inline;
                    font-size: 32px;
                    left: 14px;
                    line-height: 37px;
                    position: relative;
                    top: 39px;
                    strong{
                        font-size: 42px;
                    } 
                }
                @include breakpoint('mobile'){
                    color:$subheader-text;
                    display: inline;
                    font-size: 17px;
                    left: 14px;
                    line-height: 27px;
                    position: relative;
                    top: 39px;
                    strong{
                        font-size: 22px;
                    }
                }

            }
        }
        .wac-into-2{
            width: 40%;
            float: left;
            @include breakpoint('tablet'){
                display: block;
                float: none;
                overflow: hidden;
                width: 100%;
            }
            @include breakpoint('mobile'){
                width: 100%;
            }
        }
    }
    .wacSeak{
        max-width: 50%;
        min-width: 300px;
        float: left;
        padding-left: 20px;
        @include breakpoint('desktop'){
            max-width: 50%;
        }
        @include breakpoint('tablet'){
            max-width: 100%;
            clear: both;
        }
        @include breakpoint('mobile'){
            max-width: 100%;
            float: none;
            padding-left: 0;
            clear: both;
        }
    }
    .wac-cta{
        min-width: 100%;
        height: 55px;
        display: block;
        background-color:$color-orange;
        border-radius: 7px;
        margin-top: 17px;
        color:$color-white;
        padding-top: 17px;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        padding-left: 11px;
        position: relative;
        border: 1px solid #eb5d2b;
        @include breakpoint('mobile'){
            font-size: 14px;
            padding-top: 20px;
        }
        .wac-shareIcon{
            background:url('../img/desktop/clucker/share-icon.png')no-repeat;
            width: 26px;
            height: 27px;
            display: inline-block;
            position: absolute;
            top: 14px;
            right: 12px;
        }
        &:hover{
            background:transparent;
            color:$color-orange;
        }
    }
    .wac-expand{
        background:url('../img/desktop/clucker/enlarge-icon.png')no-repeat;
        width: 40px;
        height: 40px;
        display: inline-block;
        position:absolute;
        top: 109px;
        right: 13px;
        cursor: pointer;
        @include breakpoint('mobile'){
            top: 57px;
        }
    }
    .wac-indication{
        text-align: right;
        display: block;
        margin-top: 9px;
        color:$grey-innerTxt;
        @include breakpoint('mobile'){
            text-align: left;
        }
    }
    .wac-question{
        text-decoration: none;
        color:$yellow-color;
    }
    .download{
        h1{
            font-size: 34px;
            @include breakpoint('mobile'){
                font-size: 17px; 
                padding-top: 31px;
            } 
        }
    }
    .text-center{
        text-align:center;
    }
}


