---
title: "Nasacort Allergy 24HR for Healthcare Professionals | Dosing & Efficacy"
meta-description: "Get dosing and efficacy information about Nasacort Allergy 24HR"
meta-keywords: "Nasacort Allergy 24 HR, Nasacort Allergy 24HR, Nasacort AQ, Nasacort Allergy, triamcinolone acetonide, Nasacort FDA approved, OTC INS, OTC nasal spray, severe allergies, allergic rhinitis INS, allergic rhinitis treatment, allergy relief, allergic rhinitis, most powerful allergy medicine, Nasacort clinical information, Nasacort allergy 24HR clinical information, Nasacort info for physicians, approved for children"
section: dosing-and-efficacy
layout: layout.hbs
footnote1: {"section":"references-dosing-efficacy-1", "parent":"#dosing-information"}
footnote2: {"section":"references-dosing-efficacy-2", "parent":"#chart-1"}
footnote3: {"section":"references-dosing-efficacy-3", "parent":"#chart-2"}
footnote4: {"section":"references-dosing-efficacy-4", "parent":"#chart-3"}
---

{{>header}}


<div class="ncontainer first-container">
	<div class="hero-banner" title="Dosing & Efficacy for Adults and Children">
	    <div class="content copy">
		  <h1>Dosing & Efficacy</h1>
		  <span class="underlined"></span>
		</div>
	</div>
</div>

<div class="content-{{section}} dosing-information ncontainer" id="dosing-information">
    <div class="content">
    	<h2>Nasacort<sup>&reg;</sup> Allergy 24HR</h2>
    	<h2 class="last-h2">Dosing Information&mdash; Adults and Children</h2>
    	<p>Nasacort<sup>&reg;</sup> is indicated to treat allergic rhinitis in adults and children 2 years of age and older. It is the only OTC INS to be proven safe for children as young as 2. </p>
    	<div class="img-chart">
    	    <span class="graphic-superscript"><span class="button"></span></span>
    		<img src="img/desktop/dosingEfficacy/dosingChart-dosingEfficacy.png" alt="Nasacort® Allergy 24HR Dosing Chart for Adults and Children">
    	</div>
    	<p class="last-p">For complete directions, warnings, and other information, please see the <a href="drug-facts-label.html">Drug Facts Label.</a></p>
    	{{>footnote footnote1}}
    	<p class="use-directed">Use only as directed.</p>
	</div>
</div>


<div class="video-sect-dosing ncontainer">
    <div class="content">
    	<div class="content-dosing-and-efficacy">
    		<h2>How to use Nasacort<sup>&reg;</sup></h2>
    		<!--<p>Get the simple steps for using Nasacort<sup>&reg;</sup>.</p>-->
    		<div class="video-control">
    			<a class="video-intial fancybox" href="http://vimeo.com/84997710" title="How to use Nasacort® video"></a>
    			<a class="label-information" href="downloads/NAS_DrugFacts_FNL-4.pdf" target="_blank" title="See the complete Nasacort® label information"></a>
    		</div>
    	</div>
	</div>
</div>

<div class="content-dosing-and-efficacy charts-dosingInner ncontainer"><a name="proven-efficacy-at-dose-1"></a>
    <div class="content">
    	<div class="inner-charts chart-1 content" id="chart-1">
    		<h3 class="first-Title-dosing">Proven Efficacy at Dose 1</h3>
    		<p class="chart-text-inner">In a clinical study of 429 patients with seasonal rhinitis, patients taking Nasacort® Allergy 24HR saw <strong>25% relief of nasal symptoms starting at Day 1.</strong><sup>1,2,*</sup></p>
    		<span class="graphic-superscript superscript-2"><span class="button"></span><span class="button button-2"></span></span>
    		<span class="graphic-superscript"><span class="button"></span></span>
    		<img src="img/desktop/dosingEfficacy/firstDose-dosingEfficacy.png" alt="Nasacort® Allergy 24HR Proven Efficacy at Dose 1 chart">
    		<p class="notes">A randomized, placebo-controlled, double-blind, 3-week study to investigate the efficacy and safety of once-daily Nasacort<sup>&reg;</sup> AQ. Symptom severity of each individual component of the nasal index was assessed on a scale from 0 (absent) to 3 (severe). Patients randomized to the Nasacort<sup>&reg;</sup> AQ group received 220 mcg/day for the first week of treatment and either 220 mcg/day (n=145) or 110 mcg/day (n=142) for the remainder of the study; patients received placebo.<sup>1</sup></p>
    		{{>footnote footnote2}}
    		<p class="use-directed">Use only as directed.</p>	
    	</div>
    
    	<div class="inner-charts chart-2 content" id="chart-2">
    		<h3 class="first-Title-dosing marg-bott-dosing">Continuous Relief of Nasal Allergy Symptoms Over 12 Months<sup>1</sup></h3>
    		<p class="chart-text-inner">In a clinical study of 172 patients with persistent allergic rhinitis, Nasacort<sup>&reg;</sup> provided powerful relief of allergy symptoms from month 1 through 12. </p>
    		<img src="img/desktop/dosingEfficacy/continuous-relief-nasal-allergy-symptoms.png" alt="Continuous Relief of Nasal Allergy Symptoms Over 12 Months chart">
    		<!--<p class="parr-inner-dosing"><strong>Nasacort<sup>&reg;</sup> dosage during double-blind period:</strong> 2 sprays (220 mcg) per day</p>
    		<p class="parrMarg-inner-dosing"><strong>Nasacort<sup>&reg;</sup> dosage during open-label period:</strong>2 sprays (220 mcg) per day with the option to reduce to 1 spray (110 mcg) per day</p>
    		<p class="notes">A 12-month, multicenter, open-label extension of a 4-week, double-blind study in 172 patients aged 11 to 59 years with persistent allergic rhinitis. Overall assessment of nasal symptoms was based on a visual analog scale (VAS) ranging from 0 (no symptoms) to 10 (severe symptoms). Chart adapted from Koepke.<sup>1</sup></p>
    		-->
    		{{>footnote footnote3}}
    		<p class="use-directed">Use only as directed.</p>
    	</div>
    
    	<div class="inner-charts chart-3 content" id="chart-3"><a name="effective-sympton-in-children"></a>
    		<h3 class="second-Title-dosing">Effective Symptom Relief in Children</h3>
    		<div class="second-content-dosing">
    			<h4>Nasal allergy relief in children 2 to 5 years of age<sup>1</sup></h4>
    			<p>In the largest published study of any intranasal corticosteroid, designed specifically to assess both the safety and efficacy of Nasacort<sup>&reg;</sup> vs placebo in children 2 to 5 years of age with perennial allergic rhinitis, Nasacort<sup>&reg;</sup> was shown to provide proven, effective nasal allergy relief.</p>
    			<h4 class="last-h4">Powerful relief of nasal allergy symptoms in children 6 to 11 years of age<sup>2</sup></h4>
    		</div>
    		<img src="img/desktop/dosingEfficacy/allergyRelief-dosingEfficacy.png" alt="Effective Symptom Relief in Children chart">
    		<div class="chart-text">
    			<p><strong>Mean change in symptom scores: 2</strong></p>
    			<p>Nasacort<sup>&reg;</sup> 220 mcg daily=2.50</p>
    			<p>Nasacort<sup>&reg;</sup> 110 mcg daily=2.62</p>
    			<p>Placebo=1.78</p>
    		</div>
    		<p class="notes">The primary efficacy end point was the mean change from baseline in 24-hour reflective nasal index over the 2-week treatment period. Nasal index is the sum of the 3 individual symptom scores. Symptom severity was assessed on a scale from 0 (absent) to 3 (severe). <sup>2</sup> See <a href="drug-facts-label.html">Drug Facts Label</a> for information about pediatric dosing and growth.</p>
    		{{>footnote footnote4}}
    		<p class="use-directed">Use only as directed.</p>
    	</div>
    </div>
</div>

{{>footer}}


