---
title: "Nasacort Allergy 24HR for Healthcare Professionals | Dosing & Efficacy"
meta-description: "Get dosing and efficacy information about Nasacort Allergy 24HR"
meta-keywords: "Nasacort Allergy 24 HR, Nasacort Allergy 24HR, Nasacort AQ, Nasacort Allergy, triamcinolone acetonide, Nasacort FDA approved, OTC INS, OTC nasal spray, severe allergies, allergic rhinitis INS, allergic rhinitis treatment, allergy relief, allergic rhinitis, most powerful allergy medicine, Nasacort clinical information, Nasacort allergy 24HR clinical information, Nasacort info for physicians, approved for children"
section: dosing-and-efficacy
layout: layout.hbs
---

{{>header}}


<div class="hero-{{section}}">
	<div>
		<h1>Dosing & Efficacy</h1>
		<span class="underlined"></span>
	</div>
</div>

<div>
	<h1>Nasacort<sup>&reg;</sup> Allergy 24HR</h1>
	<h1>Dosing Information&mdash;Adults and Children</h1>
	<p>Nasacort<sup>&reg;</sup> is indicated to treat allergic rhinitis in adults and children 2 years of age and older. It is the only OTC INS to be proven safe for children as young as 2. </p>
	<img src="" alt="Nasacort® Allergy 24HR Dosing Chart for Adults and Children">
	<p>For complete directions, warnings, and other information, please see the <a href="" target="_blank">Drug Facts Label.</a></p>
	<p>Use only as directed.</p>
</div>

<div>
	
</div>





