---
title: "Nasacort Allergy 24HR for Healthcare Professionals | Dosing & Efficacy"
meta-description: "Get dosing and efficacy information about Nasacort Allergy 24HR"
meta-keywords: "Nasacort Allergy 24 HR, Nasacort Allergy 24HR, Nasacort AQ, Nasacort Allergy, triamcinolone acetonide, Nasacort FDA approved, OTC INS, OTC nasal spray, severe allergies, allergic rhinitis INS, allergic rhinitis treatment, allergy relief, allergic rhinitis, most powerful allergy medicine, Nasacort clinical information, Nasacort allergy 24HR clinical information, Nasacort info for physicians, approved for children"
section: dosing-and-efficacy
"scripts": ["jquery.fancybox","jquery.fancybox-media","jquery.fancybox-buttons","waypoint","greensock/TweenLite.min","greensock/easing/EasePack.min","greensock/plugins/CSSPlugin.min","doTimeout"]
layout: layout.hbs
footnote1: {"section":"references-dosing-efficacy-1", "parent":"#dosing-information"}
footnote2: {"section":"references-dosing-efficacy-2", "parent":"#chart-1"}
footnote3: {"section":"references-dosing-efficacy-3", "parent":"#chart-2"}
footnote4: {"section":"references-dosing-efficacy-4", "parent":"#chart-3"}
---

{{>header}}


<div class="ncontainer first-container">
	<div class="hero-banner" title="Dosing & Efficacy for Adults and Children">
	    <div class="content copy">
		  <h1>Dosing &amp; Efficacy</h1>
		  <span class="underlined"></span>
		</div>
	</div>
</div>

<div class="content-{{section}} dosing-information ncontainer" id="dosing-information">
    <div class="content inner-dosing">
    	<h2>Nasacort<sup>&reg;</sup> Allergy 24HR</h2>
    	<h2 class="last-h2">Dosing Information&mdash; <br>Adults and Children</h2>
    	<p>Nasacort<sup>&reg;</sup> is indicated to treat allergic rhinitis in adults and children 2 years of age and older. It is the only OTC INS to be proven safe for children as young as 2. </p>
    	<div class="img-chart">
    	    <span class="graphic-superscript"><span class="button"></span></span>
    		<img src="img/desktop/dosingEfficacy/dosingChart-dosingEfficacy.png" alt="Nasacort® Allergy 24HR Dosing Chart for Adults and Children">
    	</div>
        <p>It may take up to 1 week of daily use to feel the most symptom relief.</p>
        <p>Nasacort<sup>&reg;</sup> is recommended for daily use, but adult supervision is required. Please consult with your physician if your child needs to use Nasacort<sup>&reg;</sup> for more than 2 months.</p>

    	<p class="last-p">For complete directions, warnings, and other information, please see the <a onclick="ga('send', 'event', 'text links', 'click_content', 'section 1: drug facts label text link');" href="drug-facts-label.html">Drug Facts Label.</a></p>
    	{{>footnote footnote1}}
	</div>
    <p class="use-directed">Use only as directed.</p>
</div>


<div class="video-sect-dosing ncontainer">
    <div class="content inner-dosing">
    	<div class="content-dosing-and-efficacy">
    		<h2>How to use Nasacort<sup>&reg;</sup></h2>
    		<!--<p>Get the simple steps for using Nasacort<sup>&reg;</sup>.</p>-->
    		<div class="video-control">  
    			<a class="video-intial fancybox" href="http://vimeo.com/91547391" title="How to use Nasacort® video" data-tracking="section 2: how to use nasacort video"></a>
    			<a onclick="ga('send', 'event', 'button link', 'click_content', 'section 2: drug facts label button');   " class="label-information" href="downloads/NAS_DrugFacts_FNL-4.pdf" target="_blank" title="See the complete Nasacort® label information"></a>
    		</div>
    	</div>
	</div>
</div>

<div class="content-dosing-and-efficacy charts-dosingInner ncontainer"><a name="proven-efficacy-at-dose-1"></a>
    <div class="content inner-dosing">
    	<div class="inner-charts chart-1 content" id="chart-1">
    		<h3 class="first-Title-dosing">Proven Efficacy at Dose 1</h3>
    		<p class="chart-text-inner">In a clinical study of 429 patients with seasonal rhinitis, patients taking Nasacort<sup>®</sup> Allergy 24HR saw <strong>25% relief of nasal symptoms starting at Day 1.</strong><sup>1,2,</sup>*</p>
    		<div class="animation-1" title="Nasacort® Allergy 24HR Proven Efficacy at Dose 1 chart">
    		    <div class="graph-header">
    		        <div class="chart-1-name">DAY 1<sup>a</sup></div>
    		        <div class="chart-2-name">OVERALL<sup>b</sup><span class="chart-2-subtitle">(POST-TITRATION)</span></div>
    		    </div>
    		    <div class="graph-bg">
    		        <div class="graphics">
                        <div id="chart-animation-1" class="orange-chart"><span class="indicator-1">25<span class="porcentage">%</span><span class="description">relief<sup>c</sup></span></span></div>
                        <div id="chart-animation-2" class="grey-chart"><span class="indicator-2">8<span class="porcentage">%</span></span></div>
                        <div id="chart-animation-3" class="orange-chart"><span class="indicator-1">53<span class="porcentage">%</span><span class="description">relief<sup>c</sup></span></span></div>
                        <div id="chart-animation-4" class="grey-chart"><span class="indicator-2">20<span class="porcentage">%</span></span></div>
    		        </div>
    		    </div>
    		    <div class="level-graph"></div>
    		    <div class="quote">
    		        <span class="quote-left"></span>
                    <span class="text">Relief begins<br/> on<span class="orange">&nbsp;day one</span></span>
    		        <span class="quote-right"></span>
    		    </div>
    		</div>
    		<p class="notes">A randomized, placebo-controlled, double-blind, 3-week study to investigate the efficacy and safety of once-daily Nasacort<sup>&reg;</sup> AQ. Symptom severity of each individual component of the nasal index was assessed on a scale from 0 (absent) to 3 (severe). Patients randomized to the Nasacort<sup>&reg;</sup> AQ group received 220 mcg/day for the first week of treatment and either 220 mcg/day (n=145) or 110 mcg/day (n=142) for the remainder of the study; 142 patients received placebo.<sup>1</sup></p>
            <br />
            <p class="notes">*It may take up to 1 week of daily use to feel the most symptom relief.</p>
    		{{>footnote footnote2}}
    	</div>
    </div>    
        <p class="use-directed use-directed-dose-1">Use only as directed.</p>   
    <div class="content inner-dosing push-content">    
    	<div class="inner-charts chart-2 content" id="chart-2"><a name="continuous-relief-of-nasal-allergy"></a>
    		<h3 class="first-Title-dosing marg-bott-dosing">Continuous Relief of Nasal Allergy Symptoms Over 12 Months<sup>1</sup></h3>
    		<p class="chart-text-inner">In a clinical study of 172 patients with persistent allergic rhinitis, Nasacort<sup>&reg;</sup> provided powerful relief of allergy symptoms from month 1 through 12. </p>
    		<img src="img/desktop/dosingEfficacy/continuous-relief-nasal-allergy-symptoms.png" alt="Continuous Relief of Nasal Allergy Symptoms Over 12 Months chart">
    		{{>footnote footnote3}}
    		
    	</div>
    </div>    
        <p class="use-directed">Use only as directed.</p>
    <div class="content inner-dosing push-content">      
    	<div class="inner-charts chart-3 content" id="chart-3"><a name="effective-sympton-in-children"></a>
    		<h3 class="second-Title-dosing">Effective Nasal Allergy Symptom Relief in Children Ages 2 to 5<sup>1</sup></h3>
    		<div class="second-content-dosing">
    			<h4>Nasal allergy relief in children 2 to 5 years of age<sup>1</sup></h4>
    			<p>In the largest published study of any intranasal corticosteroid, designed specifically to assess both the safety and efficacy of Nasacort<sup>&reg;</sup> vs placebo in children 2 to 5 years of age with perennial allergic rhinitis, rhinitis, Nasacort<sup>&reg;</sup> was shown to provide effective relief from nasal allergies.<sup>1<sup></p>
                
    		</div>
            <p class="notes">Nasacort<sup>&reg;</sup> improved patients’ Total Nasal Symptom Score by 30%, compared to 25% with placebo.<sup>1<sup></p>
            <div class="second-content-dosing"></div>
            <div class="second-content-dosing">
                <h4 class="last-h4">Effective relief of nasal allergy symptoms in children 6 to 11 years of age<sup>2</sup></h4>
            </div>
    		<div class="animation-2" title="Continuous Relief of Nasal Allergy Symptoms Over 12 Months chart">
                <div class="graph-bg">
                    <div class="graphics">
                        <div id="bar-1" class="orange-bar"><span class="indicator">42%<sup>a</sup></span></div>
                        <div id="bar-2" class="blue-bar"><span class="indicator">40%<sup>a</sup></span></div>
                        <div id="bar-3" class="grey-bar"><span class="indicator">28%<sup>a</sup></span></div>
                        <div id="bar-4" class="orange-bar"><span class="indicator">38%</span></div>
                        <div id="bar-5" class="blue-bar"><span class="indicator">37%</span></div>
                        <div id="bar-6" class="grey-bar"><span class="indicator">25%</span></div>
                        <div id="bar-7" class="orange-bar"><span class="indicator">44%</span></div>
                        <div id="bar-8" class="blue-bar"><span class="indicator">40%</span></div>
                        <div id="bar-9" class="grey-bar"><span class="indicator">29%</span></div>
                        <div id="bar-10" class="orange-bar"><span class="indicator">44%</span></div>
                        <div id="bar-11" class="blue-bar"><span class="indicator">42%</span></div>
                        <div id="bar-12" class="grey-bar"><span class="indicator">31%</span></div>      
                    </div>
                </div>
                <div class="baseline">
                    <span class="base-1">Nasal index</span>
                    <span class="base-2">Nasal stuffiness</span>
                    <span class="base-3">Nasal discharge</span>
                    <span class="base-4">Sneezing</span>
                </div>
                <div class="legend-graph"></div>
            </div>
    		<div class="chart-text">
    			<p><strong>Mean change in symptom scores: 2</strong></p>
    			<p>Nasacort<sup>&reg;</sup> 220 mcg daily=2.50</p>
    			<p>Nasacort<sup>&reg;</sup> 110 mcg daily=2.62</p>
    			<p>Placebo=1.78</p>
    		</div>
    		<p class="notes">The primary efficacy end point was the mean change from baseline in 24-hour reflective nasal index over the 2-week treatment period. Nasal index is the sum of the 3 individual symptom scores. Symptom severity was assessed on a scale from 0 (absent) to 3 (severe). <sup>2</sup> See <a href="drug-facts-label.html">Drug Facts Label</a> for information about pediatric dosing and growth.</p>
    		{{>footnote footnote4}}
    		
    	</div>
    </div>
    <p class="use-directed use-directed-last">Use only as directed.</p>
</div>

{{>footer}}


