---
title: "Nasacort Allergy 24HR for Healthcare Professionals | Dosing & Efficacy"
meta-description: "Get dosing and efficacy information about Nasacort Allergy 24HR"
meta-keywords: "Nasacort Allergy 24 HR, Nasacort Allergy 24HR, Nasacort AQ, Nasacort Allergy, triamcinolone acetonide, Nasacort FDA approved, OTC INS, OTC nasal spray, severe allergies, allergic rhinitis INS, allergic rhinitis treatment, allergy relief, allergic rhinitis, most powerful allergy medicine, Nasacort clinical information, Nasacort allergy 24HR clinical information, Nasacort info for physicians, approved for children"
section: dosing-and-efficacy
layout: layout.hbs
---

{{>header}}


<div class="hero-{{section}}">
	<div>
		<h1>Dosing & Efficacy</h1>
		<span class="underlined"></span>
	</div>
</div>

<div>
	<h1>Nasacort<sup>&reg;</sup> Allergy 24HR</h1>
	<h1>Dosing Information&mdash;Adults and Children</h1>
	<p>Nasacort<sup>&reg;</sup> is indicated to treat allergic rhinitis in adults and children 2 years of age and older. It is the only OTC INS to be proven safe for children as young as 2. </p>
	<img src="" alt="Nasacort® Allergy 24HR Dosing Chart for Adults and Children">
	<p>For complete directions, warnings, and other information, please see the <a href="" target="_blank">Drug Facts Label.</a></p>
	<p>Use only as directed.</p>
</div>

<div>
	<h2>How to use Nasacort<sup>&reg;</sup></h2>
	<p>Get the simple steps for using Nasacort<sup>&reg;</sup>.</p>
	<div class="video-control">
		<div class="video-intial"></div>
		<div class="label-information"></div>
	</div>
</div>

<div>
	<h3>Proven Efficacy at Dose 1</h3>
	<p>In a clinical study of 429 patients with seasonal rhinitis, patients taking Nasacort® Allergy 24HR saw 25% relief of nasal symptoms starting at Day 1.<sup>1,2,*</sup></p>
	<img src="" alt="Nasacort® Allergy 24HR Proven Efficacy at Dose 1 chart">
	<p>A randomized, placebo-controlled, double-blind, 3-week study to investigate the efficacy and safety of once-daily Nasacort<sup>&reg;</sup> AQ. Symptom severity of each individual component of the nasal index was assessed on a scale from 0 (absent) to 3 (severe). Patients randomized to the Nasacort<sup>&reg;</sup> AQ group received 220 mcg/day for the first week of treatment and either 220 mcg/day (n=145) or 110 mcg/day (n=142) for the remainder of the study. One hundred and forty-two patients received placebo.<sup>1</sup></p>
	<p>Use only as directed.</p>
</div>




