---
title: "Nasacort Allergy 24HR for Healthcare Professionals | Drug Facts Label"
meta-description: "View the drug facts label for Nasacort® Allergy 24HR"
meta-keywords: "Nasacort Allergy 24 HR, Nasacort Allergy 24HR, Nasacort AQ, NasacortAQ, Nasacort Allergy, triamcinolone acetonide, Nasacort FDA approved, OTC INS, OTC nasal spray, severe allergies, allergic rhinitis INS, allergic rhinitis treatment, allergy relief, allergic rhinitis, most powerful allergy medicine, no scent, Flonase, Nasacort drug facts, Nasacort drug facts label, Nasacort dfl, Nasacort dosing, how to use Nasacort"
section: drug-fact-label
button-details: {"text":"Download the <span class='nobr'>Drugs Facts Label</span>", "main-link":"#aa", "share-link":"#bb"}
layout: layout.hbs
---
{{>header}}
<div class="{{section}}-header">
    <div class="content section-content">
        <h1>Drug Facts Label</h1>
    </div>
</div>
<div class="content section-content {{section}}">
    <h2 class="spc-hed1">Nasacort<sup>&reg;</sup> Allergy 24HR <span>and</span> Children&rsquo;s Nasacort<sup>&reg;</sup> 24HR</h2>
    <h2 class="spc-head"> <i>Drug Facts</i></h2>
    <h4 class="title_internal">Active ingredient (in each spray)</h4>
    <p class="spc-par">Triamcinolone acetonide</p>
    <p>(glucocorticoid) 55 mcg</p>
    <h4 class="title_internal">Purpose</h4>
    <p>Nasal allergy symptom reliever</p>
    <h4 class="title_internal">Uses</h4>
    <p class="marg-fix">temporarily relieves these symptoms of hay fever or other upper respiratory allergies:</p>
    <ul class="list inl-list">
        <li> nasal congestion</li>
        <li> runny nose</li>
        <li> sneezing</li>
        <li> itchy nose</li>
    </ul>
    <h4 class="title_internal">Warnings</h4>
    <p class="subtitle_internal">Do not use</p>
    <ul>
        <li> in children under 2 years of age</li>
        <li> If you have ever had an allergic reaction to any of the ingredients</li>
    </ul>
    <p class="subtitle_internal">Ask a doctor before use if you</p>
    <ul>
        <li> have had recent nose ulcers or nose surgery</li>
        <li> have had a nose injury that has not healed</li>
        <li> are using a steroid medicine for asthma, allergies or skin rash</li>
        <li> have an eye infection</li>
        <li> have or had glaucoma or cataracts</li>
    </ul>
    <p class="subtitle_internal">When using this product</p>
    <ul>
        <li> the growth rate of some children may be slower</li>
        <li> some symptoms may get better on the first day of treatment. It may take up to one week of daily use to feel the most symptom relief</li>
        <li> do not share this bottle with anyone else as this may spread germs</li>
        <li> remember to tell your doctor about all the medicines you take, including this one</li>
    </ul>
    <p class="subtitle_internal">Stop use and ask a doctor if</p>
    <ul>
        <li> you have, or come into contact with someone who has, chickenpox, measles, or tuberculosis</li>
        <li> you have or develop symptoms of an infection such as a persistent fever</li>
        <li> you have any change in vision</li>
        <li> you have severe or frequent nosebleeds</li>
    </ul>
    <p><strong>If pregnant or breast-feeding,</strong> ask a health professional before use. <strong>Keep out of reach of children.</strong> In case of overdose, get medical help or contact a Poison Control Center right away.</p>
    <p class="title_internal mrg-none">Directions</p>
    <p class="subtitle_internal">Read insert (inside package) on how to:</p>
    <ul class="small-marg">
        <li><strong> get a new bottle ready (primed) before first use</strong></li>
        <li><strong> prime bottle again if not used for more than 2 weeks</strong></li>
        <li><strong> use the spray</strong></li>
        <li><strong> clean the spray nozzle</strong></li>
    </ul>
</div>


<div class="content-spe section-content {{section}}">
    <div class="box-drug-fact">
        <p class="subtitle_internal">ADULTS AND CHILDREN 12 YEARS OF AGE AND OLDER</p>
        <ul>
            <li> once daily, spray 2 times into each nostril while sniffing gently</li>
            <li> once your allergy symptoms improve, reduce to 1 spray in each nostril per day</li>
        </ul>
        <p class="subtitle_internal">CHILDREN 2 TO UNDER 12 YEARS OF AGE</p>
        <ul>
            <li> the growth rate of some children may be slower while using this product. Talk to your child’s doctor if your child needs to use the spray for longer than two months a year</li>
        </ul>
        <p class="subtitle_internal">children 6 to under 12 years of age</p>
        <ul>
            <li> an adult should supervise use</li>
            <li> once daily, spray 1 time into each nostril while sniffing gently</li>
            <li> if allergy symptoms do not improve, increase to 2 sprays in each nostril per day. Once allergy symptoms improve, reduce to 1 spray in each nostril per day</li>
        </ul>
        <p class="subtitle_internal">children 2 to under 6 years of age</p>
        <ul>
            <li> an adult should supervise use</li>
            <li> once daily, spray 1 time into each nostril while sniffling gently</li>
        </ul>
        <p class="subtitle_internal">children under 2 years of age</p>
        <ul class="marg-list-fix">
            <li><strong> do not use</strong></li>
        </ul>
    </div>
</div>


<div class="content section-content {{section}}">
    <ul>
        <li><strong> do not use more than directed</strong></li>
        <li> if you forget a dose, do <strong>not</strong> double the next dose</li>
        <li> do not spray into eyes or mouth</li>
        <li> if allergy symptoms do not improve after one week, stop using and talk to a doctor</li>
        <li> do not use for the common cold</li>
        <li> shake well before each use</li>
    </ul>
    <p class="title_internal mrg-none">Other information</p>
    <ul>
        <li><strong> do not use if sealed package is torn or opened</strong></li>
        <li> keep package and insert. They contain important information.</li>
        <li> store between 20°-25°C (68°-77°F)</li>
    </ul>
    <p class="title_internal mrg-none">Inactive ingredients</p>
    <p>benzalkonium chloride, carboxymethylcellulose sodium, dextrose, edetate disodium, hydrochloric acid or sodium hydroxide (for pH adjustment), microcrystalline cellulose, polysorbate 80, purified water</p>
    <p class="title_internal mrg-none">Questions or comments?</p>
    <p>call toll-free <strong class="appleLinks">1-800-633-1610</strong></p>

</div>
</div>
<div class="download text-center">
        <div class="cta-center content-whats-a-clucker">
            {{> cta-download button-details}}
        </div>
    </div>

{{>footer}}