---
title: "Nasacort Allergy 24HR for Healthcare Professionals | Home"
meta-description: "Nasacort® Allergy 24HR is the only over-the-counter INS that is scent-free, alcohol-free, and has no harsh taste."
meta-keywords: "Nasacort Allergy 24 HR, Nasacort Allergy 24HR, Nasacort AQ, NasacortAQ, Nasacort Allergy, triamcinolone acetonide, Nasacort FDA approved, OTC INS, OTC nasal spray, severe allergies, allergic rhinitis INS, allergic rhinitis treatment, allergy relief, allergic rhinitis, most powerful allergy medicine, no scent, Flonase"
section: home
layout: homepage.hbs

footnote1: {"section":"home-1"}
footnote2: {"section":"home-2"}
product-title: "Nasacort<sup>&reg;</sup> is the <span class='orange-color'>only unscented</span> OTC INS"
patients-prefer: "Patients prefer* Nasacort<sup>&reg;</sup> Allergy 24HR&mdash;it's <a href='nasacort-difference.html' class='features'>scent-free, alcohol-free,</a> and has <a  href='nasacort-difference.html' class='features'>no harsh taste.</a>"

---

{{>homepage-desktop}}

{{>homepage-mobile}}