---
title: "Nasacort Allergy 24HR for Healthcare Professionals | Resources"
meta-description: "Watch videos and download documents that can help patients understand OTC INS treatments for allergic rhinitis like Nasacort® Allergy 24HR"
meta-keywords: "Nasacort Allergy 24 HR, Nasacort Allergy 24HR, Nasacort AQ, NasacortAQ, Nasacort Allergy, triamcinolone acetonide, Nasacort FDA approved, OTC INS, OTC nasal spray, severe allergies, allergic rhinitis INS, allergic rhinitis treatment, allergy relief, allergic rhinitis, most powerful allergy medicine, no scent, Flonase, how to use Nasacort, Nasacort resources"
section: resources
"scripts": ["jquery.fancybox","jquery.fancybox-media","jquery.fancybox-buttons","doTimeout"]
layout: layout.hbs
button-details-1: {"text":"Download", "main-link":"downloads/Nasacort_Difference.pdf", "share-link":"#share"}
button-details-2: {"text":"Download", "main-link":"downloads/Questionnaire.pdf", "share-link":"#share"}
button-details-3: {"text":"Download", "main-link":"downloads/Allergies_Cold_or_Flu.pdf", "share-link":"#share"}
button-details-4: {"text":"Download", "main-link":"downloads/educational_brochure.pdf", "share-link":"#share"}
button-details-5: {"text":"Download", "main-link":"downloads/NAS_DrugFacts_FNL-4.pdf", "share-link":"#share"}
button-details-6: {"text":"Download", "main-link":"downloads/printable_instructions.pdf", "share-link":"#share"}
---
{{>header}}
<!--------------------- Banner --------------------->
<!--<div class="banner ncontainer first-container">
    <h1>Resources</h1>
</div>-->
<div class="ncontainer first-container color-bann">
    <div class="content banner-prin">
        <div class="banner copy">
            <h1>Resources</h1>
        </div>
    </div>
</div>
<!--------------------- Videos --------------------->
<div class="videos ncontainer">
    <div class="content">
        <div class="inner-content">
           <h2><span class="icon"></span>Videos</h2>
            <div class="thumbnails">
                <a class="video-thumbnail fancybox" href="http://vimeo.com/91547391" title="Play How to Use Nasacort® video" data-tracking="how to use nasacort video">
                    <div class="thumb thumb-1"></div>
                    <h3>How to Use Nasacort<sup>&reg;</sup></h3>
                    <p>Get the simple steps for using Nasacort<sup>&reg;</sup>.</p>
                </a>
                <a class="video-thumbnail fancybox" href="http://vimeo.com/145944570" title="How to Use Children&#39;s Nasacort" data-tracking="how to use children&#39;s nasacort video">
                    <div class="thumb thumb-3"></div>
                    <h3>Get the simple steps for using Children's Nasacort <sup>&reg;</sup></h3>
                    <p></p>
                </a>
                <a class="video-thumbnail fancybox" href="http://vimeo.com/86540286" title="Play INS in Action video" data-tracking="ins in action video">
                    <div class="thumb thumb-2"></div>
                    <h3>INS in Action</h3>
                    <p>See how INSs like Nasacort<sup>&reg;</sup> treat allergic rhinitis.</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!--------------------- For Your Patients --------------------->
<div class="for-your-patients ncontainer">
    <div class="content">
        <div class="inner-content">
            <h2><span class="icon"></span>For Your Patients</h2>
            <!------- Resource ------->
            <div class="resource-container" data-tracking="nasacort difference">
                <div class="preview preview-1" title="Download How is Nasacort® Different? chart"></div>
                <div class="content">
                    <h3>How Is Nasacort<sup>&reg;</sup> Different?</h3>
                    <p>This chart provides an overview of allergy treatment options and how they compare with Nasacort<sup>&reg;</sup>.</p>
                </div>
                {{> cta-download button-details-1}}
            </div>
            <!------- Resource ------->
             <div class="resource-container last" data-tracking="ar symptom q">
                <div class="preview preview-2" title="Download AR Symptom Questionnaire"></div>
                <div class="content">
                    <h3>AR Symptom Questionnaire</h3>
                    <p>Have patients fill out this short assessment so you can help them determine the severity of their AR symptoms.</p>
                </div>
                {{> cta-download button-details-2}}
            </div>
            <!------- Resource ------->
            <div class="resource-container" data-tracking="allergies, cold, or flu">
                <div class="preview preview-3" title="Download Allergies, Cold, or Flu? chart"></div>
                <div class="content">
                    <h3>Allergies, Cold, or Flu?</h3>
                    <p>Give this chart to patients who aren’t sure what treatment is right for their particular symptoms.</p>
                </div>
                {{> cta-download button-details-3}}
            </div>
            <!------- Resource ------->
            <div class="resource-container last" data-tracking="educational brochure">
                <div class="preview preview-4" title="Download Nasacort® Educational Brochure"></div>
                <div class="content">
                    <h3>Educational Brochure</h3>
                    <p>Get an overview of what patients can expect when using Nasacort<sup>&reg;</sup> to treat AR-related symptoms, including congestion.</p>
                </div>
                {{> cta-download button-details-4}}
            </div>
        </div>
    </div>
</div>
<!--------------------- For Your Practice --------------------->
<div class="for-your-practice ncontainer">
    <div class="content">
        <div class="inner-content">
            <h2><span class="icon"></span>For Your Practice</h2>
            <!------- Resource ------->
            <div class="resource-container huge" data-tracking="drug facts">
                <div class="preview preview-1" title="Download Nasacort® Drug Facts Label"></div>
                <div class="content">
                    <h3>Drug Facts Label for Nasacort<sup>&reg;</sup> Allergy 24HR and Children’s Nasacort<sup>&reg;</sup> Allergy 24HR</h3>
                    <p>View the complete Drug Facts Label, including dosing information, for Nasacort<sup>&reg;</sup> Allergy 24HR and Children’s Nasacort<sup>&reg;</sup> Allergy 24HR.</p>
                </div>
                {{> cta-download button-details-5}}
            </div>
            <!------- Resource ------->
            <div class="resource-container last" data-tracking="how to use">
                <div class="preview preview-2" title="Download Nasacort® Instructions for Use"></div>
                <div class="content">
                    <h3>How to Use Nasacort<sup>&reg;</sup></h3>
                    <p>Printable instructions are available for reference or to share with patients.</p>
                </div>
                {{> cta-download button-details-6}}
            </div>

        </div>
    </div>
</div>
<p class="wac-indication">Use only as directed.</p>
{{>footer}}
