---
title: NazacortHCP
section: science-of-allergic-rhinitis
layout: layout.hbs
---

{{>header}}


<div class="content section-content">
    
    <div class="banner">
        <img src="img/desktop/science-of-allergic-rhinitis/hero-rhinitis.jpg"/>
        <div>
            <h1>Science of Allergic Rhinitis</h1>
            <span class="underlined"></span>
        </div>
    </div>
    
    <div class="statistics">
        <div>
            <h2>Allergic Rhinitis Affects Patients&apos; Quality of Life</h2>
            <p>Allergic rhinitis (AR) is highly prevalent, and is becoming increasingly common in children and adults. Symptoms such as sneezing, rhinorrhea, itchy nose, and nasal congestion have a far-reaching effect on a patient's quality of life.</p>
            <span class="chart-head">In studies of adults with allergic rhinitis:</span>
            <div class="graph">
                <img src="img/desktop/science-of-allergic-rhinitis/66pcnt-img.jpg"/>
                <img src="img/desktop/science-of-allergic-rhinitis/oneinthree-img.jpg"/>
                <img src="img/desktop/science-of-allergic-rhinitis/35pcnt-img.jpg"/>
            </div>
            <p>For patients with allergic rhinitis, whose symptoms affect their lives, efficacy matters. Nothing is more effective in interrupting the <span class="blue-text">allergic cascade</span> than an OTC INS like Nasacort<sup>&reg;</sup> Allergy 24HR.</p>
            <p class="right-aligned">Use only as directed.</p>
        </div>
    </div>
  

</div>



