---
title: "Nasacort Allergy 24HR for Healthcare Professionals | Science of Allergic Rhinitis"
meta-description: "Help patients understand allergic rhinitis and when an OTC INS, like Nasacort® Allergy 24HR, may be appropriate for treatment"
meta-keywords: "Nasacort Allergy 24 HR, Nasacort Allergy 24HR, Nasacort AQ, NasacortAQ, Nasacort Allergy, triamcinolone acetonide, allergic rhinitis, Nasacort allergic rhinitis, learn about allergic rhinitis, indoor and outdoor allergies, treating allergic rhinitis, inflammatory cascade"
section: science-of-allergic-rhinitis
layout: layout.hbs
button-details: {"text":"Download the Chart", "main-link":"#aa", "share-link":"#bb"}

footnote1: {"section":"references-science-of-allergic-rhinitis-1"}
footnote2: {"section":"references-science-of-allergic-rhinitis-2"}

---

{{>header}}


<div class="content section-content">
    <!---------------------------------------- Banner ---------------------------------------->
    <div class="banner">
        <!--<img src="img/desktop/science-of-allergic-rhinitis/hero-rhinitis.jpg"/>-->
        <div>
            <h1>Science of Allergic Rhinitis</h1>
            <span class="underlined"></span>
        </div>
    </div>
    <!---------------------------------------- Statistics ---------------------------------------->
    <div class="statistics" id="affects-patients-quality-of-life">
        <div class="stats">
            <h2>Allergic Rhinitis Affects Patients&apos; Quality of Life</h2>
            <p>Allergic rhinitis (AR) is highly prevalent, and is becoming increasingly common in children and adults. Symptoms such as sneezing, rhinorrhea, itchy nose, and nasal congestion have a far-reaching effect on a patient's quality of life.</p>
            <span class="chart-head">In studies of adults with allergic rhinitis:</span>
            <div class="graph">
                <div id="panel_1" class="panel">
                    <div class="head">
                        <p class="num">66</p><sup>%</sup>
                    </div>
                    <div class="quote">
                        <p>said AR had effects on their daily lives <sup>1</sup></p>
                    </div>
                    <div class="chart">
                        <img src="img/desktop/science-of-allergic-rhinitis/people.png" alt="How allergies disrupt daily lives—chart" />
                        <div class="line line1"></div>
                        <div class="line line2"></div>
                    </div>
                </div>
                <div id="panel_2" class="panel">
                    <div class="head"><p><span class="in-before">1</span><span class="in">in</span><span class="in-after">3</span></p></div>
                    <div class="quote">
                        <p>missed work due to nasal allergies <sup>2</sup></p>
                    </div>
                    <div class="chart">
                        <img src="img/desktop/science-of-allergic-rhinitis/chairs.png" alt="How allergies disrupt daily lives—chart"/>
                        <div class="line line1"></div>
                        <div class="line line2"></div>
                    </div>
                </div>
                <div id="panel_3" class="panel">
                    <div class="head">
                        <p class="num">35</p><sup>%</sup>
                    </div>
                    <div class="quote">
                        <p>said nasal syntoms were a moderate hidrance at work <sup>2</sup></p>
                    </div>
                    <div class="chart">
                        <img src="img/desktop/science-of-allergic-rhinitis/computers.png" alt="How allergies disrupt daily lives—chart"/>
                        <div class="line line1"></div>
                        <div class="line line2"></div>
                        <div class="line line3"></div>
                    </div>
                </div>
                {{!-- <img src="img/desktop/science-of-allergic-rhinitis/66pcnt-img.png"/>
                <img src="img/desktop/science-of-allergic-rhinitis/oneinthree-img.png"/>
                <img src="img/desktop/science-of-allergic-rhinitis/35pcnt-img.png"/> --}}
            </div>
            <p>For patients with allergic rhinitis, whose symptoms affect their lives, efficacy matters. Nothing is more effective in interrupting the <span class="blue-text">allergic cascade</span> than an OTC INS like Nasacort<sup>&reg;</sup> Allergy 24HR.</p>
            {{>footnote footnote1}}
            <p class="right-aligned">Use only as directed.</p>
        </div>
    </div>
    <!---------------------------------------- About ---------------------------------------->
    <div class="about" id="about-allergic-rhinitis">
        <div class="description">
            <div>
                <h2>About Allergic Rhinitis</h2>
                <p>Many of your patients have been using oral antihistamines (OAHs) for years, but they continue to suffer with allergic rhinitis (AR), or are looking for something more. <span class="highlighted">These sufferers</span> of moderate to severe nasal allergies may find relief with Nasacort<sup>&reg;</sup> Allergy 24HR—the only unscented OTC INS. But your patients may not fully <span class="highlighted">understand the difference</span> between these 2 separate classes of drugs, OAHs and INSs, or that <span class="highlighted">OTC INSs can differ in their sensory attributes.</span> To understand how OAHs work compared with INSs, it may help your patient to learn about the relationship between allergic rhinitis and inflammation.</p>
            </div>
            <img src="img/desktop/science-of-allergic-rhinitis/inflamation-img.png"/>
            <p class="right-aligned">Use only as directed.</p>
        </div>
    </div>
    <!---------------------------------------- Carousel ---------------------------------------->
    <div class="carousel">
        <div class="container-carousel">
            <h2>How a nasal allergy can develop</h2>
            <div class="content-ui">   
                <a href="#" id="prev" class="arrow-left"></a>
                <div class="cycle-slideshow" 
                    data-cycle-fx="scrollHorz" 
                    data-cycle-timeout="100000" 
                    data-cycle-next="#next"
                    data-cycle-prev="#prev"
                    data-cycle-pager="#pager"
                    data-cycle-carousel-visible=1
                    data-cycle-swipe=true 
                    data-cycle-pause-on-hover="true" 
                    data-cycle-loader="wait" 
                    data-cycle-slides="> div"
                    >
                    <div class="item">
                        <h3>1. EXPOSURE</h3>
                        <p>An allergen (like pollen or dust) enters the nose, sensitizing the mast cells</p>
                        <img src="img/desktop/science-of-allergic-rhinitis/carousel/allergen-img.jpg" alt="The Allergic Cascade Stage 1–Exposure"/>
                    </div>
                    <div class="item">
                        <h3>2. early-phase response</h3>
                        <p>Sensitized mast cells release mediators like histamines, which cause itchy nose, runny nose, and sneezing</p>
                        <img src="img/desktop/science-of-allergic-rhinitis/carousel/histamins-img.jpg" alt="The Allergic Cascade Stage 2–Early-phase Response"/>
                    </div>
                    <div class="item">
                        <h3>3. INFLAMMATION</h3>
                        <p>Cytokines bring white blood cells to the affected area, causing irritation and inflammation that lead to congestion</p>
                        <img src="img/desktop/science-of-allergic-rhinitis/carousel/inflamation-img.jpg" alt="The Allergic Cascade Stage 3–Inflammation"/>
                    </div>
                    <div class="item">
                        <h3>4. LATE-PHASE RESPONSE</h3>
                        <p>The inflammation leads to the release of even more histamine and mediating chemicals, which worsen symptoms</p>
                        <img src="img/desktop/science-of-allergic-rhinitis/carousel/symtons-img.jpg" alt="The Allergic Cascade Stage 4–Late-phase Response"/>
                    </div>
                    <div class="item">
                        <h3>5. ESCALATION</h3>
                        <p>Without anti-inflammatory intervention with an INS like Nasacort® Allergy 24HR, the cycle repeats and builds</p>
                        <img src="img/desktop/science-of-allergic-rhinitis/carousel/escalation-img.jpg" alt="The Allergic Cascade Stage 5–Escalation"/>
                    </div>
                </div>
                <a href="#" id="next" class="arrow-right"></a>
            </div>         
        </div>
        <div class="cycle-pager" id="pager"></div>
    </div>
    <!---------------------------------------- Video Callout ---------------------------------------->
    <div class="video-callout-container">
        <div class="video-callout"></div>
        <p class="right-aligned">Use only as directed.</p>
    </div>
    <!---------------------------------------- Aditional Information ---------------------------------------->
    <div class="aditional-information" id="intranasal-steroids-antihistamines">
        <div class="copy">
            <h2>Intranasal Steroids or Antihistamines?</h2>
            <p>As you've seen in your practice, <span class="highlighted">efficacy matters</span> to your allergic rhinitis patients, who get worn down by <span class="highlighted">bothersome symptoms</span> And when it comes to efficacy, nothing is better than an INS.</p>
            <p>According to the latest medical guidelines, intranasal steroids like Nasacort<sup>&reg;</sup> Allergy 24HR are the most effective class of allergy medication.<sup>1</sup> They have a powerful anti-inflammatory agent that stops your patients' <span class="highlighted">worst nasal allergy symptoms</span>, even <span class="highlighted">congestion</span></p>
            <p>For patients who want efficacy for mild to moderate allergic rhinitis symptoms—and don't suffer from nasal congestion—an <span class="highlighted">oral antihistamine</span> (OAH) is a good choice. An OAH can treat the early stage of the allergic cascade (see above). </p>
            <p>Because of its powerful efficacy, an INS is recommended for patients with moderate to severe allergic rhinitis or for treating the full range of nasal allergy symptoms. When it comes to OTC INSs, patients prefer* SCENT-FREE, ALCOHOL-FREE Nasacort<sup>&reg;</sup> Allergy 24HR over Flonase<sup>&reg;</sup>. Compare to see the <span class="highlighted">Nasacort Difference</span></p>
            <p class="footnote-info"><span>*</span>In a clinical study, based on sensory attributes, patients preferred Nasacort<sup>&reg;</sup> over Flonase<sup>&reg;</sup>. Data on file.</p>
            {{>footnote footnote2}}
        </div>
        <img src="img/desktop/science-of-allergic-rhinitis/intranasal-img.png" alt="Intranasal steroids or oral antihistamines?" />
        <p class="right-aligned">Use only as directed.</p>
    </div>
    <!---------------------------------------- Graphic container ---------------------------------------->
    <div class="graphic-container" id="allergies-cold-flu">
        <h2>Allergies, Cold, or Flu?</h2>
        <p>Stuffy nose, sneezing, fatigue—patients coming to you for help aren't always sure what their symptoms mean. The more you know, the better you can properly diagnose their condition and recommend the <span class="highlighted">correct course of treatment.</span></p>
        <p>Below are the most common allergy, cold, and flu symptoms. This chart can help your patients get a better idea of their condition. Print it out and ask your patient to identify his or her symptoms. The sooner you've got a better idea of what is going on, the sooner you can help your patient with his or her <span class="highlighted">troublesome symptoms.</span></p>
        <img class="graphic" src="img/desktop/science-of-allergic-rhinitis/table-rhinitis.jpg" alt="Common allergy, cold, and flu symptoms chart" />
        <div class="download text-center">
            <div class="cta-center">
                {{> cta-download button-details}}  
            </div>
        </div>
        <p class="right-aligned">Use only as directed.</p>
    </div> 
</div>



{{>footer}}
