---
title: "Nasacort Allergy 24HR for Healthcare Professionals  | What’s a Clucker?"
meta-description: "Should you prescribe an intranasal steroid for your patient? Meet our allergic rhinitis patients to learn about the Nasacort® patient type"
meta-keywords: "Nasacort Allergy 24 HR, Nasacort Allergy 24HR, Nasacort AQ, NasacortAQ, Nasacort Allergy, triamcinolone acetonide, Nasacort FDA approved, OTC INS, OTC nasal spray, severe allergies, allergic rhinitis INS, allergic rhinitis treatment, allergy relief, allergic rhinitis, most powerful allergy medicine, INS patient type, Nasacort patient type, clucker, dripper, mouthbreather, terrible 2"
section: whats-a-clucker
layout: layout.hbs

button-details: {"text":"Download the Symptom Questionnaire", "main-link":"downloads/Allergies_Cold_or_Flu.pdf", "share-link":"#share"}

---

{{>header}}


<div class="hero-{{section}} clucker-container">

	<div class="tittle">
        <h1>What’s a Clucker?</h1>
        <span class="underlined"></span>
    </div>

	<div class="people">
		<div class="img-container">
			<ul>
				<li class="li_maria">
					<a href="#box_maria">
						<img class="normal_img"  src="img/desktop/clucker/header-maria.png" alt="">
						<img class="hover_img" style="display:none" src="img/desktop/clucker/header-maria-hover.png" alt="">
					</a>
				</li>
				<li class="li_mark">
					<a href="#box_mark">
						<img class="normal_img" src="img/desktop/clucker/header-mark.png" alt="">
						<img class="hover_img" style="display:none" src="img/desktop/clucker/header-mark-hover.png" alt="">
					</a>
				</li>
				<li class="li_kara">
					<a href="#box_kara">
						<img class="normal_img" src="img/desktop/clucker/header-kara.png" alt="">
						<img class="hover_img" style="display:none" src="img/desktop/clucker/header-kara-hover.png" alt="">
					</a>
				</li>
				<li class="li_liam">
					<a href="#box_liam">
						<img class="normal_img" src="img/desktop/clucker/header-liam.png" alt="">
						<img class="hover_img" style="display:none" src="img/desktop/clucker/header-liam-hover.png" alt="">
					</a>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
		<div class="boxes">
			<div id="box_maria" class="box">
				<div class="content">
					<div>
						<span class="tittle">Serenity:</span>
						<ul>
							<li>Moderate</li>
						</ul>
					</div>
					<div>
						<span class="tittle">Symptoms:</span>
						<ul>
							<li>Itchy Nose</li>
							<li>Frequently blows nose</li>
							<li>Postnasal drip</li>
						</ul>
					</div>
					<div>
						<span class="tittle">The Right Match:</span>
						<ul>
							<li>An intranasal steroid</li>
						</ul>
					</div>
				</div>
				<div class="white_content">
					<a href="">
						<div class="arrow">
							<img src="img/desktop/clucker/arrow_box.png" alt="">
						</div>
						<div>
							<span>Get inside the head of a</span>
							<span>Clucker</span>
						</div>
					</a>
				</div>
				<div class="close"></div>

			</div>
			<div id="box_mark" class="box">
				<div class="content">
					<div>
						<span class="tittle">Serenity:</span>
						<ul>
							<li>Mild</li>
						</ul>
					</div>
					<div>
						<span class="tittle">Symptoms:</span>
						<ul>
							<li>Mild rhinorrhea</li>
							<li>Sneezing</li>
						</ul>
					</div>
					<div>
						<span class="tittle">The Right Match:</span>
						<ul>
							<li>An antihistamine</li>
						</ul>
					</div>
				</div>
				<div class="white_content">
					<a href="#">
						<div class="arrow">
							<img src="img/desktop/clucker/arrow_box.png" alt="">
						</div>
						<div>
							<span>Get inside the head of a</span>
							<span>DRIPPER</span>
						</div>
					</a>
					
				</div>
				<div class="close"></div>
			</div>
			<div id="box_kara" class="box">
				<div class="content">
					<div>
						<span class="tittle">Serenity:</span>
						<ul>
							<li>Severe</li>
						</ul>
					</div>
					<div>
						<span class="tittle">Symptoms:</span>
						<ul>
							<li>Severe nasal congestion</li>
							<li>“Feels like I have a <br> permanent cold”</li>
						</ul>
					</div>
					<div>
						<span class="tittle">The Right Match:</span>
						<ul>
							<li>An intranasal steroid</li>
						</ul>
					</div>
				</div>
				<div class="white_content">
					<a href="">
						<div class="arrow">
							<img src="img/desktop/clucker/arrow_box.png" alt="">
						</div>
						<div>
							<span>Get inside the head of a</span>
							<span>MOUTHBREATHER</span>
						</div>
					</a>
				</div>
				<div class="close"></div>
			</div>
			<div id="box_liam" class="box">
				<div class="content">
					<div>
						<span class="tittle">Serenity:</span>
						<ul>
							<li>Moderate</li>
						</ul>
					</div>
					<div>
						<span class="tittle">Symptoms:</span>
						<ul>
							<li>Itchy Nose</li>
							<li>Frequently runny nose</li>
							<li>Postnasal drip</li>
						</ul>
					</div>
					<div>
						<span class="tittle">The Right Match:</span>
						<ul>
							<li>An intranasal steroid</li>
						</ul>
					</div>
				</div>
				<div class="white_content">
					<a href="">
						<div class="arrow">
							<img src="img/desktop/clucker/arrow_box.png" alt="">
						</div>
						<div>
							<span>Get inside the head of a</span>
							<span>SNIFFLER</span>
						</div>
					</a>
				</div>
				<div class="close"></div>
			</div>
		</div>
	</div>

  	<div class="blueLine">
  		<div class="info-text content-whats-a-clucker">
  			<ul>
  				<li class="li_nav_maria no-img"><a href="#box_maria">Maria <br/><span>The Clucker</span><span class="arrow-upMenu"></span></a></li>
  				<li class="li_nav_mark"><a href="#box_mark">Mark <br/><span>The Dripper</span><span class="arrow-upMenu"></span></a></li>
  				<li class="li_nav_kara"><a href="#box_kara">Kara <br/><span>The Mouthbreather</span><span class="arrow-upMenu"></span></a></li>
  				<li class="li_nav_liam"><a href="#box_liam">Liam <br/><span>The Sniffler</span><span class="arrow-upMenu"></span></a></li>
  				<div class="clear"></div>
  			</ul>
  		</div>
  	</div>
</div>
<div class="wac">
<!---------------------------------------- Hero Banner ---------------------------------------->
<!---------------------------------------- Content Info ---------------------------------------->
<div class="wac-content">
	<div class="wac-topHead content-whats-a-clucker">
		<h2>What’s a Clucker?</h2>
		<p>Everyone responds to nasal allergy symptoms differently. Here are a few of the allergic rhinitis (AR) patients you may have seen over the years at your pharmacy counter. Click through to match them with the most appropriate medication based on their symptoms, and find out when Nasacort<sup>&reg;</sup> Allergy 24HR is recommended.</p>
	</div>

<!---------------------------------------- Boxes with Each Patient (Maria) ---------------------------------------->	
	<div class="wac-boxes" id="the-clucker">
		<div class="content-whats-a-clucker">
			<h2>Meet Maria <strong>The Clucker</strong></h2>
			<div class="wac-info">
			<!-------------------- Info Personal -------------------->
				<div class="wac-into-1">
					<img class="maria" src="img/desktop/clucker/mariaTheclutter-transparent.png" alt="">
					<span class="wac-hiddenTxt">
						Meet Maria <br/><strong>The Clucker</strong>
					</span>
					<div class="wacSeak">
						<h3>Why Nasacort<sup>&reg;</sup>?</h3>
						<p>Maria's inflamed nasal passages and congestion, combined with the itchiness in her nose, has stopped her from the activity she loves: practicing yoga. She is self-conscious of the "clucking" sound she makes with her tongue as a result of these symptoms. In the past, Maria took another INS but discontinued treatment because the flowery scent bothered her.</p>
						<p>According to the latest medical guidelines,  her allergic rhinitis symptoms are moderate to severe. Nasacort<sup>&reg;</sup> Allergy 24HR is the only scent-free OTC INS, and it can help reduce these troublesome nasal symptoms, including nasal congestion. </p>
					</div>
				</div>
			<!-------------------- Elements of Impact & Symptoms -------------------->	
				<div class="wac-into-2">
					<div class="wac-boxmobile">
						<div class="wac-elements">
							<h3>Symptoms</h3>
							<ul>
								<li class="unselected withShort">Sneezing</li>
								<li class="unselected withLarge">Rhinorrhea</li>
								<li class="selected withShort">Itchy nose</li>
								<li class="selected withLarge">Nasal congestion</li>
							</ul>
						</div>

						<div class="wac-elements">
							<h3>Impact <a href="t-clucker" class="wac-question">[?]</a></h3>
							<div class="tooltip t-clucker">
								<div class="close-btn">
									<span class="x-btn" href="t-clucker"></span>
								</div>
								<p>According to the latest medical guidelines,<sub>1</sub> allergy symptoms are measured by how significantly a patient's quality of life has been affected by his or her symptoms. In moderate to severe cases, one or more of the following characteristics should be present:</p>
								<ul>
									<li>Sleep disturbance</li>
									<li>Impairment of daily activities (leisure, sports)</li>
									<li>Impairment of school or work</li>
									<li>Troublesome symptoms</li>
								</ul>
							</div>
							
							<ul>
								<li class="unselected">Interferes with sleep</li>
								<li class="selected">Troublesome symptoms</li>
								<li class="unselected">Interferes with work or school</li>
								<li class="selected">Interferes with daily activities, like sports or hobbies</li>
							</ul>
						</div>

						<div class="wac-elements align-img">
							 <a href="#" class="maria-graph" target="_blank" data-toggle="modal" data-target="#glass-head" data-type="maria" title="Inside the Head of a Clucker"><span class="wac-expand"></span></a>						
						</div>
					</div>
					<div class="wac-elements align-cta">
						<a href="#" class="wac-cta" target="_blank" data-toggle="modal" data-target="#share" data-type="">Share this profile with a colleague<span class="wac-shareIcon"></span></a>
						<span class="wac-indication">Use only as directed.</span>
					</div>	
				</div>
			</div>			
		</div>
	</div>

<!---------------------------------------- Boxes with Each Patient (Mark) ---------------------------------------->	
	<div class="wac-boxes bg-gray" id="the-dripper">
		<div class="content-whats-a-clucker">
			<h2>Meet Mark <strong>The Dripper</strong></h2>
			<div class="wac-info">
			<!-------------------- Info Personal -------------------->
				<div class="wac-into-1">
					<img class="mark" src="img/desktop/clucker/markThedripper.png" alt="">
					<span class="wac-hiddenTxt">
						Meet Mark <br/><strong>The Dripper</strong>
					</span>
					<div class="wacSeak">
						<h3>Why an antihistamine?</h3>
						<p>Although Mark begins sneezing and develops a runny nose during allergy season, these symptoms don't interfere with his day-to-day life. According to the latest guidelines, Mark's symptoms are classified as mild, because they don't interrupt his work, sleep, or other important daily activities.</p>
						<p>However, he could still benefit from treatment. While he could take an INS, his mild symptoms make Mark a good candidate for oral antihistamines like Allegra<sup>&reg;</sup> Allergy. </p>
					</div>
				</div>
			<!-------------------- Elements of Impact & Symptoms -------------------->	
				<div class="wac-into-2">
					<div class="wac-boxmobile">
						<div class="wac-elements">
							<h3>Symptoms</h3>
							<ul>
								<li class="selected">Sneezing</li>
								<li class="selected">Rhinorrhea</li>
								<li class="unselected">Itchy nose</li>
								<li class="unselected">Nasal congestion</li>
							</ul>
						</div>

						<div class="wac-elements">
							<h3>Impact <a href="t-dripper" class="wac-question">[?]</a></h3>
							<div class="tooltip t-dripper">
								<div class="close-btn">
									<span class="x-btn" href="t-dripper"></span>
								</div>
								<p>According to the latest medical guidelines,<sub>1</sub> allergy symptoms are measured by how significantly a patient's quality of life has been affected by his or her symptoms. In moderate to severe cases, one or more of the following characteristics should be present:</p>
								<ul>
									<li>Sleep disturbance</li>
									<li>Impairment of daily activities (leisure, sports)</li>
									<li>Impairment of school or work</li>
									<li>Troublesome symptoms</li>
								</ul>
							</div>
							<ul>
								<li class="unselected">Interferes with sleep</li>
								<li class="unselected">Troublesome symptoms</li>
								<li class="unselected">Interferes with work or school</li>
								<li class="unselected">Interferes with daily activities, like sports or hobbies</li>
							</ul>
						</div>

						<div class="wac-elements align-img">
							<a href="#" class="mark-graph" target="_blank" data-toggle="modal" data-target="#glass-head" data-type="mark" title="Inside the Head of a Dripper"><span class="wac-expand"></span></a>
						</div>	
					</div>

					<div class="wac-elements align-cta">
						<a href="#" class="wac-cta" target="_blank" data-toggle="modal" data-target="#share" data-type="">Share this profile with a colleague<span class="wac-shareIcon"></span></a>
						<span class="wac-indication">Use only as directed.</span>
					</div>
				</div>
			</div>	
		</div>
	</div>

<!---------------------------------------- Boxes with Each Patient (Kara) ---------------------------------------->	
	<div class="wac-boxes" id="the-mouthbreather">
		<div class="content-whats-a-clucker">
			<h2>Meet Kara <strong>The Mouthbreather</strong></h2>
			<div class="wac-info">
			<!-------------------- Info Personal -------------------->
				<div class="wac-into-1">
					<img src="img/desktop/clucker/karaThemouthbreather.png" alt="">
					<span class="wac-hiddenTxt">
						Meet Kara <br/><strong>The Mouthbreather</strong>
					</span>
					<div class="wacSeak">
						<h3>Why Nasacort<sup>&reg;</sup>?</h3>
						<p>Kara's severe congestion causes troublesome effects like chronic mouthbreathing, which in Kara's case has caused dry, fissured lips, and trouble sleeping. According to the latest medical guidelines, this indicates her symptoms are moderate to severe.</p>
						<p>Antihistamines can only treat Kara's early-phase symptoms like sneezing or rhinorrhea. Nasacort<sup>&reg;</sup> Allergy 24HR can treat these symptoms as well as the congestion that causes Kara's mouthbreathing.</p>
					</div>
				</div>
			<!-------------------- Elements of Impact & Symptoms -------------------->	
				<div class="wac-into-2">
					<div class="wac-boxmobile">
						<div class="wac-elements">
							<h3>Symptoms</h3>
							<ul>
								<li class="selected">Sneezing</li>
								<li class="selected">Rhinorrhea</li>
								<li class="selected">Itchy nose</li>
								<li class="selected">Nasal congestion</li>
							</ul>
						</div>

						<div class="wac-elements">
							<h3>Impact <a  href="t-mouthbreather" class="wac-question">[?]</a></h3>
							<div class="tooltip t-mouthbreather">
								<div class="close-btn">
									<span class="x-btn" href="t-mouthbreather"></span>
								</div>
								<p>According to the latest medical guidelines,<sub>1</sub> allergy symptoms are measured by how significantly a patient's quality of life has been affected by his or her symptoms. In moderate to severe cases, one or more of the following characteristics should be present:</p>
								<ul>
									<li>Sleep disturbance</li>
									<li>Impairment of daily activities (leisure, sports)</li>
									<li>Impairment of school or work</li>
									<li>Troublesome symptoms</li>
								</ul>
							</div>
							<ul>
								<li class="selected">Interferes with sleep</li>
								<li class="selected">Troublesome symptoms</li>
								<li class="unselected">Interferes with work or school</li>
								<li class="unselected">Interferes with daily activities, like sports or hobbies</li>
							</ul>
						</div>

						<div class="wac-elements align-img">
							<a href="#" class="kara-graph" target="_blank" data-toggle="modal" data-target="#glass-head" data-type="kara" title="Inside the Head of a Mouthbreather"><span class="wac-expand"></span></a>     
						</div>	
					</div>

					<div class="wac-elements align-cta">
						<a href="#" class="wac-cta" target="_blank" data-toggle="modal" data-target="#share" data-type="">Share this profile with a colleague<span class="wac-shareIcon"></span></a>
						<span class="wac-indication">Use only as directed.</span>
					</div>
				</div>
			</div>
		</div>
	</div>

<!---------------------------------------- Boxes with Each Patient (Liam) ---------------------------------------->	
	<div class="wac-boxes bg-gray" id="the-sniffler">
		<div class="content-whats-a-clucker">
			<h2>Meet Liam <strong>The Sniffler</strong></h2><a name="meet-liam-the-sniffler"></a>
			<div class="wac-info">
			<!-------------------- Info Personal -------------------->
				<div class="wac-into-1">
					<img src="img/desktop/clucker/liamThesniffler.png" alt="">
					<span class="wac-hiddenTxt">
						Meet Liam <br/><strong>The Sniffler</strong>
					</span>
					<div class="wacSeak">
						<h3>Why Nasacort<sup>&reg;</sup>?</h3>
						<p>Liam's inflamed nasal passages and congestion, combined with the itchiness in his nose, makes life tough for him and his parents. Because Liam is only 2 years old, he struggles to blow his nose without help and can often be heard sniffling. Liam’s parents tried treating his symptoms with an antihistamine with limited success. They are looking for a more effective treatment for Liam that does not include alcohol, which could irritate his sensitive nose.</p>
						<p>According to the latest medical guidelines,  his allergic rhinitis symptoms are moderate to severe. Nasacort<sup>&reg;</sup> Allergy 24HR can help reduce Liam’s troublesome nasal symptoms, including nasal congestion—it’s approved for children as young as 2 and does not contain any alcohol.</p>
					</div>
				</div>
			<!-------------------- Elements of Impact & Symptoms -------------------->	
				<div class="wac-into-2">
					<div class="wac-boxmobile">
						<div class="wac-elements">
							<h3>Symptoms</h3>
							<ul>
								<li class="unselected">Sneezing</li>
								<li class="unselected">Rhinorrhea</li>
								<li class="selected">Itchy nose</li>
								<li class="selected">Nasal congestion</li>
							</ul>
						</div>

						<div class="wac-elements">
							<h3>Impact <a  href="t-sniffler" class="wac-question">[?]</a></h3>
							<div class="tooltip t-sniffler">
								<div class="close-btn">
									<span class="x-btn" href="t-sniffler"></span>
								</div>
								<p>According to the latest medical guidelines,<sub>1</sub> allergy symptoms are measured by how significantly a patient's quality of life has been affected by his or her symptoms. In moderate to severe cases, one or more of the following characteristics should be present:</p>
								<ul>
									<li>Sleep disturbance</li>
									<li>Impairment of daily activities (leisure, sports)</li>
									<li>Impairment of school or work</li>
									<li>Troublesome symptoms</li>
								</ul>
							</div>
							<ul>
								<li class="unselected">Interferes with sleep</li>
								<li class="selected">Troublesome symptoms</li>
								<li class="unselected">Interferes with work or school</li>
								<li class="selected">Interferes with daily activities, like sports or hobbies</li>
							</ul>
						</div>

						<div class="wac-elements align-img">
							<a href="#" class="liam-graph" target="_blank" data-toggle="modal" data-target="#glass-head" data-type="liam" title="Inside the Head of a Sniffler"><span class="wac-expand"></span></a>     
						</div>	
					</div>

					<div class="wac-elements align-cta">
						<a href="#" class="wac-cta" target="_blank" data-toggle="modal" data-target="#share" data-type="">Share this profile with a colleague<span class="wac-shareIcon"></span></a>
						<span class="wac-indication">Use only as directed.</span>
					</div>
				</div>
			</div>
		</div>
	</div>		
</div>
</div>
<div class="download text-center">
	<h2 class="content-whats-a-clucker sub-down">Assess Your Patients’ Symptoms and Determine Treatment</h2>
        <div class="cta-center content-whats-a-clucker">
            {{> cta-download button-details}}
            {{!-- <p>Use only as directed.</p> --}}
        </div>
    </div>
    
{{>glass-head}}
{{>footer}}



