//Fonts
$font-proxima-nova-semibold: "Proxima Nova Semibold";
@include fontFace($font-proxima-nova-semibold, "../fonts/ProximaNova-Semibold/ProximaNova-Semibold");

$font-proxima-nova-regular: "Proxima Nova Regular";
@include fontFace($font-proxima-nova-regular, "../fonts/ProximaNova-Regular/ProximaNova-Regular");

$font-proxima-nova-bold: "Proxima Nova Bold";
@include fontFace($font-proxima-nova-bold, "../fonts/ProximaNova-Bold/ProximaNova-Bold");

$font-main: "arial";







