.footer {
  width:100%;
  min-width: 1200px;
  background-color: grey;
  overflow: hidden;
  padding: 50px 0;
 

    ul {
        height: 100px;
        border-left: 1px solid #747474;
        float: left;
        padding-left: 15px;
        margin-left: 1px;

        &.first-col {
             width: 274px;
         }
        &.second-col {
            width: 277px;
        }
        &.third-col {
            width: 208px;
        }

        li {
            height: 12px;
            margin-bottom: 9px;

            ul {
                border-left: none;
                padding-left: 10px;
                height: auto;
                margin-top: 6px;
            }
        }

    }

    .footer-copy {
        float: left;
        img {
            margin-bottom: 10px;
        }
    }


    div {
        @include centered-container;
        width: 1003px;
    }

}


.footer-absolute {
  bottom: 0;
  position: absolute;
}


.footer-content {
  width: 1200px;
  margin: 0 auto;
  background-color: red;
}

