
.header {
    
    position: relative;
    z-index: 9999;

  .header-top{
      
      .sanofi-logo{
          background:url("../img/desktop/header/sanofi-logo.png") no-repeat;
          width:100px;
          height:21px;
          float:right;
          margin-top:4px;
          margin-right: 14%;
      }
      
      .top-bar{
          background:url("../img/desktop/header/header-bg-shadow.png") repeat-x;
          height:43px;  
          .hcp{
              font-family:Arial, Helvetica, sans-serif;
              font-size:12px;
              color:#3e6faf;
              width:218px;
              float: left;
              line-height: 28px;
              margin-left:$global-margin-left; 
          }
      }
      
      .nassacort-logo{
          background:url("../img/desktop/header/nassacort-logo.png") no-repeat;
          width:213px;
          height:65px;
          display:block;
          position:relative;
          float:left;
          margin-top: 10px;
          margin-left: 14%;
          
          .little-house{
              background:url("../img/desktop/header/little-white-house.png") no-repeat;
              width:32px;
              height:25px;
              display: inline-block;
              position:absolute;
              bottom: 7px;
              right: 0;
              &.active-house{
                  background:url("../img/desktop/header/little-cyan-house.png") no-repeat;
              }
          }
          
          &:hover{
               .little-house{
                    background:url("../img/desktop/header/little-cyan-house.png") no-repeat;
                }
          } 
      }
      
      .blue-bar{          
          background:url("../img/desktop/header/nav-bg-shadow.png") repeat-x;
          height: 91px;
          margin-top: -14px;
      }
      
       ul.utility-nav{
           float:right;
           margin-top: 8px;
           position: relative;
           z-index: 1;
           margin-right: 14%;
           
          li{
              float:left;
              margin-left:25px;
              
              a{
                  color: $color-light-blue2;
                  text-decoration:none;
                  font-size:12px;
                  font-family:Arial, Helvetica, sans-serif;
                  text-transform:uppercase;
                  
                  &:hover {
                     text-decoration:underline;
                     color: $color-cyan !important;
                   }
                  &:visited {
                     color: $color-light-blue2;
                   }
                   
                  &.active-item{
                      text-decoration:underline;
                      color:$color-white;
                  }
              }
          }
      }
      
      ul.main-nav{
           margin-top: 48px;
           position: absolute;
           right: -10px;
           z-index: 1;
           margin-right: 14%;
           
           li{
               float:left;
               
               a{
                  color: $color-white !important;
                  font-size:18px;
                  font-family:Arial, Helvetica, sans-serif;
                  float: left;      
                  
                  &:hover {
                     color: $color-white !important;
                     
                     .active{
                         visibility: visible;
                     }
                     
                     .label{
                         background:url("../img/desktop/header/item-active-bg.png") repeat-x;
                     }
                   }
                   
                  &:visited {
                     color: $color-light-blue2;
                   }
                   
                 .item-left-bg{
                     background:url("../img/desktop/header/item-active-left.png") no-repeat;
                     width:10px;
                     height:26px;
                     float: left;
                  }
                   
                  .item-right-bg{
                     background:url("../img/desktop/header/item-active-right.png") no-repeat;
                     width:10px;
                     height:26px;
                     float: right;
                     position: relative;
                  }
                   
                 .active{
                     visibility: hidden;
                 }
                 
                 .label{
                    padding-bottom: 10px;
                    padding-top: 4px;
                    float:left;
                    height:26px;
                 }
                 
                 &.active-item{
                    color:$color-cyan !important;
                }
               
               }
               
               span.pipe{
                   background-color:$color-white-dark;
                   width:1px;
                   height:15px;
                   float:right;
                   margin-left:10px;
                   margin-right:10px;
                   margin-top:6px;
               }
           }
      }
   
  }
  
  .shine{
       background:url("../img/desktop/header/header-shine.png") no-repeat;
       width:1232px;
       height:82px;
       position: absolute;
       margin-left: auto;
       margin-right: auto;
       left:0;
       right:0;
       z-index: 0;
  }
  
}



@include breakpoint('desktop') {
    
.header {  
    position:relative;
    min-width:1100px;
    .header-top{ 
      .blue-bar{          
          background:url("../img/desktop/header/nav-bg-shadow-big.png") repeat-x;
          height: 150px;
        }      
       ul.main-nav{
           margin-top: 80px;
       }
      }
      .shine{
          height:111px;
          background:url("../img/mobile/header/header-shine.png") no-repeat;
          background-size:100%;
      }
  } 
}

@include breakpoint('tablet') {
    
.header {  
    min-width:769px;
    .header-top{ 
       .top-bar{
           .hcp{
               margin-left:12%;
           }
           .sanofi-logo{
               margin-right:12%;
           }
       }
      .blue-bar{          
          background:url("../img/desktop/header/nav-bg-shadow-big.png") repeat-x;
          height: 150px;
           .nassacort-logo{
               margin-left:13%;
           }
            ul.utility-nav{
                margin-right:12%;
                li{
                    a{
                        font-size:10px;
                    }
                }
            }
        }      
       ul.main-nav{
           margin-top: 80px;
           margin-right:0;
           right:0;
           margin-left: 0;
           left:12%;
           li{
               a{
                   font-size:13px;
               }
               .pipe{
                   margin-top:13px;
               }
           }
       }
      }
      .shine{
          height:111px;
          background:url("../img/mobile/header/header-shine.png") no-repeat;
          background-size:100% contain;
          width:100%;
      }
  } 
  
}


@include breakpoint('mobile') {
    
.header {   
    min-width:320px;     
    .header-top{ 
        .top-bar{
            height:15px;
            background-position: 0px -15px;
            .hcp{
                margin-left:4%;
                font-size:6px;
                line-height:13px;
                width:auto;
            }
            .sanofi-logo{
                background-size:100%;
                float: right;
                height: 11px;
                margin-right: 1%;
                margin-top: 1px;
                width: 50px;
            }
        }
      .blue-bar{          
          background:url("../img/desktop/header/nav-bg-shadow.png") repeat-x;
          height: 65px;
          margin-top:0;
          background-position:0px 0px;
          height:91px;
          
          .shine{
              height:54px;
              width:100%;
              background:url("../img/mobile/header/header-shine.png") no-repeat;
              background-position:100%;
              background-size:100% contain; 
              margin-top:28px;
          }
          .nassacort-logo{
              width:89px;
              height:33px;
              background-size: 100%;
              margin-top:42px;
              margin-left: auto;
              margin-right: auto;
              left:0;
              right:0;
              position:absolute;
              .little-house{
                  width:16px;
                  height:13px;
                  background-size:100%;
                  bottom: 4px;
                  right: -17px;
              }
          }
          ul.utility-nav{
                float: left;
                margin-right: 0;
                margin-top:0;
                background-color:#125ca2;
                height:29px;
                border-bottom: 1px solid #6495c7;
                width:100%;
                
                li{
                    margin-left:4%;
                    margin-top:8px;
                    a{
                        font-size:10px;
                    }
                    &:first-child{
                        margin-left:4%;
                    }
                }
          }
        }      
       ul.main-nav{
            background-color: #ffffff;
            margin-right: 0;
            margin-top: 82px;
            right: 0;
            width: 100%;
            z-index:-1;
           li{        
               width:25%; 
               border-left:1px solid $color-dark-blue;
               border-bottom:1px solid $color-dark-blue;
               a{
                   color:$color-dark-blue !important;
                   font-size:14px;  
                   width:100%;
                   text-align: center; 
                   height:60px;
                   padding-top:11%;
                   padding-left:2%;
                   padding-right:2%;
                   .label{
                     width:100%;
                    }
                    &.active-item{
                      color:$color-dark-blue !important;
                      font-weight:bold;
                      background-color:#cbe5ff;
                     }
                   &:hover{
                   color: $color-dark-blue !important;
                 
                     .active{
                         visibility: hidden;
                     }
                     
                     .label{
                         background:none;
                     }
                    }
                    .item-left-bg{
                        display:none;
                    } 
                    .item-right-bg{
                        display:none;
                    }
               }
               .pipe{
                   display:none;
               }
               &:last-child{
                   border-right:1px solid $color-dark-blue;
               }
           }
       }
      }
      
  } 
  
  .section-content{
      
  }
  
}
