//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit


//variables

$zindex-modal: 9999;
$modal-content-bg:#FFFFFF;
$border-radius-large:30px;
$zindex-modal-background:9998;
$modal-backdrop-bg:#000000;
$modal-backdrop-opacity:0.8;
$modal-title-line-height:12px;
$modal-inner-padding:30px;
$screen-sm-min:320px;
$modal-width:1021px;
$modal-height:649px;
$modal-text-color:#5a5e5f;
$modal-link-color:#0099cc;

//Mixins

@mixin transition-transform($type){
  
   transition: opacity $type;
  
}

.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  max-width: 1021px;
  height: 649px;
  margin: 5.5% auto;
  z-index: 9999;
  background-color: #FFFFFF;
  border-radius: 14px;
  overflow: scroll;
  padding: 31px 40px 31px 38px;
}

.modal-content {
  background-clip: padding-box;
  outline: 0;
  z-index: 9999;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: #000000;
  &.fade {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  &.in {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
  }
}

.modal-body {
  position: relative;
  padding: 30px;
  padding-top: 0;
  padding-bottom: 22px;
  padding-right: 25px;
  background-color: #FFFFFF;
}

.close-modal {
  background: url("../img/desktop/ctas/close-icon.png") no-repeat;
  display: inline-block;
  height: 29px;
  position: absolute;
  right: 50px;
  top: 32px;
  width: 29px;
  cursor: pointer;
}

.modal-header h1 {
  margin-top: 0;
  font-size: 32px;
  letter-spacing: 1px;
  padding-top:0;
  margin-bottom: 22px;
}


.modal-intro {
  p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  a {
    color: #0099cc;
    text-decoration: none;
  }
}

.modal-text {
  h3 {
    font-size: 22px;
    color: #5a5e5f;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: none; 
  }
  p {
    font-size: 18px;
    margin-top: 0;
  }
  ul {
    margin-bottom: 31px;
    li {
      font-size: 18px;
      line-height: 24px;
      color: #5a5e5f;
      margin-left: 13px;
      &:before {
        content: "\2022 ";
        left: -3px;
        margin-left: -13px;
        position: relative;
      }
    }
  }
}


