#share{
    .modal-content{
        .modal-dialog{
            padding-top:26px;
            .close-modal{
                top:18px;
                right:17px;
            }
            .modal-header{
                h1{
                    
                }
            }
        }
    }
}
