#share{
    .modal-content{
        .modal-dialog{
            height:462px;
            padding-top:26px;
            padding-left:58px;
            padding-right:58px;
            padding-bottom:40px;
            overflow: hidden;
            .close-modal{
                top:18px;
                right:17px;
            }
            .modal-header{
                h1{
                    
                }
            }
            .form-content{
                margin-top: 48px;
                #share-form{
                    fieldset{
                        .left-column{
                            width:45%;
                            float:left;
                            margin-right:10%;
                        }
                        .right-column{
                            width:45%;
                            float:right;
                        }
                        .your-name{
                            float:left;
                            margin-bottom:32px;
                            width:100%;
                            height:80px;
                            overflow: visible;
                            z-index: 2;
                            position:relative;
                        }
                        .your-email{
                            float:left;
                            width:100%;
                        }
                        .recipient-name{
                            float:left;
                            margin-bottom:32px;
                            width:100%;
                            height:80px;
                            overflow: visible;
                            z-index: 2;
                            position:relative;
                        }
                        .recipient-email{
                            float:left;
                            width:100%;
                        }
                        label{
                            font-family:Arial, Helvetica, sans-serif;
                            color:#5a5e5f;
                            font-size:16px;
                            float:left;
                            margin-bottom:10px;
                            height:auto;
                        }
                        input[type='text']{
                            font-family:Arial, Helvetica, sans-serif;
                            color:#989c9f;
                            font-size:16px;
                            @include border-radius(5px);
                            outline: 0;
                            border: 2px solid #8096bf;
                            width:100%;
                            max-width:410px;
                            height:58px;
                            background-color:#f6f4f4;
                            float:left;
                            padding-left:22px;
                            position: relative;
                            z-index:1;
                            @include box-sizing(border-box);
                        }
                        .triangle{
                             background:url("../img/desktop/ctas/error-globe-triangle.png") no-repeat;
                             width:19px;
                             height:16px;
                             position: relative;
                             margin-top:74px;
                             margin-left: auto;
                             margin-right: auto;
                             z-index:2;
                             display:none;
                        }
                        .error-globe{
                            background:url("../img/desktop/ctas/error-globe-dialog.png") no-repeat;
                            height:75px;
                            margin-left: -4px;
                            margin-top:-18px;
                            position: relative;
                            width: 101%;
                            padding-left:25px;
                            padding-top:22px;
                            z-index: 0;
                            cursor:pointer;
                            display:none;
                            p{
                                color:#2e2e2e;
                                line-height:18px;
                                width:70%;
                                float:left;
                                margin-bottom:0;
                            }
                            .close-globe{
                                 background:url("../img/desktop/ctas/error-globe-close.png") no-repeat;
                                 width:15px;
                                 height:16px;
                                 float:right;
                                 position:relative;
                                 right: 15px;
                                 top: 12px;
                            }
                            
                        }
                        .bottom-content{
                            float:left;
                            margin-top:250px;
                            position:absolute;
                            z-index: -2;
                            padding-right:58px;
                            .left-column{
                                width:60%;
                                margin-right:0;
                            }
                            .right-column{
                                width:40%;
                                float:right;
                                text-align:right;
                                margin-top:26px;
                            }
                            .all-fields{
                                font-family:Arial, Helvetica, sans-serif;
                                color:#e15d10;
                                font-size:16px;
                                float:left;
                                margin-bottom:14px;
                            }
                            p{
                                font-family:Arial, Helvetica, sans-serif;
                                color:#5a5e5f;
                                font-size:16px;
                                line-height:22px;
                                float:left;
                                margin-bottom:0;
                            }
                            .button{
                                width:90px;
                                height:42px;
                                font-family:Arial, Helvetica, sans-serif;
                                font-weight:bold;
                                color:$color-white;
                                font-size:20px;
                                @include border-radius(5px);
                                border:0;
                                cursor:pointer;
                            }
                            .button-cancel{
                                background-color:#8b8b8b;
                                margin-right:20px;
                            }
                            .button-send{
                                background:url("../img/desktop/ctas/send-button-bg.png") repeat-x;
                            }
                            .check-mark{
                                background:url("../img/desktop/ctas/send-button-bg-check-mark.png") no-repeat;
                                padding-right:28px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@include breakpoint('desktop') {
    
}

@include breakpoint('tablet') {
    
}

@include breakpoint('mobile') {

#share{
  .modal-content{
        .modal-dialog{
            min-width:296px;
            padding-left:#{fluid-percentage($site-max-width-mobile, 24)};
            padding-right:#{fluid-percentage($site-max-width-mobile, 24)};
            height:auto;
            padding-bottom: 14px;
            .modal-header{
                h1{
                    margin-bottom:0;
                }
            }
            .form-content{
                margin-top:16px;
                #share-form{
                    fieldset{
                        .left-column{
                            margin-top:0;
                            width:100%;
                            margin-right:0;
                        }
                        .right-column{
                            width:100%;
                        }
                        .your-name{
                            margin-bottom:0;
                            height:66px;
                            position:relative;
                            z-index:4;
                        }
                        .your-email{
                            height:66px;
                            position:relative;
                            z-index:3;
                        }
                        .recipient-name{
                            margin-bottom:0;
                            height:66px;
                            position:relative;
                            z-index:2;
                        }
                        .recipient-email{
                            height:66px;
                            position:relative;
                            z-index:1;
                        }
                        label{
                            font-size:12px;
                            height:auto !important;
                            margin-bottom:6px;
                            padding-left:0px;
                            width:100%;
                        }
                        input[type='text']{
                            font-size:12px;
                            color:#363737;
                            height:30px;
                            padding-left:13px;
                            max-width:100%;
                        }
                        .triangle{
                            width:7px;
                            height:9px;
                            background-size:contain;
                            margin-top:42px;
                        }
                        .error-globe{
                            background:url("../img/mobile/ctas/error-globe-dialog.png") no-repeat;   
                            height: 45px;
                            margin-top: -6px;
                            margin-left:-2px;
                            padding-bottom: 0;
                            padding-top: 10px;
                            width:100.2%;
                            background-size:cover;
                            padding-left:15px;
                            p{
                                font-size:12px;
                                line-height:12px;
                            }
                            .close-globe{
                                width:7px;
                                height:8px;
                                background-size:contain;
                                top:9px;
                            }
                        }
                        .bottom-content{
                             position:relative;
                             margin-bottom: 0;
                             margin-top: 0;
                             z-index: auto;
                             padding-right:0;
                            .left-column{
                                width:100%;
                                .all-fields{
                                    font-size:10px;
                                    margin-bottom:6px;
                                    width:100%;
                                }
                                p{
                                    font-size:10px;
                                    line-height:11px;
                                }
                            }
                            .right-column{
                                width:100%;
                                float:left;
                                margin-top:12px;
                                text-align:center;
                                .button{
                                    width:80px;
                                    height:38px;
                                    font-size:14px;
                                }
                                .button-cancel{
                                    margin-right:10px;
                                }
                                .button-send{
                                    background:url("../img/desktop/ctas/send-button-bg.png") repeat-x;
                                }
                                .check-mark{
                                    background:url("../img/desktop/ctas/send-button-bg-check-mark.png") no-repeat;
                                    padding-right:28px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
}