
sup {
    font-size: 75%;

    /* Zero out the line-height so that it doesn't
       interfere with the positioning that follows */
    line-height: 0;

    /* Where the magic happens: makes all browsers position
       the sup/sup properly, relative to the surrounding text */
    position: relative;

    /* Note that if you're using Eric Meyer's reset.css, this
       is already set and you can remove this rule */
    vertical-align: baseline;
    /* Move the superscripted text up */
    top: -0.4em;
    cursor: pointer;
}

h1{
    font-family:$font-proxima-nova-semibold;
    color:$color-dark-blue;
    font-size:50px;
}

.underlined{
    background-color:#cfd9e8;
    width:51px;
    height:6px;
    display: block;
}
