i{
  font-style: italic;
}
sup {
    font-size: 60%;

    /* Zero out the line-height so that it doesn't
       interfere with the positioning that follows */
    line-height: 0;

    /* Where the magic happens: makes all browsers position
       the sup/sup properly, relative to the surrounding text */
    position: relative;

    /* Note that if you're using Eric Meyer's reset.css, this
       is already set and you can remove this rule */
    vertical-align: baseline;
    /* Move the superscripted text up */
    top: -0.4em;
}

h1{
    font-family:$font-proxima-nova-semibold;
    color:$color-dark-blue;
    font-size:50px;
    padding-top:90px;
}

.underlined{
    background-color:#cfd9e8;
    width:51px;
    height:6px;
    display: block;
    margin-top:10px;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    color:$color-blue;
    font-size:32px;
    margin-top:50px;
    font-weight:bold;
    margin-bottom:25px;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    color:$color-dark-grey;
    font-size:16px;
    margin-top:18px;
    margin-bottom:30px;
    line-height: 24px;
}

.blue-text{
     color:$color-blue-text;
}

.right-aligned{
    text-align: right;
    margin-top: 0;
    margin-bottom: 15px;
    position: relative;
    float:left;
    width:100%;
    right:-#{fluid-percentage($site-max-width, 270)};
}

h3{
    font-family:$font-proxima-nova-semibold;
    color:$color-dark-blue;
    font-size:30px;
    text-transform:uppercase;
}

h4{
    font-family:$font-proxima-nova-bold;
    color:$color-callout-light-blue;
    font-size:29px;
}

.highlighted{
    color:$color-cyan-highlighted;
}

.graphic-superscript{
    width:100%;
    height:10px;
    background-color: transparent;
    //background-color:red;
    display:block;
    position:relative;
    margin: 0 auto;
    max-width: 814px;
    .button{       
        background-color: transparent;
        //background-color: black;
        display: block;
        height: 10px;
        width: 15px;
        position:relative;
        cursor:pointer;
        float:left;
    }
    @include breakpoint('mobile'){
        max-width: 604px;
    }
}



// -----------------------------------------------------------

.download-cta-button{
    max-width: 100%;
    display: inline-block;
    margin: 39px 0;
    text-align: center;
    .show-dsk{
        width: 61px!important;
        height: 61px;
    }
    @include breakpoint('mobile'){
        margin: 9px 0;
        width:359px;
        margin-left: 0;
    }


    @include breakpoint('mobile'){
      //  min-width: 275px;
    }
    .shareSympt{
        background:url('../img/global/desktop/share-btn.png')no-repeat;
        float: left;
        height: 75px;
        position: relative;
        right: 4px;
        width: 114px;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        color: $download-cta-color-beige;
        text-decoration: none;
        padding-left: 5px;
        padding-top: 28px;
        @include breakpoint('mobile'){
            background:url('../img/global/mobile/share-btn-small.png')no-repeat;
            width: 20%;
            font-size: 14px;
            height: 51px;
            background-size:100% 50px;
            right:0;
        }
        @media screen and (max-width: 335px) { 
          width:20%;
        }
        .shareSympt-icon{
            background:url('../img/global/desktop/shareSympt-icon.png')no-repeat;
            width: 17px;
            height: 18px;
            display: inline-block;
            position: relative;
            top: 3px;
            @include breakpoint('mobile'){
                background-size:100%;
                top: -35px;
                display:block;
                margin-left:auto;
                margin-right:auto;
            }
        }
        &:hover{
            color:$color-white;
            .shareSympt-icon{
                background:url('../img/global/desktop/shareSympt-icon-hover.png')no-repeat;
            }
        }
    }
    .sympt{
        background-color:$download-cta-color-orange;
        height: 75px;
        display: inline-block;
        //border-radius: 6px 6px;
        @include border-corner-radius(top, left, 6px);
        @include border-corner-radius(bottom, left, 6px);
        text-decoration: none;
        border:1px solid $download-cta-color-orange;
        float: left;
        position:relative;
        z-index: 1;
        // width: 100%;
        // max-width: 450px;
        //min-width: 450px;
        @include breakpoint('mobile'){
            height: 50px;
            //min-width: 184px;
            width:80%;
            @include border-corner-radius(top, left, 3px);
            @include border-corner-radius(bottom, left, 3px);
        }
        @media screen and (max-width: 335px) {
          min-width: 184px;     
          width:80%;
        }
        img{
            position: relative;
            margin-top: 7px;
            float: left;
            margin-left: 13px;
            @include breakpoint('mobile'){
                margin-top: 4px;
            }
        }
        .down-txt{
            color:$color-white;
            font-weight: bold;
            font-size: 20px;
            padding: 28px 22px;
            float: left;
            display: inline-block;
            position:relative;
            
            @include breakpoint('mobile'){
                font-size: 12px;
                line-height: 18px;
                //padding: 7px 4px 0 20px;
                text-align: left;
                max-width: 73%;
                padding-left:10%;
                padding-top:3%;
                padding-right:0;
                padding-bottom:0;
            }
            
            @media screen and (min-width: 500px) {
              //line-height: 34px;
          }
          
          @media screen and (max-width: 500px) {
              //line-height: 100%;
          }
            
            &:before{
                content:" ";
                background:url('../img/global/desktop/downl-cta-line.png')no-repeat;
                width: 2px;
                height: 66px;
                position: absolute;
                display: inline-block;
                left: 9px;
                top: 4px;
                @include breakpoint('mobile'){
                    height: 39px;
                    left:5px;
                }
            }
        }
        &:hover{
            background-color:$color-white;
            span{
                color: $download-cta-color-orange;
            }
        }
    }
}


.nobr {
  white-space: nowrap;
}



.center-page {
  max-width: 1400px;
  margin: auto;
  position:relative;
  overflow: hidden;
  @include breakpoint("desktop") {
    padding-left: 0!important;
    padding-right:0!important;
  }
  @include breakpoint("tablet") {
    max-width: 100%;
    padding-left: 40px!important;
    padding-right:40px!important;
  }
  @include breakpoint("mobile") {
    max-width: 100%;
    padding-left: 0!important;
    padding-right:0!important;
  }
}



.ncontainer {
  min-height: 50px; //borrar
  width: 100%;

  .content {
    max-width: 1400px;
    margin: auto;
    min-height: 50px;  //borrar

  }
  
  .copy{
     @media screen and (max-width: 1063px) {
         float:left;
     } 
  }



  .hero-banner {
    height: 329px;
    margin: auto;
    
   @media screen and (max-width: 1063px) {
       background-size:contain !important;
       height:auto;
       padding-bottom: 23.5%;
   }
   
    @include breakpoint('mobile'){
       height:auto;
       padding-bottom: 23.5%;
       background-size:cover !important;
       height: 172px;
       max-height: 344px;
       min-height: 172px;
       min-width: 320px;
       padding-bottom: 0;
       background-position: 80% 0 !important;
    }

    h1  {
      margin-left: #{fluid-percentage($site-max-width, 213)};
      font-family: $font-proxima-nova-semibold;
      color: $color-dark-blue;
      font-size: 50px;
      padding-top: 65px;
      @media screen and (max-width: 1063px) {
        padding-top: 35px;
        margin-left: 80px;
        width:70%;
      }
      @include breakpoint('mobile'){
          font-size:17px;
          padding-top: 21px;
          margin-left:25px;
      }
    }

    .underlined {
      margin-left: #{fluid-percentage($site-max-width, 213)};
      margin-top: 19px;
      @media screen and (max-width: 1063px) {
        margin-left: 80px;
      }
      @include breakpoint('mobile'){
            width:25px;
            height:3px;
            margin-top:19px;
            margin-left: 25px;
        }
    }


  }


  h2 {
    font-family:Arial, Helvetica, sans-serif;
    color:$color-blue;
    font-size:32px;
    margin-top:47px;
    font-weight:bold;
    margin-bottom:19px;
  }



}

.bg-cyan {
  background-color: $color-blue-light-container;
}

.first-container {
  margin-top: -9px;
  padding-top: 120px;

  @include breakpoint('desktop') {
    padding-top: 148px;
  }
  @media screen and (max-width: 1063px) {
    padding-top: 148px;
  }
  @include breakpoint('mobile'){
    padding-top: 128px !important;
  }

}

/* Fancy Box styles */
.fancybox-overlay {
    position:fixed !important;
}


#fancybox-buttons {
  display: none;
}

/*********** IE9 Adjustments *********/

.ie9 sup {
    top: -0.6em;
}

.ie9 .footnote .animation{
    cursor:default;
}


/*Modal Bootstrap fix*/
@include breakpoint('mobile'){
    body.modal-open { position: fixed; }
}

