
sup {
    font-size: 75%;

    /* Zero out the line-height so that it doesn't
       interfere with the positioning that follows */
    line-height: 0;

    /* Where the magic happens: makes all browsers position
       the sup/sup properly, relative to the surrounding text */
    position: relative;

    /* Note that if you're using Eric Meyer's reset.css, this
       is already set and you can remove this rule */
    vertical-align: baseline;
    /* Move the superscripted text up */
    top: -0.4em;
    cursor: pointer;
}

h1{
    font-family:$font-proxima-nova-semibold;
    color:$color-dark-blue;
    font-size:50px;
    margin-top:90px;
}

.underlined{
    background-color:#cfd9e8;
    width:51px;
    height:6px;
    display: block;
    margin-top:10px;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    color:$color-blue;
    font-size:32px;
    margin-top:50px;
    font-weight:bold;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    color:$color-dark-grey;
    font-size:16px;
    margin-top:18px;
    margin-bottom:30px;
    line-height: 24px;
}

.chart-head{
    font-family:Arial, Helvetica, sans-serif;
    color:$color-dark-grey;
    font-size:20px;
    margin-bottom:22px;
    font-weight:bold;
    display:block;
}

.blue-text{
     color:$color-blue-text;
}

.right-aligned{
    text-align: right;
    
    margin-top: 0;
    float: right;
    margin-right: 40px;
    position: relative;
}

h3{
    font-family:$font-proxima-nova-semibold;
    color:$color-dark-blue;
    font-size:30px;
    text-transform:uppercase;
}

h4{
    font-family:$font-proxima-nova-bold;
    color:$color-callout-light-blue;
    font-size:29px;
}

.highlighted{
    color:$color-cyan-highlighted;
}
