// global variables  ------------------------------------------------

$base-font-size: 16px;
$site-max-width: 1400px;
$site-max-width-mobile: 640px;



// pallete ------------------------------------------------

$color-white: #ffffff;
$color-white-dark: #fcfcfc;
$color-black: #000000;
$color-cyan: #6adaff;
$color-blue: #2974ab;
$color-dark-blue:  #022e80;
$color-dark-blue2: #0c3e78;
$color-bright-blue: #0099cc;
$color-light-blue: #d1e1f4;
$color-light-blue2: #d2e1ed;
$color-orange: #eb5d2b;
$color-dark-orange: #ac2d01;
$color-light-yellow: #ffca82;
$color-dark-grey: #555555;
$color-medium-grey: #838383;
$color-light-grey: #275dae;
$color-blue-text:#1c68a1;
$color-cyan-text:#0099cc;
$color-blue-light-container:#e5ebf0;
$color-callout-light-blue:#7fc3fd;
$color-cyan-highlighted:#008dc1;
$color-bg-cta-download:#f26023;
$color-cta-share:#ffca82;
$color-blue-titles:#0d5ea4;
$color-cta-share:#ffc97f;
$color-section-background: #ebeff4;
$color-section-divider: #cccccc;

$download-cta-color-beige:#ffca82;
$download-cta-color-orange:#eb5d2b;
