<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9]>         <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en">         <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/ico" href="favicon.ico"/>
        <link rel="apple-touch-icon" href="apple-touch-icon.png" />
        <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />

        <!--<link rel="stylesheet" href="css/vendor/bootstrap.min.css">-->
        <link rel="stylesheet" href="../css/main.css">

    </head>
    <body class="{{section}}-section">
        <div class="container">
            {{>body}}
        </div>
        <script src="../js/vendor/jquery-1.11.1.min.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/sections/{{section}}.js"></script>
        <script src="../js/vendor/jquery.cycle2.min.js"></script> 

    </body>
</html>
