

.footnote {
  display: inline-block;
  width: 161px;
  background: url("../img/desktop/ctas/footnote-btn.png") no-repeat;
  position: absolute;
  left: -1px;
  height: 74px;
  cursor:pointer;
  margin-top:230px;
  z-index: 1;
  .rfrs{
      .references{
          float:left;
      }
        p {
        color: #000000;
        font-size: 12px;
        width: 100%;
        display: none;
        font-weight:normal;
            &:last-child{
                margin-bottom:0;
            }
      }
  }
  
  .close-btn {
    position: absolute;
    top: 23px;
    right: 35px;
    cursor:pointer;
    .x-btn {
      position: absolute;
      background: url("../img/desktop/ctas/switch-close.png") no-repeat;
      width: 11px;
      height: 11px;
      display: none;
      @include breakpoint('mobile'){
        right: -7px;
        top: 9px;
      }
    }
    &:hover{
        .x-btn {
            background: url("../img/desktop/ctas/switch-close-hover.png") no-repeat;
        }
    }
  }
  .switch {
    width: 100px;
  }

  &:hover{
      background: url("../img/desktop/ctas/footnote-btn-hover.png") no-repeat;
      //background-color: $color-white;
  }
}


.animation {
  width: 42% !important;
  height: auto !important;
  cursor:auto;
  border-radius: 0 20px 20px 0;
    border: 1px solid #e0e7f3;
    padding-top: 26px;
    padding-right:32px;
    padding-left:17px;
    padding-bottom:24px;
    margin-left:-6px;
    background: none;
    background-color: $color-white;
    z-index: 100;
    &:hover{
        background: none;
        background-color: $color-white;
    }
  .x-btn {
    display: block !important;
  }
  .rfrs p {
    display: block;
    margin-bottom: 14px;
  }
}


@include breakpoint('desktop') {
.footnote{   
    width:#{fluid-percentage($site-max-width, 161)};
    height:70px; /*verify if exists mixing to calculate height*/
    background-size: contain;
    .rfrs{ 
        p{
            font-size:1em;
            line-height:1.3em;
            margin-bottom:1em;
        } 
    }
    &:hover{
        width:#{fluid-percentage($site-max-width, 161)};
        background-size: contain;
    }
}
}

@include breakpoint('tablet') {
.footnote{
    width:#{fluid-percentage($site-max-width, 161)};
    height:56px; /*verify if exists mixing to calculate height*/
    background-size: contain;
    .rfrs{
        p{
            font-size:1em;
            line-height:1em;
            margin-bottom: 1em;
            margin-top: 1em;
        }
    } 
    &:hover{
        width:#{fluid-percentage($site-max-width, 161)};
        background-size: contain;
    }
}
}

@include breakpoint('mobile') {     
.footnote{  
    width:#{fluid-percentage($site-max-width-mobile, 88)};
    height:42px;
    background-size: contain;
    min-width:88px;
    margin-top: 0;
    position:relative;
    margin-bottom:4px;
    float:left;
    left:-#{fluid-percentage($site-max-width-mobile, 55)};
    .close-btn{
        right:24px;
        top:10px;
    }
    .rfrs{ 
        p{
            font-size:12px;
            line-height:18px;
            margin-bottom: 26px;
            margin-top: 0;
        } 
    }
    &:hover{
        width:#{fluid-percentage($site-max-width-mobile, 88)};
        height:42px;
        background-size: contain;
    }
}

.animation{
    width: 100% !important;
    position:absolute;
    left:0;
}
}
    
   
