

.footnote {
  display: inline-block;
  width: 161px;
  position: fixed;
  left: -1px;
  height: 74px;
  border-radius: 0 40px 40px 0;
  padding: 16px 0 16px 23px;
  border: 1px solid #e0e7f3;
  background-color: #ffffff;
  z-index: 9999;
  cursor:pointer;
  .rfrs p {
    color: #000000;
    font-size: 12px;
    width: 100%;
    display: none;
  }
  .close {
    position: absolute;
    top: 22px;
    right: 30px;
    cursor:pointer;
    .x-btn {
      position: absolute;
      background: url("../img/desktop/ctas/switch-close.png") no-repeat;
      width: 11px;
      height: 11px;
      display: none;
    }
    &:hover{
        .x-btn {
            background: url("../img/desktop/ctas/switch-close-hover.png") no-repeat;
        }
    }
  }
  .switch {
    width: 100px;
  }
  .rfrs{
    display:none;  
    padding:0;
    padding-top: 26px;
    padding-right:22px;
    margin-left:-6px;
    p{
        font-weight:normal;
        &:last-child{
            margin-bottom:0;
        }
    }
  }
  p {
    font-size: 16px;
    color: $color-dark-blue;
    font-weight: bold;
    line-height: 19px;
  }
  .innImg {
    position: absolute;
    top: 25px;
    left: 126px;
    .arrow-open {
      position: absolute;
      background: url("../img/desktop/ctas/arrow-foot.png") no-repeat;
      width: 13px !important;
      height: 20px !important;
    }
  }
  &:hover{
      p{
          color:$color-orange;
      }
      .innImg {
        .arrow-open {
          background: url("../img/desktop/ctas/arrow-foot-hover.png") no-repeat;
        }
      }
      .rfrs p {
        color: #000000;
    }
  }
}


.animation {
  width: 593px !important;
  height: auto !important;
  border-radius: 0 20px 20px 0;
  cursor:auto;
  .switch, .innImg {
    display: none !important;
  }
  .x-btn {
    display: block !important;
  }
  .rfrs p {
    display: block;
    margin-bottom: 14px;
  }
}