.isi-container {
    padding-bottom: 4px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 21px;
    width: 100%;
    overflow: hidden;
    max-width: 763px;
}

.isi-header.upper {
    margin-bottom: 17px;
}

.isi-header {
    margin-bottom: 5px;
}

.isi-copy {
    margin-bottom: 18px!important;
}
.references {
    padding-bottom: 2px;
    ul {
        li {
            list-style-type: none;
            background-image: none;
            padding-left: 0;
            margin-left: 0;
            max-width: 763px;

        }
    }
}